<div ng-controller="PrinterFormCtrl as ctrl">
  <div class="portlet light">
    <div class="portlet-title">
      <div class="caption font-green">
        <i class="icon-pin font-green"></i>
        <span class="caption-subject bold uppercase">Dados</span>
      </div>
    </div>
    <div class="portlet-body form">
      <form role="form" name="ctrl.form" ng-submit="ctrl.save()">
        <div class="form-body">
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group form-md-line-input">
                <div class="md-checkbox">
                  <input type="checkbox" id="default" class="md-check" ng-model="ctrl.model.default" ng-true-value="true" ng-false-value="false">
                  <label for="default">
                    <span></span>
                    <span class="check"></span>
                    <span class="box"></span>
                      Impressora padrão
                  </label>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-6">
              <div class="form-group form-md-line-input form-md-floating-label">
                <input type="text" class="form-control" ng-class="{'edited': ctrl.model.name != null}" ng-model="ctrl.model.name" id="printer_name">
                <label for="printer_name">Nome</label>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-6">
              <div class="form-group form-md-line-input">
                <ui-select ng-model="ctrl.selectedPrinter" theme="selectize" class="form-control">
                  <ui-select-match placeholder="Impressora">{{$select.selected.real_name}} [{{$select.selected.server_name}}]</ui-select-match>
                  <ui-select-choices group-by="'server_name'" repeat="printer in ctrl.printers | filter: $select.search">
                    <div ng-bind-html="printer.real_name | highlight: $select.search"></div>
                  </ui-select-choices>
                </ui-select>
              </div>
            </div>
          </div>

          <div class="form-actions noborder">
            <button type="submit" class="btn blue">Salvar</button>
            <a href="/printers" class="btn default">Voltar</a>
            <button type="button" class="btn red" ng-hide="ctrl.id == undefined" ng-click="ctrl.openDestroyModal()">Apagar</button>

            <div id="modal_delete_printer" class="modal fade in" tabindex="-1" role="basic" aria-hidden="true" ng-if="ctrl.id !== undefined">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header bg-red">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h3 class="modal-title">
                      <strong>
                        Aviso
                      </strong>
                    </h3>
                  </div>
                  <div class="modal-body">
                    <div class="row">
                      <div class="col-md-12">
                        Tem certeza que deseja apagar essa impressora?
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <div class="form-actions noborder">
                      <button type="button" class="btn default" data-dismiss="modal">Cancelar</button>
                      <button type="button" class="btn red" data-dismiss="modal" ng-click="ctrl.destroy()">Apagar</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
