<div ng-controller="PrinterIndexCtrl as ctrl">
  <div class="row">
    <div class="col-md-12">
      <div class="portlet light">
        <div class="portlet-title">
          <div class="caption">
            <span class="caption-subject bold font-blue uppercase">Servidores de impressão</span>
          </div>
          <div class="actions"></div>
        </div>
        <div class="portlet-body util-btn-margin-bottom-5">
          <div class="clearfix" ng-if="ctrl.lastVersion !== null">
            <h4 class="block">Download <strong>v{{ctrl.lastVersion}}</strong></h4>
            <a href="/print_server/windows.exe" target="_blank" class="btn btn-default">
              <i class="fa fa-windows"> Windows</i>
            </a>
            <a href="/print_server/linux.run" target="_blank" class="btn btn-default">
              <i class="fa fa-linux"> Linux</i>
            </a>
          </div>

          <div class="clearfix">
            <h4 class="block">Servidores online</h4>
            <h5 ng-if="ctrl.onlineServers.length === 0">Nenhum servidor online</h5>
            <ul class="list-group" ng-if="ctrl.onlineServers.length !== 0">
              <li class="list-group-item" ng-repeat="server in ctrl.onlineServers | orderBy: 'server_name'">
                {{server.server_name}}
                <span class="badge badge-info" ng-if="server.version === ctrl.lastVersion">v{{server.version}}</span>
                <span class="badge badge-danger tooltips" data-original-title="Esse servidor está desatualizado" ng-if="server.version !== ctrl.lastVersion">v{{server.version}}</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="portlet light">
        <div class="portlet-title">
          <div class="caption">
            <span class="caption-subject bold font-blue uppercase">Impressoras</span>
          </div>
          <div class="actions"></div>
        </div>
        <div class="portlet-body">
          <div class="table-toolbar">
            <div class="row">
              <div class="col-md-6">
                <div class="btn-group">
                  <a href="/printers/new" class="btn sbold green margin-right-10">
                    <i class="fa fa-plus"></i> Nova 
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="dataTables_wrapper no-footer">
            <table class="table table-striped table-bordered table-hover" id="table_printers">
              <thead>
                <th class="text-center uppercase"></th>
                <th class="text-center uppercase"></th>
                <th class="text-center uppercase"></th>
                <th class="text-center uppercase"></th>
              </thead>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>