<div ng-controller="DocFormCtrl as ctrl">
  <div class="row">
    <div class="portlet light">
      <div class="portlet-title">
        <div class="caption font-green">
          <i class="icon-book-open font-green"></i>
          <span class="caption-subject bold uppercase">
            Documento
          </span>
        </div>
        <div class="actions">
        </div>
      </div>
      <div class="portlet-body form">
        <form role="form" name="docForm">
          <div class="form-body">
            <div class="row">
              <div class="col-sm-12">
                <summernote min-height="300" ng-model="ctrl.model.text"></summernote>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <div class="form-actions noborder">
          <button type="button" class="btn blue" ng-click="ctrl.saveDocument()">Salvar</button>
        </div>
      </div>
    </div>
  </div>
</div>