<!-- BEGIN HEADER INNER -->
<div class="page-header-inner">
  <!-- BEGIN LOGO -->
  <div class="page-logo">
    <a href="/">
      <img ng-src="{{ctrl.user.workplace.logo_url}}" class="logo-default" />  
    </a>
    
    <div class="menu-toggler sidebar-toggler"></div>
  </div>
  <!-- END LOGO -->
  <!-- BEGIN RESPONSIVE MENU TOGGLER -->
  <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse"></a>
  <!-- END RESPONSIVE MENU TOGGLER -->

  <div class="page-actions">
    <h4>Bem vindo, {{user.username}}</h4>
  </div>
  <!-- BEGIN PAGE TOP -->
  <div class="page-top">
    <!-- BEGIN TOP NAVIGATION MENU -->
    <div class="top-menu">
      <ul class="nav navbar-nav pull-right">
        <li class="dropdown dropdown-user dropdown-dark">
          <a href="/document" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true" title="Documento">
            <i class="fa fa-question-circle fa-2x"></i>
          </a>
        </li>
        <li class="separator"></li>
        <li class="dropdown dropdown-user dropdown-dark">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
            <span class="username username-hide-on-mobile" ng-class="ctrl.workplaceEnum.findById(ctrl.user.workplace.type).font">
              <i ng-class="ctrl.workplaceEnum.findById(ctrl.user.workplace.type).icon"></i> {{ctrl.user.workplace.name}}
            </span>
          </a>
          <ul class="dropdown-menu dropdown-menu-default">
            <li ng-repeat="workplace in ctrl.user.workplaces">
              <a href="javascript:;" ng-click="ctrl.changeWorkplace(workplace)">
                <i ng-class="ctrl.workplaceEnum.findById(workplace.workplace_type).icon"></i> {{workplace.workplace_name}}
              </a>
            </li>
          </ul>
        </li>
        <li class="separator"></li>
        <!-- BEGIN NOTIFICATION DROPDOWN -->
        <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
        <li class="dropdown dropdown-user dropdown-dark">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
            <span class="username username-hide-on-mobile"></span>
            <i class="fa fa-bars fa-2x"></i>
          </a>
          <ul class="dropdown-menu dropdown-menu-default">
            <li class="divider"></li>
            <li>
              <a href="javascript:;" ng-click="ctrl.logout()">
              <i class="icon-key"></i> Sair</a>
            </li>
          </ul>
        </li>
        <!-- END USER LOGIN DROPDOWN -->
      </ul>
    </div>
    <!-- END TOP NAVIGATION MENU -->
  </div>
  <!-- END PAGE TOP -->
</div>
<!-- END HEADER INNER -->