<div class="page-sidebar md-shadow-z-2-i navbar-collapse" ng-controller="SidebarController as ctrl" ng-init="ctrl.loadMenu()">
  <ul class="page-sidebar-menu" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" ng-class="{'page-sidebar-menu-closed': settings.layout.pageSidebarClosed}">
    <li class="heading">
      <h3 ng-class="ctrl.workplaceEnum.findById(user.workplace.type).font">
        <i ng-class="ctrl.workplaceEnum.findById(user.workplace.type).icon"></i> {{user.workplace.name}}
      </h3>
    </li>
    <li class="heading">
      <h3>Menu</h3>
    </li>
    <li ng-repeat="menu in ctrl.menus" class="nav-item" ng-class="{'start': $first}" repeat-end="ctrl.initSidebar()">
      <a href="{{menu.link !== '#' ? '/' + menu.link : 'javascript:;'}}" class="nav-link bold text-uppercase">
        <i ng-class="menu.icon"></i>
        <span class="title">{{menu.name}}</span>
      </a>
      <ul class="sub-menu" ng-if="menu.submenu">
        <li ng-repeat="submenu in menu.submenu" class="nav-item">
          <a href="/{{submenu.link}}" class="nav-link" href="javascript:;">
            <i ng-class="submenu.icon"></i>
            <span class="title">{{submenu.name}}</span>
          </a>
        </li>
      </ul> 
    </li>
  </ul>
</div>
