<div ng-controller="PaymentConditionsIndexCtrl as ctrl">
  <div class="row">
    <div class="col-md-12">
      <div class="portlet light">
        <div class="portlet-title">
          <div class="caption">
            <span class="caption-subject bold font-blue uppercase">Condições de pagamento</span>
          </div>
          <div class="actions"></div>
        </div>
        <div class="portlet-body form">
          <form role="form" name="paymentConditionForm" ng-submit="ctrl.save()">
            <div class="form-body">
              <div class="row">
                <div class="col-sm-3">
                  <div class="form-group form-md-line-input">
                    <label>Forma de Pagamento <span class="required">*</span></label>
                    <ui-select ng-model="ctrl.model.type" theme="selectize" class="form-control" on-select="ctrl.changeInstallments()">
                      <ui-select-match placeholder="Forma de pagamento">{{$select.selected.name}}</ui-select-match>
                      <ui-select-choices repeat="type.id as type in ctrl.paymentMethodEnum.paymentEnums | filter: {name: $select.search}">
                        <div ng-bind-html="type.name | highlight: $select.search"></div>
                      </ui-select-choices>
                    </ui-select>
                  </div>
                </div>
              </div>

              <div class="row" ng-if="ctrl.showInstallments">
                <div class="col-sm-3">
                  <div class="form-group form-md-line-input form-md-floating-label">
                    <input type="text" class="form-control" id="payment_condition_installments" ng-model="ctrl.model.installments" ui-number-mask="0" min="1" ui-hide-group-sep ng-required="true" ng-class="{'edited': ctrl.model.installments != null}">
                    <label for="payment_condition_installments">Número de parcelas</label>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-3">
                  <div class="form-group form-md-line-input form-md-floating-label">
                    <div class="input-group">
                      <input type="text" class="form-control" id="payment_condition_additional_tax" ng-model="ctrl.model.additional_tax" ui-number-mask min="0" max="100" ui-hide-group-sep ng-required="true" ng-class="{'edited': ctrl.model.additional_tax != null}">
                      <label for="payment_condition_additional_tax">Tx. adicional cred. conta</label>
                      <span class="help-block">(aplicado na venda)</span>
                      <span class="input-group-addon">%</span>
                    </div>
                  </div>
                </div>

                <div class="col-sm-3">
                  <div class="form-group form-md-line-input form-md-floating-label">
                    <div class="input-group">
                      <input type="text" class="form-control" id="payment_condition_credit_tax" ng-model="ctrl.model.credit_tax" ui-number-mask min="0" max="100" ui-hide-group-sep ng-required="true" ng-class="{'edited': ctrl.model.credit_tax != null}">
                      <label for="payment_condition_credit_tax">Tx. adicional cred. fabricação</label>
                      <span class="help-block">(aplicado na venda)</span>
                      <span class="input-group-addon">%</span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-3">
                  <div class="form-group form-md-line-input form-md-floating-label">
                    <div class="input-group">
                      <input type="text" class="form-control" id="payment_condition_antecipation_tax" ng-model="ctrl.model.antecipation_tax" ui-number-mask min="0" max="100" ui-hide-group-sep  ng-class="{'edited': ctrl.model.antecipation_tax != null}">
                      <label for="payment_condition_antecipation_tax">Tx. antecipação cred. conta</label>
                      <span class="help-block">(aplicado na antecipação)</span>
                      <span class="input-group-addon">%</span>
                    </div>
                  </div>
                </div>

                <div class="col-sm-3">
                  <div class="form-group form-md-line-input form-md-floating-label">
                    <div class="input-group">
                      <input type="text" class="form-control" id="payment_condition_credit_antecipation_tax" ng-model="ctrl.model.credit_antecipation_tax" ui-number-mask min="0" max="100" ui-hide-group-sep  ng-class="{'edited': ctrl.model.credit_antecipation_tax != null}">
                      <label for="payment_condition_credit_antecipation_tax">Tx. antecipação cred. fabricação</label>
                      <span class="help-block">(aplicado na antecipação)</span>
                      <span class="input-group-addon">%</span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-actions noborder">
                <button type="submit" class="btn blue">Adicionar</button>
              </div>
            </div>
          </form>
        </div>
        <div class="portlet-body margin-top-30">
          <div class="dataTables_wrapper no-footer">
            <table class="table table-striped table-bordered table-hover" id="table_payment_conditions">
              <thead>
                <tr>
                  <th class="text-center uppercase"></th>
                  <th class="text-center uppercase"></th>
                  <th class="text-center uppercase"></th>
                  <th class="text-center uppercase"></th>
                  <th class="text-center uppercase"></th>
                  <th class="text-center uppercase"></th>
                  <th class="text-center uppercase"></th>
                  <th class="text-center uppercase"></th>
                </tr>
              </thead>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>