<div ng-controller="BaseComponentIndexCtrl as ctrl">
  <div class="row">
    <div class="col-md-12">
      <div class="portlet light">
        <div class="portlet-title">
          <div class="caption">
            <span class="caption-subject bold font-blue uppercase">Componentes base</span>
          </div>
          <div class="actions"></div>
        </div>
        <div class="portlet-body">
          <div class="table-toolbar">
            <div class="row">
              <div class="col-md-6">
                <div class="btn-group">
                  <a href="/base_components/new" class="btn sbold green margin-right-10">
                    <i class="fa fa-plus"></i> Novo 
                  </a>

                  <a href="/base_components?show_deleted=true" class="btn sbold yellow" ng-if="ctrl.showingDeleted === false" target="_self">
                    <i class="fa fa-times"></i> Listar apagados
                  </a>

                  <a href="/base_components" class="btn sbold yellow" ng-if="ctrl.showingDeleted === true" target="_self">
                    <i class="fa fa-check"></i> Listar ativos
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="dataTables_wrapper no-footer">
            <table class="table table-striped table-bordered table-hover" id="table_base_components">
              <thead>
                <th class="text-center uppercase"></th>
                <th class="text-center uppercase"></th>
                <th class="text-center uppercase"></th>
                <th class="text-center uppercase"></th>
                <th class="text-center uppercase"></th>
                <th class="text-center uppercase"></th>
              </thead>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>