<!-- BEGIN HEADER -->
<div ng-include="'views/common/header.html'" ng-controller="HeaderController as ctrl" class="page-header md-shadow-z-1-i navbar navbar-fixed-top"></div>
<!-- END HEADER -->

<div class="clearfix"></div>

<!-- BEGIN CONTAINER -->
<div class="page-container">
  <!-- BEGIN SIDEBAR -->
  <div ng-include="'views/common/sidebar.html'" class="page-sidebar-wrapper"></div>
  <!-- END SIDEBAR -->
  <div class="page-content-wrapper">
    <div class="page-content">
      <!-- BEGIN ACTUAL CONTENT -->
      <div ui-view="content" class="fade-in-up"></div>
      <!-- END ACTUAL CONTENT -->
    </div>
  </div>
</div>
<!-- END CONTAINER -->

<!-- BEGIN FOOTER -->
<div ng-include="'views/common/footer.html'" ng-controller="FooterController" class="page-footer"></div>
<!-- END FOOTER -->