<div class="invoice-all" ng-controller="ProductionOrderShowCtrl as ctrl">
  <div class="row invoice-head">
    <div class="col-xs-5">
      <div class="invoice-logo">
        <img src="images/logo.png" class="img-responsive" alt="" />
        <span class="bold uppercase">Ordem de produção</span><br />
        <span class="bold uppercase">Pedido nº #{{ctrl.id}}</span><br />
        <span class="bold uppercase">Cliente: </span><span>{{ctrl.model.client.name}}</span>
      </div>
    </div>
    <div class="col-xs-7">
      <div class="company-address">
        <span class="uppercase bold font-big">{{ctrl.today | date: 'dd/MM/yyyy'}}</span><br />
        <span class="uppercase">Data para início: __________/__________/__________</span><br />
        <span class="uppercase">Data para termino: __________/__________/__________</span><br />
        <span class="uppercase">Montador Resp.: ______________________________________</span>
      </div>
    </div>
  </div>

  <div class="row invoice-body" ng-if="ctrl.id !== undefined">
    <div class="col-xs-12">
      <span ng-repeat="environment in ctrl.model.environments">
        <span ng-repeat="location in environment.locations">
          <span ng-repeat="order_item in location.order_items" class="product col-xs-6">
            <div class="table-responsive">
              <table class="table table-hover table-bordered">
                <thead>
                  <tr>
                    <th colspan="5">
                      Produto: <span class="bold">#{{order_item.identification}}</span> {{order_item.line.name}} ({{order_item.width}}cm x {{order_item.height}}cm)
                    </th>
                  </tr>
                  <tr>
                    <th class="invoice-title uppercase text-center" width="65%">Descrição</th>
                    <th class="invoice-title uppercase text-center" width="10%">Con Qtd</th>
                    <th class="invoice-title uppercase text-center" width="10%">Consumo</th>
                    <th class="invoice-title uppercase text-center">UN</th>
                    <th class="invoice-title uppercase text-center" width="15%">Medidas (cm)</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="component in order_item.components | orderBy: 'required'" ng-if="component.total_consumption > 0">
                    <td class="text-left">
                      {{component.component.name}}
                    </td>
                    <td class="text-right">
                      <span ng-if="component.quantity_consumption > 0">
                        {{component.quantity_consumption}}
                      </span>
                    </td>
                    <td class="text-right">{{component.total_consumption | currency :"":2}}</td>
                    <td class="text-center">{{ctrl.unitEnum.findById(component.component.unit).unit}}</td>
                    <td class="text-right">
                      <span ng-if="component.width_consumption > 0">
                        {{component.width_consumption}}
                      </span>

                      <span ng-if="component.width_consumption > 0 && component.height_consumption > 0">
                      x
                      </span>

                      <span ng-if="component.height_consumption > 0">
                        {{component.height_consumption}}
                      </span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </span>
        </span>
      </span>
    </div>
  </div>

  <div class="row invoice-subtotal">
    <div class="col-xs-6">
      <p class="invoice-title uppercase">Observação</p>
      <p class="invoice-desc">{{ctrl.model.observation}}</p>
    </div>

    <div class="col-xs-3">
      <div class="invoice-desc">__________________________</div>
      <div class="invoice-title uppercase">OP feita por</div>
    </div>

    <div class="col-xs-3">
      <div class="invoice-desc">________________________</div>
      <div class="invoice-title uppercase">Autorizada por</div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <a class="btn btn-lg green-haze hidden-print uppercase print-btn" onclick="printProductionOrder()">Imprimir</a>
    </div>
  </div>
</div>

<script type="text/javascript">
  function printProductionOrder() {
    $(".invoice-head").removeClass("hidden-print");
    $(".invoice-body").removeClass("hidden-print");
    $(".invoice-subtotal").removeClass("hidden-print");
    $(".page-break").removeClass("hidden-print");

    window.print();
  };
</script>