<div ng-controller="AttributeIndexCtrl as ctrl">
  <div class="row">
    <div class="col-md-12">
      <div class="portlet light">
        <div class="portlet-title">
          <div class="caption">
            <span class="caption-subject bold font-blue uppercase">Atributos</span>
          </div>
          <div class="actions">
            <div class="portlet-input input-inline">
              <div class="input-icon right">
                <i class="icon-magnifier"></i>
                <input type="text" class="form-control" ng-model="search" />
              </div>
            </div>
            <a href="/attributes/new" class="btn blue">
              <i class="fa fa-plus"></i>
              Novo
            </a>
          </div>
        </div>
        <div class="portlet-body flip-scroll">
          <div class="list-group">
            <a ng-repeat="attribute in ctrl.attributes | textFilter: search" class="list-group-item" href="/attributes/{{attribute.id}}/edit">
              <span class="badge bg-blue pull-left margin-right-10">
                {{attribute.id}}
              </span>
              <h4 class="list-group-item-heading">
                {{attribute.name}}
              </h4>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>