/* here you can put your own css to customize and override the theme */
.options-container {
  margin: 10px 20px;
  padding: 10px;
  border: 1px solid #C5C5C5;
}

.options-container ul li {
  padding: 10px;
}

.options-container ul li.bordered {
  border-bottom: 2px solid #C5C5C5;
}

.block-ui-container {
  z-index: 10050 !important;
}

.page-content-wrapper .page-content {
  padding: 0px 0 0 20px !important;
}

table tr td, table tr th {
  page-break-inside: avoid;
}

[mass-autocomplete] {
  position: relative; }

.ac-container {
  position: absolute;
  top: 100% !important;
  left: 0 !important;
  width: 100% !important; }

.editable-empty:not(.editable-not-empty), .editable-empty:hover:not(.editable-not-empty), .editable-empty:focus:not(.editable-not-empty), a.editable-empty:not(.editable-not-empty), a.editable-empty:hover:not(.editable-not-empty), a.editable-empty:focus:not(.editable-not-empty) {
  font-size: 10px;
  color: black !important;
}

.editable-empty.editable-not-empty, .editable-empty.editable-not-empty:hover, .editable-empty.editable-not-empty:focus, a.editable-empty.editable-not-empty, a.editable-empty.editable-not-empty:hover, a.editable-empty.editable-not-empty:focus {
  text-decoration: none;
  color: #428bca;
  font-style: normal;
}

.floating-button {
  display: inline-block;
  padding: 2px;
  text-align: center;
  position: fixed;
  z-index: 10001;
  bottom: 10px;
  display: none;
  right: 60px; }
  .scroll-to-top > i {
    display: inline-block;
    color: #687991;
    font-size: 32px;
    opacity: 0.7 ;
    filter: alpha(opacity=70) ; }
  .scroll-to-top:hover {
    cursor: pointer; }
    .scroll-to-top:hover > i {
      opacity: 1 ;
      filter: alpha(opacity=100) ; }
}

.margin-right-20 {
  margin-right: 20px !important; }

.margin-left-20 {
  margin-left: 20px !important; }

.text-strike {
  text-decoration:line-through; }

.overflow-container {
  max-height: 500px;
  overflow: hidden;
  overflow-y: auto;
}

div.actions batch-insert-modal a.btn {
  padding: 4px 10px;
  font-size: 13px;
  line-height: 1.5;
}

.profile-photo {
  border: 4px solid #FFF;
  background-color: #D8D8D8;
  font-size: 20px;
  color: #FFF;
  text-align: center;
  vertical-align: middle;
}

.add-photo {
  border: 4px solid #FFF;
  background-color: #D8D8D8;
  font-size: 20px;
  color: #FFF;
  text-align: center;
  vertical-align: middle;
}

@media (max-width:1365px) {
  .box-logo-login {
    width: 200% !important;
    background-color: #FFF;
    margin-left: -40px;
    padding-left: 40px;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-bottom: 40px;
  }
}

@media (min-width:1365px) {
  .box-logo-login {
    width: 200% !important;
    background-color: #FFF;
    margin-left: -80px;
    padding-left: 80px;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-bottom: 80px;
  }
}

.box-logo-login img {
  max-width: 170px;
  max-height: 80px;
}

.page-header.navbar .page-logo img {
  max-height: 70px; 
}

.page-header.navbar .page-logo .logo-default {
    margin: 5px 5px 0 5px;
}

.selectize-dropdown .optgroup-header {
  font-weight: bold;
  background-color: rgba(200, 200, 200, .2);
}

.selectize-dropdown .optgroup-header:not(.ng-hide) ~ div.ui-select-choices-row {
  padding-left: 10px;
}

.jp-card .jp-card-front .jp-card-lower .jp-card-number {
  font-size: 22px !important;
}
