@media all {
  .font-big {
    font-size: 14px;
  }

  .invoice-all {
    margin: 15px !important;
  }

  .invoice-head .invoice-logo > img {
    float: left;
    margin-right: 10px;
  }

  .company-address {
    float: right;
  }

  .invoice-logo {
    text-align: left !important;
  }

  .invoice-content-2 .invoice-head .invoice-logo>h1 {
    float: none !important;
    font-size: 10px !important;
    font-weight: 700 !important;
    color: #39424a !important;
    margin-top: 0px !important;
  }

  .invoice-content-2 {
    padding: 10px !important;
  }

  .invoice-head h1 {
    font-size: 10px !important;
  }

  .company-address {
    font-size: 10px !important;
  }

  .invoice-title {
    font-size: 10px !important;
  }

  .product {
    font-size: 10px !important; 
  }

  .invoice-subtotal {
    margin-top: 20px !important;
  }

  @page {
    page: auto;
    margin: 10px !important;
  }

  table {
    page-break-inside:avoid;
    position:relative;
    margin-bottom: 5px !important;
  }

  .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 3px !important;
  }

  th {
    font-size: 8px !important;
  }

  td {
    font-size: 8px !important;
  }

  a[href]:after {
    content: none !important;
  }

  .page-break { 
    display: block;
    page-break-after: always;
  }

  .img-responsive {
    width: 60px !important;
  }

  .production-order-label {
    border: 1px solid black;
    margin-right: 5px;
    font-size: 8px;
    margin-top: 5px;
    padding: 5px;
  }

  .invoice-label {
    margin-top: 10px !important;
    page-break-inside:avoid;
  }
}