<div ng-controller="UsersIndexController as ctrl">
  <div class="row">
    <div class="col-md-12">
      <div class="portlet light">
        <div class="portlet-title">
          <div class="caption">
            <span class="caption-subject bold font-blue uppercase">Usuários</span>
          </div>
          <div class="actions">
            <div class="portlet-input input-inline">
              <div class="input-icon right">
                <i class="icon-magnifier"></i>
                <input type="text" class="form-control" ng-model="search" />
              </div>
            </div>
            <a href="/users/new" class="btn blue">
              <i class="fa fa-plus"></i>
              Novo
            </a>
          </div>
        </div>
        <div class="portlet-body flip-scroll">
          <div class="list-group">
            <a ng-repeat="user in ctrl.users | textFilter: search" class="list-group-item" href="/users/{{user.id}}/edit">
              <span class="badge bg-blue pull-left margin-right-10">
                {{user.id}}
              </span>
              <h4 class="list-group-item-heading">
                {{user.name}}
              </h4>
              <div>
                <i class="icon-user"></i> {{user.username}}
              </div>
              <div>
                <i class="icon-envelope-open"></i> {{user.email}}
              </div>
              <span class="label margin-right-10" ng-class="ctrl.userTypeEnum.findById(user.type).color">
                {{ctrl.userTypeEnum.findById(user.type).name}}
              </span>
              <span class="label margin-right-10" ng-class="ctrl.workplaceTypeEnum.findById(workplace.workplace_type).color" ng-repeat="workplace in user.workplaces">
                <i ng-class="ctrl.workplaceTypeEnum.findById(workplace.workplace_type).icon"></i> {{workplace.workplace_name}}
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
