<div ng-controller="UsersFormCtrl as ctrl">
  <div class="portlet light">
    <div class="portlet-title">
      <div class="caption font-green">
        <i class="icon-pin font-green"></i>
        <span class="caption-subject bold uppercase">Dados</span>
      </div>
    </div>
    <div class="portlet-body form">
		  <form role="form" name="ctrl.userForm" ng-submit="ctrl.saveUser()">
		  	<div class="form-body">
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group form-md-radios">
                <label></label>
                <div class="md-radio-inline">
                	<div class="md-radio" ng-repeat="user_type in ctrl.filterUserTypes()">
                		<input id="{{user_type.id}}" class="md-radiobtn" name="radio_user_type" type="radio" ng-model="ctrl.model.type" class="md-check" ng-value="user_type.id">
						        <label for="{{user_type.id}}">
						          <span class="inc"></span>
						          <span class="check"></span>
						          <span class="box"></span>
						          {{user_type.name}}
						        </label>
						      </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-4">
              <div class="form-group form-md-line-input">
                <ui-select multiple ng-model="ctrl.model.workplaces" theme="bootstrap" class="form-control">
                  <ui-select-match placeholder="Selecione os locais de trabalho">{{$item.workplace_name}}</ui-select-match>
                  <ui-select-choices repeat="workplace in ctrl.filterWorkplaces() | filter: $select.search | orderBy: workplace.workplace_name track by workplace.workplace_name">
                    <div ng-bind-html="workplace.workplace_name | highlight: $select.search"></div>
                    <small ng-if="workplace.workplace_type === 'Factory'">Fábrica</small>
                    <small ng-if="workplace.workplace_type === 'Distributor'">Distribuidor</small>
                    <small ng-if="workplace.workplace_type === 'Store'">Loja</small>
                  </ui-select-choices>
                </ui-select>
              </div>
            </div>

            <div class="col-sm-4" ng-show="ctrl.notOperator()">
              <div class="form-group form-md-line-input">
                <ui-select ng-model="ctrl.model.erp_id" theme="selectize" class="form-control">
                  <ui-select-match placeholder="Selecione o representante no Varejonline">{{$select.selected.name}}</ui-select-match>
                  <ui-select-choices repeat="seller.id as seller in ctrl.sellers | filter: $select.search | orderBy: workplace.name">
                    <div ng-bind-html="seller.name | highlight: $select.search"></div>
                  </ui-select-choices>
                </ui-select>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-4">
              <div class="form-group form-md-line-input form-md-floating-label">
                <input type="text" class="form-control" ng-class="{'edited': ctrl.model.name != null}" ng-model="ctrl.model.name" id="user_name" ng-disabled="ctrl.model.type === ctrl.userTypeEnum.EXTERNAL.id">
                <label for="user_name">Nome <span class="required">*</span></label>
              </div>
            </div>

            <div class="col-sm-4" ng-show="ctrl.notOperator()">
              <div class="form-group form-md-line-input form-md-floating-label">
                <div class="input-group">
                  <input type="text" class="form-control" ng-class="{'edited': ctrl.model.maximum_discount != null}" ng-model="ctrl.model.maximum_discount" id="user_maximum_discount" data-plugin="masked-input-decimal" ng-init="ctrl.initInputMask()">
                  <label for="user_maximum_discount">Desconto máximo</label>
                  <span class="input-group-addon"> % </span>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-4">
              <div class="form-group form-md-line-input form-md-floating-label">
                <input type="text" class="form-control" ng-class="{'edited': ctrl.model.username != null}" ng-model="ctrl.model.username" id="user_username">
                <label for="user_username">Usuário <span class="required">*</span></label>
              </div>
            </div>

            <div class="col-sm-4">
              <div class="form-group form-md-line-input form-md-floating-label">
                <input type="email" class="form-control" ng-class="{'edited': ctrl.model.email != null}" ng-model="ctrl.model.email" id="user_email">
                <label for="user_email">Email <span class="required">*</span></label>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-4">
              <div class="form-group form-md-line-input form-md-floating-label">
                <input type="password" class="form-control" ng-class="{'edited': ctrl.model.password != null}" ng-model="ctrl.model.password" id="user_password">
                <label for="user_password">Senha <span class="required">*</span></label>
              </div>
            </div>

            <div class="col-sm-4">
              <div class="form-group form-md-line-input form-md-floating-label">
                <input type="password" class="form-control" ng-class="{'edited': ctrl.model.password_confirmation != null}" ng-model="ctrl.model.password_confirmation" id="user_password_confirmation">
                <label for="user_password_confirmation">Confirmação de Senha <span class="required">*</span></label>
              </div>
            </div>
          </div>

          <div class="form-actions noborder">
		        <button type="submit" class="btn blue">Salvar</button>
		        <a href="/users" class="btn default">Voltar</a>
		        <button type="button" class="btn red" ng-hide="ctrl.id == undefined" ng-if="ctrl.model.id !== ctrl.user.id" ng-click="ctrl.openDestroyModal()">Apagar</button>

            <div id="modal_delete_user" class="modal fade in" tabindex="-1" role="basic" aria-hidden="true" ng-if="ctrl.id != undefined">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header bg-red">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h3 class="modal-title">
                      <strong>
                        Aviso
                      </strong>
                    </h3>
                  </div>
                  <div class="modal-body">
                    <div class="row">
                      <div class="col-md-12">
                        Tem certeza que deseja apagar esse usuário?
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <div class="form-actions noborder">
                      <button type="button" class="btn default" data-dismiss="modal">Cancelar</button>
                      <button type="button" class="btn red" data-dismiss="modal" ng-click="ctrl.destroy()">Apagar</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
		      </div>
		    </div>
		  </form>
    </div>
  </div>
</div>
