<div ng-controller="QuestionFormCtrl as ctrl">
  <div class="portlet light">
    <div class="portlet-title">
      <div class="caption font-green">
        <i class="icon-pin font-green"></i>
        <span class="caption-subject bold uppercase">Dados</span>
      </div>
    </div>
    <div class="portlet-body form">
      <form role="form" name="ctrl.form" ng-submit="ctrl.save()">
        <div class="form-body">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group form-md-line-input form-md-floating-label">
                <input type="text" class="form-control" ng-class="{'edited': ctrl.model.label != null}" ng-model="ctrl.model.label" id="question_label">
                <label for="question_label">Label</label>
                <span class="help-block">Coloque aqui o título da pergunta. Ex.: Local de instalação</span>
              </div>
            </div>

            <div class="col-sm-6">
              <div class="form-group form-md-line-input form-md-floating-label">
                <input type="text" class="form-control" ng-class="{'edited': ctrl.model.value != null}" ng-model="ctrl.model.value" id="question_value">
                <label for="question_value">Variável</label>
                <span class="help-block">Como deseja utilizar essa pergunta nas fórmulas? Use letras maiúsculas sem acentuação e separe as palavras por "_". Ex.: LOCAL_DE_INSTALACAO</span>
              </div>
            </div>
          </div>

          <div class="row margin-top-15">
            <div class="col-sm-12">
              <div class="form-group form-md-radios">
                <label>Tipo de pergunta</label>
                <div class="md-radio-inline">
                  <div class="md-radio" ng-repeat="questionType in ctrl.questionTypeEnum.enums">
                    <input id="radio_question_{{questionType.name}}" name="radio_question_type" class="md-radiobtn" type="radio" ng-model="ctrl.model.type" ng-value="questionType.id">
                    <label for="radio_question_{{questionType.name}}">
                      <span class="inc"></span>
                      <span class="check"></span>
                      <span class="box"></span>{{questionType.name}}
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <span ng-if="ctrl.model.type === ctrl.questionTypeEnum.DROPDOWN.id">
            <div class="row">
              <div class="col-sm-5">
                <label class="text-uppercase">Opção</label>
              </div>

              <div class="col-sm-5">
                <label class="text-uppercase">Valor</label>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-5">
                <div class="form-group form-md-line-input form-md-floating-label">
                  <input type="text" class="form-control" ng-model="ctrl.newOption.label" id="option_label">
                  <label for="option_label">Opção</label>
                  <span class="help-block">Como essa opção deverá ser exibida na seleção: Ex.: Cozinha</span>
                </div>
              </div>

              <div class="col-sm-5">
                <div class="form-group form-md-line-input form-md-floating-label">
                  <input type="text" class="form-control" ng-model="ctrl.newOption.value" id="option_value">
                  <label for="option_value">Valor</label>
                  <span class="help-block">O valor que será utilizado nas fórmulas. Não use espaços nem acentos, números são permitidos: Ex.: cozinha</span>
                </div>
              </div>

              <div class="col-sm-2">
                <button type="button" class="btn green margin-top-20" ng-click="ctrl.addOption()">Adicionar</button>
              </div>
            </div>

            <div class="row" ng-repeat="option in ctrl.model.options" ng-class="{'margin-top-30': $first}">
              <div class="col-sm-5">
                <label>{{option.label}}</label>
              </div>

              <div class="col-sm-5">
                <label>{{option.value}}</label>
              </div>

              <div class="col-sm-2">
                <a href="javascript:;" ng-click="ctrl.removeOption($index)">
                  <i class="fa fa-times-circle text-danger"></i>
                </a>
              </div>
            </div>
          </span>

          <div class="form-actions noborder">
            <button type="submit" class="btn blue">Salvar</button>
            <a href="/questions" class="btn default">Voltar</a>
            <button type="button" class="btn red" ng-hide="ctrl.id == undefined" ng-click="ctrl.openDestroyModal()">Apagar</button>

            <div id="modal_delete_question" class="modal fade in" tabindex="-1" role="basic" aria-hidden="true" ng-if="ctrl.id !== undefined">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header bg-red">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h3 class="modal-title">
                      <strong>
                        Aviso
                      </strong>
                    </h3>
                  </div>
                  <div class="modal-body">
                    <div class="row">
                      <div class="col-md-12">
                        Tem certeza que deseja apagar essa pergunta?
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <div class="form-actions noborder">
                      <button type="button" class="btn default" data-dismiss="modal">Cancelar</button>
                      <button type="button" class="btn red" data-dismiss="modal" ng-click="ctrl.destroy()">Apagar</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
