<div class="portlet light">
  <div class="portlet-title">
    <div class="caption font-green">
      <i class="icon-pin font-green"></i>
      <span class="caption-subject bold uppercase">Dados da loja</span>
    </div>
  </div>
  <div class="portlet-body form">
    <store-form in-modal="false"></store-form>
  </div>
</div>
