<div ng-controller="FamilyIndexCtrl as ctrl">
  <div class="row">
    <div class="col-md-12">
      <div class="portlet light">
        <div class="portlet-title">
          <div class="caption font-blue">
            <i class="icon-pin font-blue"></i>
            <span class="caption-subject bold uppercase">Dados</span>
          </div>
        </div>
        <div class="portlet-body form">
          <form role="form" name="familyForm">
            <div class="form-body">
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group form-md-line-input form-md-floating-label">
                    <input type="text" ng-class="{'edited': ctrl.model.name != null}" class="form-control" ng-model="ctrl.model.name" id="family_name">
                    <label for="family_name">Nome</label>
                  </div>
                </div>

                <div class="col-sm-2">
                  <div class="form-group form-md-line-input form-md-floating-label">
                    <input type="color" class="form-control edited" ng-model="ctrl.model.color" id="family_color"/>
                    <label for="family_color">Cor para identificação</label>
                  </div>
                </div>
              </div>

              <div class="form-actions noborder">
                <button type="button" class="btn blue" ng-click="ctrl.saveFamily()">{{ctrl.model.id == undefined ? 'Criar' : 'Editar'}}</button>
                <button type="button" class="btn default" ng-click="ctrl.resetForm()">Cancelar</button>
                <button type="button" class="btn red" ng-if="ctrl.model.id !== undefined">Apagar</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="portlet light">
        <div class="portlet-title">
          <div class="caption">
            <span class="caption-subject bold font-blue uppercase">Famílias</span>
          </div>
          <div class="actions">
            <div class="portlet-input input-inline">
              <div class="input-icon right">
                <i class="icon-magnifier"></i>
                <input type="text" class="form-control" ng-model="search" />
              </div>
            </div>
          </div>
        </div>
        <div class="portlet-body flip-scroll">
          <div class="list-group">
            <a ng-repeat="family in ctrl.families | textFilter: search" class="list-group-item" href="javascript:;" ng-click="ctrl.loadFamily(family.id)">
              <span class="badge bg-blue pull-left margin-right-10">
                {{family.id}}
              </span>
              <h4 class="list-group-item-heading">
                <span class="label" style="background-color: {{family.color}}">{{family.name}}</span>
              </h4>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>