<div ng-controller="EstimateFormCtrl as ctrl">
  <div class="portlet light">
    <div class="portlet-title">
      <div class="caption font-green">
        <i class="icon-book-open font-green"></i>
        <span class="caption-subject bold uppercase" ng-if="ctrl.id === undefined">
          Novo orçamento
        </span>
        <span class="caption-subject bold uppercase" ng-if="ctrl.id !== undefined">
          Orçamento #{{ctrl.id}} - {{ctrl.estimate_model.date}} <span ng-if="ctrl.estimate_model.order_id !== null"><a href="/orders/{{ctrl.estimate_model.order_id}}">(Pedido #{{ctrl.estimate_model.order_id}})</a></span>
        </span>
      </div>
      <div class="actions">
      </div>
    </div>
    <div class="portlet-body form">
      <form role="form" name="estimateForm" ng-submit="ctrl.saveEstimate()">
        <div class="form-body">
          <div class="row">
            <div class="col-sm-2">
              <div class="form-group form-md-line-input form-md-floating-label">
                <input type="text" class="form-control date-picker" ng-class="{'edited': ctrl.estimate_model.date != null}" size="16" ng-model="ctrl.estimate_model.date" id="estimate_date" ng-disabled="ctrl.id !== undefined" ng-required="true" />
                <label for="estimate_date">Data <span class="required">*</span></label>
                <span class="help-block"></span>
              </div>
            </div>

            <div class="col-sm-10">
              <div class="form-group form-md-line-input">
                <ui-select ng-model="ctrl.estimate_model.client" theme="selectize" class="form-control" ng-disabled="ctrl.id !== undefined" on-select="ctrl.setClient($item)" ng-required="true">
                  <ui-select-match placeholder="Selecione o cliente">{{$select.selected.name}}</ui-select-match>
                  <ui-select-choices repeat="client in ctrl.clients | filter: $select.search | orderBy: client.name">
                    <div ng-bind-html="client.name | highlight: $select.search"></div>
                    <small ng-if="client.type === 'Distributor'">Distribuidor</small>
                    <small ng-if="client.type === 'Store'">Loja</small>
                    <small ng-if="client.type === 'Customer'">Cliente</small>
                  </ui-select-choices>
                </ui-select>
              </div>
            </div>
          </div>

          <div class="form-actions noborder" ng-if="!ctrl.readonly() && ctrl.id === undefined">
            <button type="submit" class="btn blue">Criar</button>
          </div>
        </div>
      </form>
    </div>

    <span ng-if="ctrl.id !== undefined">
      <div class="portlet-title">
        <div class="caption font-green">
          <span class="caption-subject bold uppercase">Ambientes</span>
        </div>
        <div class="actions">
        </div>
      </div>

      <div class="portlet-body form">
        <form role="form" name="ctrl.environmentForm" ng-if="!ctrl.readonly()" ng-submit="ctrl.addEnvironment()">
          <div class="form-body">
            <div class="row">
              <div class="col-sm-3">
                <div class="form-group form-md-line-input">
                  <ui-select ng-model="ctrl.environment_model.category" theme="selectize" class="form-control" ng-required="true">
                    <ui-select-match placeholder="Selecione o ambiente">{{$select.selected.name}}</ui-select-match>
                    <ui-select-choices repeat="environment.id as environment in ctrl.environmentEnum.enums | orderBy:'name' | filter: $select.search">
                      <div ng-bind-html="environment.name | highlight: $select.search"></div>
                    </ui-select-choices>
                  </ui-select>
                </div>
              </div>

              <div class="col-sm-6">
                <div class="form-group form-md-line-input form-md-floating-label">
                  <input type="text" class="form-control" ng-class="{'edited': ctrl.environment_model.name != null}" ng-model="ctrl.environment_model.name" id="environment_name" ng-required="true">
                  <label for="environment_name">Descrição</label>
                  <span class="help-block"></span>
                </div>
              </div>

              <div class="col-sm-1">
                <button type="submit" class="btn green margin-top-20">
                  <i class="fa fa-plus"></i>
                </button>
              </div>
            </div>
          </div>
        </form>

        <hr ng-if="!ctrl.readonly()" />

        <div class="panel-group accordion" id="environments">
          <div class="panel panel-default" ng-repeat="environment in ctrl.environments">
            <environment-detail environment="environment" index="$index" has-order="ctrl.readonly()"></environment-detail>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="accordion-toggle accordion-toggle-styled collapsed" data-toggle="collapse" data-parent="#environments" href="javascript:;" data-target="#estimate_products">
                  Produtos
                  <span class="pull-right margin-right-10">
                    {{ctrl.estimate_model.products_total | currency :"":2}}
                  </span>
                </a>
              </h4>
            </div>

            <div id="estimate_products" class="panel-collapse collapse">
              <div class="panel-body">
                <div class="row" ng-if="ctrl.estimate_model.order_id === null">
                  <div class="col-sm-3">
                    <div class="form-group form-md-line-input">
                      <ui-select ng-model="ctrl.product" theme="selectize" class="form-control">
                        <ui-select-match placeholder="Selecione o produto">
                          {{$select.selected.code}} - {{$select.selected.description}}
                        </ui-select-match>
                        <ui-select-choices repeat="product in ctrl.products | filter: $select.search">
                          <div ng-bind-html="product.code + ' - ' + product.description | highlight: $select.search"></div>
                        </ui-select-choices>
                      </ui-select>
                    </div>
                  </div>

                  <div class="col-sm-5">
                    <div class="form-group form-md-line-input form-md-floating-label">
                      <div class="input-group">
                        <input type="text" class="form-control" ng-model="ctrl.product_quantity" data-plugin="masked-input-decimal" ng-init="ctrl.initMaskedInput()">
                        <label for="location_name">Quantidade</label>
                        <span class="input-group-addon">
                          {{ctrl.unitEnum.findById(ctrl.product.unit).unit}}
                        </span>
                      </div>
                    </div>
                  </div>

                  <div class="col-sm-1">
                    <button type="button" class="btn green margin-top-20" ng-click="ctrl.addProduct()">
                      <i class="fa fa-plus"></i>
                    </button>
                  </div>
                </div>

                <div class="row" ng-hide="ctrl.estimate_model.products.length == 0">
                  <div class="col-md-11 options-container">
                    <ul class="list-unstyled">
                      <li ng-repeat="product in ctrl.estimate_model.products" ng-mouseenter="options=true" ng-mouseleave="options=false">
                        <div class="row">
                          <div class="col-md-7">
                            {{product.product_code}} - {{product.product_description}}
                          </div>

                          <div class="col-md-3">
                            {{product.quantity | currency :"":2}} {{ctrl.unitEnum.findById(product.unit).unit}} x {{product.value | currency :"":2}}
                          </div>

                          <div class="col-md-2 text-right va-middle">
                            {{product.total | currency :"":2}}

                            <span ng-if="ctrl.estimate_model.order_id === null">
                              <a href="javascript:;" ng-click="ctrl.deleteProduct(product)">
                                <i class="fa fa-times-circle font-red" ng-show="options"></i>
                              </a>
                            </span>
                          </div>
                        </div>
                      </li>
                    </ul>

                    <div class="col-md-10">
                      <h4 class="bold text-uppercase">Subtotal 
                      </h4>
                    </div>

                    <div class="col-md-2 text-right bold">
                      <h4>
                        {{ctrl.estimate_model.products_total | currency :"":2}}
                      </h4>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="note note-info">
          <h4 class="block text-uppercase">Total<span class="pull-right">{{ctrl.estimate_model.total | currency :"":2}}</span></h4>
        </div>

        <form role="form" name="environmentDetailForm" ng-submit="ctrl.saveEstimate()">
          <div class="form-body">
            <div class="row">
              <div class="col-sm-4">
                <div class="form-group form-md-checkboxes">
                  <div class="md-checkbox-list">
                    <div class="md-checkbox">
                      <input type="checkbox" ng-model="ctrl.estimate_model.optimize" id="checkbox_optimize" name="checkbox_optimize" class="md-check" ng-true-value="true" ng-false-value="false" ng-click="ctrl.saveEstimate()" ng-disabled="ctrl.estimate_model.order_id !== null">
                      <label for="checkbox_optimize">
                      <span></span>
                      <span class="check"></span>
                      <span class="box"></span>Otimizar preço</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-4">
                <div class="form-group form-md-line-input form-md-floating-label">
                  <textarea rows="3" class="form-control" ng-class="{'edited': ctrl.estimate_model.observation != null && ctrl.estimate_model.observation != ''}" ng-model="ctrl.estimate_model.observation" id="estimate_observation" ng-disabled="ctrl.estimate_model.order_id !== null">
                  </textarea>
                  <label for="estimate_observation">Observações</label>
                </div>
              </div>
            </div>
          </div>

          <div class="form-actions noborder" ng-if="ctrl.estimate_model.order_id === null">
            <button type="submit" class="btn blue" ng-disabled="ctrl.id === undefined">Salvar</button>
            <button type="button" class="btn blue" ng-click="ctrl.generateOrder()" ng-disabled="ctrl.id === undefined || ctrl.selected_options.length == 0">
              Gerar pedido
            </button>
            <button type="button" class="btn green" ng-click="ctrl.duplicateEstimate()" ng-disabled="ctrl.id === undefined">Duplicar</button>
            <a href="/estimates" class="btn default">Voltar</a> 
          </div>
        </form>
      </div>
    </span>
  </div>
</div>