<a href="javascript:;" class="btn blue" ng-click="openModal()">
  Inserir em massa
</a>

<div id="modal_batch_insert" class="modal fade in modal-scroll bs-modal-lg" data-replace="true" tabindex="-1" role="basic" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h3 class="modal-title">
          Inserção em massa - {{model.name}}
        </h3>
      </div>
      <div class="modal-body">
        <div class="scroller" style="height:600px" data-always-visible="1" data-rail-visible="1">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group form-md-line-input">
                <label>Linha</label>
                <ui-select ng-model="selectedLine" theme="selectize" class="form-control" on-select="loadRules($item, $model)">
                  <ui-select-match placeholder="Selecione a linha">{{$select.selected.name}}</ui-select-match>
                  <ui-select-choices repeat="line.id as line in lines | orderBy: 'name' | filter: $select.search">
                    <div ng-bind-html="line.name | highlight: $select.search"></div>
                  </ui-select-choices>
                </ui-select>
              </div>
            </div>

            <div class="col-sm-6" ng-show="rules.length === 0 && selectedLine">
              <div class="form-group form-md-line-input">
                <label class="margin-top-30">Já existe uma regra nessa linha para o componente selecionado</label>
              </div>
            </div>

            <div class="col-sm-4" ng-show="rules.length > 0">
              <div class="form-group form-md-line-input">
                <label>Regra</label>
                <ui-select ng-model="selectedRule" theme="selectize" class="form-control"  on-select="setRule($item, $model)">
                  <ui-select-match placeholder="Selecione a linha">{{$select.selected.id}} - {{$select.selected.description || 'Sem descrição'}}</ui-select-match>
                  <ui-select-choices repeat="rule in rules | orderBy: 'description' | filter: $select.search">
                    <div ng-bind-html="rule.id + ' - ' + (rule.description || 'Sem descrição') | highlight: $select.search"></div>
                  </ui-select-choices>
                </ui-select>
              </div>
            </div>

            <div class="col-sm-2" ng-show="rules.length > 0">
              <div class="form-group form-md-line-input">
                <button class="btn green margin-top-30" ng-click="addRule()">
                  <i class="fa fa-plus"></i>
                </button>
              </div>
            </div>
          </div>

          <div class="row margin-top-10" ng-show="selectedRules.length > 0">
            <div class="col-sm-offset-8 col-sm-4 text-right">
              <input type="text" class="form-control" ng-model="search" placeholder="Pesquisar" />
            </div>
          </div>

          <div class="row margin-top-10" ng-show="selectedRules.length > 0">
            <div class="col-sm-12">
              <table class="table">
                <thead>
                  <tr>
                    <th>LINHA</th>
                    <th>ID REGRA</th>
                    <th width="50%">DESCRIÇÃO</th>
                    <th>REGRA</th>
                    <th width="5%"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="rule in selectedRules | textFilter: search">
                    <td>{{rule.line}}</td>
                    <td>{{rule.id}}</td>
                    <td>
                      <i class="fa" ng-class="{'fa-lock': rule.required == true, 'fa-unlock': rule.required == false}"></i>
                      <strong>({{weightEnum.findById(rule.weight).name}})</strong> {{rule.description}}
                    </td>
                    <td>
                      <span ng-if="rule.control_method.id == controlMethodEnum.WIDTH.id">
                        <span class="label {{controlMethodEnum.WIDTH.color}} margin-right-10">
                          {{rule.control_method.name}}
                        </span>
                      </span>

                      <span ng-if="rule.control_method.id == controlMethodEnum.HEIGHT.id">
                        <span class="label {{controlMethodEnum.HEIGHT.color}} margin-right-10">
                          {{rule.control_method.name}}
                        </span>
                      </span>

                      <span ng-if="rule.control_method.id == controlMethodEnum.AREA.id">
                        <span class="label {{controlMethodEnum.AREA.color}} margin-right-10">
                          {{rule.control_method.name}}
                        </span>
                      </span>

                      <span ng-if="rule.control_method.id == controlMethodEnum.UNIT.id">
                        <span class="label {{controlMethodEnum.UNIT.color}} margin-right-10">
                          {{rule.control_method.name}}
                        </span>
                      </span>

                      <span ng-if="rule.control_method.id == controlMethodEnum.TOTAL_AREA.id">
                        <span class="label {{controlMethodEnum.TOTAL_AREA.color}} margin-right-10">
                          {{rule.control_method.name}}
                        </span>
                      </span>

                      <span ng-if="rule.automatic">
                        AUT.
                      </span>

                      <span ng-if="!rule.automatic">
                        <span ng-if="rule.control_method.id == controlMethodEnum.WIDTH.id || rule.control_method.id == controlMethodEnum.AREA.id">
                          <i class="fa fa-arrows-h"></i>
                          <span class="margin-right-10">
                            {{rule.initial_width | currency :"":2}} cm ~ {{rule.final_width | currency :"":2}} cm
                          </span>
                        </span>

                        <span ng-if="rule.control_method.id == controlMethodEnum.HEIGHT.id || rule.control_method.id == controlMethodEnum.AREA.id">
                          <i class="fa fa-arrows-v"></i>
                          <span class="margin-right-10">
                            {{rule.initial_height | currency :"":2}} cm ~ {{rule.final_height | currency :"":2}} cm
                          </span>
                        </span>

                        <span ng-if="rule.control_method.id == controlMethodEnum.TOTAL_AREA.id">
                          <i class="fa fa-arrows"></i>
                          <span class="margin-right-10">
                            {{rule.initial_area | currency :"":2}} cm² ~ {{rule.final_area | currency :"":2}} cm²
                          </span>
                        </span>
                      </span>
                    </td>
                    <td>
                      <a href="javascript:;" class="font-red" ng-click="removeRule(rule)">
                        <i class="fa fa-times"></i>
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <div class="form-actions noborder">
          <button type="button" class="btn btn-success" data-dismiss="modal" ng-click="save()">Inserir</button>
        </div>
      </div>
    </div>
  </div>
</div>