<form role="form" name="customerForm" ng-submit="save()">
  <div class="form-body">
    <div class="row margin-bottom-10">
      <div class="col-sm-3">
        <div class="md-checkbox">
          <input type="checkbox" id="allow_special_discount" class="md-check" ng-model="model.allow_special_discount" ng-true-value="true" ng-false-value="false">
          <label for="allow_special_discount">
            <span></span>
            <span class="check"></span>
            <span class="box"></span>
             Desconto especial?
          </label>
        </div>
      </div>

      <div class="col-sm-6" ng-if="model.allow_special_discount">
        <div class="input-group">
          <input type="text" class="form-control" ng-model="model.special_discount" ui-number-mask min="0" max="100" ui-hide-group-sep>
          <span class="input-group-addon">%</span>
        </div>
      </div>
    </div>

    <div class="row" ng-if="user.type === 'Administrator' && user.workplace.type === 'Factory'">
      <div class="col-sm-4">
        <div class="form-group form-md-line-input">
          <label>Loja <span class="required">*</span></label>
          <ui-select ng-model="model.store_id" theme="selectize" class="form-control">
            <ui-select-match placeholder="Selecione a loja">{{$select.selected.name}}</ui-select-match>
            <ui-select-choices repeat="store.id as store in stores | filter: $select.search">
              <div ng-bind-html="store.name | highlight: $select.search"></div>
            </ui-select-choices>
          </ui-select>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="form-group form-md-radios">
          <label></label>
          <div class="md-radio-inline">
            <div class="md-radio">
              <input id="radio_pf" name="radio_customer_type" class="md-radiobtn" type="radio" ng-model="customer_type" value="pf">
              <label for="radio_pf">
              <span class="inc"></span>
              <span class="check"></span>
              <span class="box"></span>Pessoa física</label>
            </div>
            <div class="md-radio">
              <input id="radio_pj" name="radio_customer_type" class="md-radiobtn" type="radio" ng-model="customer_type" value="pj">
              <label for="radio_pj">
              <span class="inc"></span>
              <span class="check"></span>
              <span class="box"></span>Pessoa jurídica</label>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4">
        <div class="form-group form-md-line-input form-md-floating-label">
          <input type="text" class="form-control" ng-class="{'edited': model.name != null}" ng-model="model.name" id="customer_name">
          <label for="customer_name" ng-if="customer_type === 'pf'">Nome <span class="required">*</span></label>
          <label for="customer_name" ng-if="customer_type === 'pj'">Nome fantasia <span class="required">*</span></label>
        </div>
      </div>

      <div class="col-sm-5" ng-if="customer_type === 'pj'">
        <div class="form-group form-md-line-input form-md-floating-label">
          <input type="text" class="form-control" ng-class="{'edited': model.corporate_name != null}" ng-model="model.corporate_name" id="customer_corporate_name">
          <label for="customer_corporate_name">Razão social</label>
        </div>
      </div>
    </div>

    <div class="row" ng-if="customer_type === 'pf'" ng-init="initRgMask()">
      <div class="col-sm-3">
        <div class="form-group form-md-line-input form-md-floating-label">
          <input type="text" class="form-control" ng-class="{'edited': model.identification != null}" ng-model="model.identification" id="customer_identification" ui-br-cpf-mask>
          <label for="customer_identification">CPF</label>
        </div>
      </div>

      <div class="col-sm-3">
        <div class="form-group form-md-line-input form-md-floating-label">
          <input type="text" class="form-control" ng-class="{'edited': model.rg != null}" ng-model="model.rg" id="customer_rg" data-plugin="masked-input-rg">
          <label for="customer_rg">RG</label>
        </div>
      </div>

      <div class="col-sm-3">
        <div class="form-group form-md-line-input form-md-floating-label">
          <input type="text" class="form-control" ng-class="{'edited': model.issuing_entity != null}" ng-model="model.issuing_entity" id="customer_issuing_entity">
          <label for="customer_issuing_entity">Órgão expeditor</label>
        </div>
      </div>
    </div>

    <div class="row" ng-if="customer_type === 'pj'">
      <div class="col-sm-3">
        <div class="form-group form-md-line-input form-md-floating-label">
          <input type="text" class="form-control" ng-class="{'edited': model.identification != null}" ng-model="model.identification" id="customer_identification" ui-br-cnpj-mask>
          <label for="customer_identification">CNPJ</label>
        </div>
      </div>

      <div class="col-sm-3">
        <div class="form-group form-md-line-input form-md-floating-label">
          <input type="text" class="form-control" ng-class="{'edited': model.state_inscription != null}" ng-model="model.state_inscription" id="customer_state_inscription">
          <label for="customer_state_inscription">Inscrição estadual</label>
        </div>
      </div>

      <div class="col-sm-3">
        <div class="form-group form-md-line-input form-md-floating-label">
          <input type="text" class="form-control" ng-class="{'edited': model.municipal_inscription != null}" ng-model="model.municipal_inscription" id="customer_municipal_inscription">
          <label for="customer_municipal_inscription">Inscrição municipal</label>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-3">
        <div mass-autocomplete>
          <div class="form-group form-md-line-input form-md-floating-label">
            <input type="text" class="form-control" ng-class="{'edited': selected_state != null}" ng-model="selected_state" mass-autocomplete-item="autocomplete_state">
            <label for="customer_state">Estado</label>
          </div>
        </div>
      </div>

      <div class="col-sm-3">
        <div mass-autocomplete>
          <div class="form-group form-md-line-input form-md-floating-label">
            <input type="text" class="form-control" ng-class="{'edited': selected_city != null}" ng-model="selected_city" mass-autocomplete-item="autocomplete_city" ng-disabled="cities.length === 0">
            <label for="customer_city">Cidade</label>
          </div>
        </div>
      </div>

      <div class="col-sm-3">
        <div class="form-group form-md-line-input form-md-floating-label">
          <input type="text" class="form-control" ng-class="{'edited': model.zip_code != null}" ng-model="model.zip_code" id="customer_zip_code" ui-br-cep-mask>
          <label for="customer_zip_code">CEP</label>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <div class="form-group form-md-line-input form-md-floating-label">
          <input type="text" class="form-control" ng-class="{'edited': model.street != null}" ng-model="model.street" id="customer_street">
          <label for="customer_street">Rua</label>
        </div>
      </div>

      <div class="col-sm-3">
        <div class="form-group form-md-line-input form-md-floating-label">
          <input type="text" class="form-control" ng-class="{'edited': model.neighborhood != null}" ng-model="model.neighborhood" id="customer_neighborhood">
          <label for="customer_neighborhood">Bairro</label>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-3">
        <div class="form-group form-md-line-input form-md-floating-label">
          <input type="text" class="form-control" ng-class="{'edited': model.number != null}" ng-model="model.number" id="customer_number">
          <label for="customer_number">Número</label>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="form-group form-md-line-input form-md-floating-label">
          <input type="text" class="form-control" ng-class="{'edited': model.complement != null}" ng-model="model.complement" id="customer_complement">
          <label for="customer_complement">Complemento</label>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-3">
        <div class="form-group form-md-line-input form-md-floating-label">
          <input type="text" class="form-control" ng-class="{'edited': model.phone != null}" ng-model="model.phone" id="customer_phone" ui-br-phone-number>
          <label for="customer_phone">Telefone</label>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="form-group form-md-line-input form-md-floating-label">
          <input type="email" class="form-control" ng-class="{'edited': model.email != null}" ng-model="model.email" id="customer_email">
          <label for="customer_email">Email</label>
        </div>
      </div>
    </div>
    
    <div class="form-actions noborder">
      <button type="submit" class="btn blue">{{id == undefined ? 'Criar' : 'Editar'}}</button>
      <a href="/customers" class="btn default" ng-if="inModal === false">Voltar</a>
      <button type="button" class="btn red" ng-hide="id == undefined" ng-click="openDestroyModal()">Apagar</button>

      <div id="modal_delete_customer" class="modal fade in" tabindex="-1" role="basic" aria-hidden="true" ng-if="id != undefined">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header bg-red">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
              <h3 class="modal-title">
                <strong>
                  Aviso
                </strong>
              </h3>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-md-12">
                  Tem certeza que deseja apagar esse cliente?
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <div class="form-actions noborder">
                <button type="button" class="btn default" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn red" data-dismiss="modal" ng-click="destroy()">Apagar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>