<div class="row margin-top-10" ng-mouseenter="options=true" ng-mouseleave="options=false" >
  <div class="{{fieldSize()}}">
    <div class="form-group form-md-line-input form-md-floating-label">
      <input type="text" class="form-control" ng-class="{'edited': model.initial_width !== null}" ng-model="model.initial_width" data-plugin="masked-input" />
      <label for="dimension_initial_width">Largura</label>
      <span class="help-block">De</span>
    </div>
  </div>

  <div class="{{fieldSize()}}">
    <div class="form-group form-md-line-input form-md-floating-label">
      <input type="text" class="form-control" ng-class="{'edited': model.final_width !== null}" ng-model="model.final_width"  data-plugin="masked-input" />
      <label for="dimension_final_width">Largura</label>
      <span class="help-block">Até</span>
    </div>
  </div>

  <div class="{{fieldSize()}}">
    <div class="form-group form-md-line-input form-md-floating-label" ng-show="options">
      <a href="#" ng-click="removeDimension(model)">
        <i class="fa fa-times-circle font-red"></i>
      </a>
    </div>
  </div>
</div>

<div class="row margin-top-15">
  <div class="{{fieldSize()}}">
    <div class="form-group form-md-line-input form-md-floating-label">
      <input type="text" class="form-control" ng-class="{'edited': model.initial_height !== null}" ng-model="model.initial_height"  data-plugin="masked-input" />
      <label for="dimension_initial_height">Altura</label>
      <span class="help-block">De</span>
    </div>
  </div>

  <div class="{{fieldSize()}}">
    <div class="form-group form-md-line-input form-md-floating-label">
      <input type="text" class="form-control" ng-class="{'edited': model.final_height !== null}" ng-model="model.final_height"  data-plugin="masked-input" />
      <label for="dimension_final_height">Altura</label>
      <span class="help-block">Até</span>
    </div>
  </div>
</div>