<div class="panel-heading">
  <h4 class="panel-title" ng-mouseenter="options=true" ng-mouseleave="options=false">
    <a class="accordion-toggle accordion-toggle-styled collapsed" data-toggle="collapse" data-parent="#environments" href="javascript:;" data-target="#environments_{{index}}">
      #{{index + 1}} - {{environmentEnum.findById(environment.category).name}} {{environment.name}} 
      <span class="pull-right margin-right-10">
        <span class="margin-right-10" ng-click="deleteRecord(environment)" ng-show="options" ng-if="hasOrder == false">
          <i class="fa fa-times-circle font-red"></i>
        </span>

        {{subtotal | currency :"":2}}
      </span>
    </a>
  </h4>
</div>
<div id="environments_{{index}}" class="panel-collapse collapse">
  <div class="panel-body">
    <div class="row" ng-if="hasOrder == false">
      <div class="col-sm-3">
        <div class="form-group form-md-line-input">
          <ui-select ng-model="location_model.category" theme="selectize" class="form-control">
            <ui-select-match placeholder="Selecione o local">{{$select.selected.name}}</ui-select-match>
            <ui-select-choices repeat="location.id as location in locationEnum.enums | orderBy:'name' | filter: $select.search">
              <div ng-bind-html="location.name | highlight: $select.search"></div>
            </ui-select-choices>
          </ui-select>
        </div>
      </div>

      <div class="col-sm-5">
        <div class="form-group form-md-line-input form-md-floating-label">
          <input type="text" class="form-control" ng-class="{'edited': location_model.name != null}" ng-model="location_model.name">
          <label for="location_name">Descrição</label>
          <span class="help-block"></span>
        </div>
      </div>

      <div class="col-sm-1">
        <button type="button" class="btn green margin-top-20" ng-click="addLocation()">
          <i class="fa fa-plus"></i>
        </button>
      </div>
    </div>

    <div class="row" ng-hide="locations.length == 0">
      <div class="col-md-11 options-container">
        <ul>
          <li ng-repeat="location in locations" ng-mouseenter="options=true" ng-mouseleave="options=false">
            <span class="label {{locationEnum.findById(location.category).color}} margin-right-10">
              {{locationEnum.findById(location.category).name}}
            </span>

            <span>
              {{location.name}}</span>
            </span>

            <span class="pull-right" ng-if="hasOrder == false">
              <a href="javascript:;" ng-click="deleteRecord(location)">
                <i class="fa fa-times-circle font-red" ng-show="options"></i>
              </a>
            </span>

            <ul class="list-unstyled">
              <li ng-repeat="option in location.options" class="bordered" ng-mouseenter="options=true" ng-mouseleave="options=false">
                <div class="row">
                  <div class="col-md-9">
                    <div class="form-group form-md-checkboxes">
                      <div class="md-checkbox-list">
                        <div class="md-checkbox">
                          <input type="checkbox" id="checkbox_option_{{option.id}}" name="checkbox_option_{{location.id}}" class="md-check" value="{{option.total}}" ng-click="calculateSubtotal(environment.id, true)" data-environment-id="{{environment.id}}" data-option-id="{{option.id}}" ng-checked="option.selected" ng-disabled="hasOrder == true">
                          <label for="checkbox_option_{{option.id}}">
                          <span></span>
                          <span class="check"></span>
                          <span class="box"></span>#{{$index + 1}} {{option.line.name}}</label>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-2 text-right va-middle" ng-show="option.selected">
                    {{option.total | currency :"":2}}
                  </div>

                  <div class="col-md-1" ng-if="hasOrder == false">
                    <a href="javascript:;" ng-click="deleteRecord(option)">
                      <i class="fa fa-times-circle font-red" ng-show="options"></i>
                    </a>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-3">
                    <p class="text-uppercase">
                      Dimensões (L x A):
                    </p>
                  </div>

                  <div class="col-md-6">
                    <p>
                      {{option.width | currency :"":2}}cm x {{option.height | currency :"":2}}cm
                    </p>
                  </div>
                </div>

                <div class="row" ng-repeat="component in option.components | filter: (component.required == false)">
                  <div class="col-md-3">
                    <span class="text-uppercase">{{component.component.category.name}}: </span>
                  </div>
                  <div class="col-md-6">
                    <span>{{component.component.name}}</span>
                  </div>
                </div>
              </li>
            </ul>

            <a href="javascript:;" class="btn btn-sm green margin-top-20" ng-click="openOptionModal(location, environment.id)" ng-if="hasOrder == false">
              <i class="fa fa-plus"></i> Adicionar opção
            </a>
          </li>
        </ul>

        <div class="col-md-10">
          <h4 class="bold text-uppercase">Subtotal 
            <span ng-if="selected_options != 0">
              ({{selected_options}} 
              <span ng-if="selected_options > 1">itens selecionados</span>
              <span ng-if="selected_options == 1">item selecionado</span>
              )
            </span>
          </h4>
        </div>

        <div class="col-md-2 text-right bold">
          <h4>
            {{subtotal | currency :"":2}}
          </h4>
        </div>
      </div>
    </div>
  </div>
</div>
<option-modal id="environment.id" selected-location="selected_location" ng-if="hasOrder == false" express="false" callback="onCreateOptionCallback()"></option-modal>