<div ng-controller="OrdersIndexCtrl as ctrl">
  <div class="row">
    <div class="col-md-12">
      <div class="portlet light">
        <div class="portlet-title">
          <div class="caption">
            <span class="caption-subject bold font-blue uppercase">Pedidos</span>
          </div>
          <div class="actions">
          </div>
        </div>
        <div class="portlet-body">
          <div class="table-toolbar">
            <div class="row">
              <div class="col-md-6">
                <div class="btn-group">
                  <a href="/estimates/express" class="btn sbold green margin-right-10">
                    <i class="fa fa-plus"></i> Novo orçamento expresso
                  </a>

                  <a href="/orders/new" class="btn sbold green" ng-if="ctrl.isFactory()">
                    <i class="fa fa-plus"></i> Nova simulação
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="dataTables_wrapper no-footer">
            <table class="table table-striped table-bordered table-hover" id="table_orders">
              <thead>
                <th class="text-center uppercase"></th>
                <th class="text-center uppercase"></th>
                <th class="text-center uppercase"></th>
                <th class="text-center uppercase"></th>
                <th class="text-center uppercase"></th>
                <th class="text-center uppercase"></th>
              </thead>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <payment-modal callback="ctrl.reloadTable()" order-id="ctrl.orderId" value-left="ctrl.valueLeft"></payment-modal>
</div>