<div class="invoice-content-2" ng-controller="OrderShowCtrl as ctrl">
  <div class="row invoice-head">
    <div class="col-xs-4">
      <div class="invoice-logo">
        <img ng-src="{{ctrl.user.workplace.logo_url}}" class="img-responsive" alt="" />
        <h1 class="uppercase">Pedido de Venda</h1>
      </div>
    </div>
    <div class="col-xs-8">
      <div class="company-address">
        <span class="bold uppercase">Nº do Pedido #{{::ctrl.id}}</span><br />
        <span class="bold uppercase">Orçamento 
          <a href="/estimates/{{ctrl.model.estimate_id}}/express_edit"> #{{::ctrl.model.estimate_id}}</a>
        </span><br />
        <span class="bold uppercase">Cliente: {{::ctrl.model.client.name}}</span><br />
        <span class="bold uppercase">
          Cliente para faturamento: 
          <span ng-if="ctrl.canEdit()">
            <a href="#" editable-select="ctrl.model.billing_client" e-ng-options="bc.name for bc in ctrl.billingClients" onbeforesave="ctrl.updateBillingClient($data)" onshow="ctrl.selectClient()" blur="submit">
              {{ctrl.model.billing_client.name}}
            </a>
          </span>

          <span ng-if="!ctrl.canEdit()">
            {{::ctrl.model.billing_client.name}}
          </span>
        </span><br />
        <span class="bold uppercase">Data do pedido: {{::ctrl.model.date | date: 'dd/MM/yyyy'}}</span><br />
        <span class="bold uppercase">Vendedor: {{::ctrl.model.seller.name}}</span><br />
        <div class="bold uppercase margin-bottom-5">Produção: 
          <label class="label {{ctrl.productionStatusEnum.findById(ctrl.model.production_status).color}} {{ctrl.productionStatusEnum.findById(ctrl.model.production_status).font}}">
            {{::ctrl.productionStatusEnum.findById(ctrl.model.production_status).name}}
          </label>
        </div>
        <span class="bold uppercase">Faturamento: 
          <span ng-if="ctrl.model.status === ctrl.orderStatusEnum.TO_SEND.id">
            <label class="label {{ctrl.orderStatusEnum.findById(ctrl.model.status).color}} {{ctrl.orderStatusEnum.findById(ctrl.model.status).font}}">
              {{::ctrl.orderStatusEnum.findById(ctrl.model.status).name}}
            </label>
          </span>

          <a href="javascript:;" ng-if="ctrl.model.status !== ctrl.orderStatusEnum.TO_SEND.id" data-toggle="modal" data-target="#message_modal">
            <label class="label {{ctrl.orderStatusEnum.findById(ctrl.model.status).color}} {{ctrl.orderStatusEnum.findById(ctrl.model.status).font}}">
              {{::ctrl.orderStatusEnum.findById(ctrl.model.status).name}}
            </label>
          </a>
        </span>
      </div>
    </div>
  </div>

  <div id="message_modal" class="modal fade in bs-modal-lg" data-backdrop="static" data-keyboard="false" tabindex="-1" role="basic" aria-hidden="true" ng-if="ctrl.model.status !== ctrl.orderStatusEnum.TO_SEND.id">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="ctrl.reloadPage()"></button>
          <h3 class="modal-title">
            <strong>Detalhes do processamento</strong>
          </h3>
        </div>
        <div class="modal-body">
          <h3 ng-if="ctrl.messages.length !== 0">Progresso</h3>

          <div class="row" ng-if="ctrl.inProgress === true">
            <div class="col-xs-12">
              <div class="progress progress-striped active">
                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{ctrl.pct_complete}}" aria-valuemin="0" aria-valuemax="100" style="width: {{ctrl.pct_complete}}%">
                </div>
              </div>
              {{ctrl.pct_complete}}% (Passo {{ctrl.at}} de {{ctrl.progress}})
            </div>
          </div>

          <div class="row" ng-if="ctrl.messages.length !== 0">
            <div class="col-xs-12">
              <div class="list-group">
                <div class="list-group-item" ng-repeat="message in ctrl.messages track by $index">
                  {{message}}
                </div>
              </div>
            </div>
          </div>

          <h3>Processamentos anteriores</h3>

          <div class="row" ng-if="ctrl.model.processing_messages.length !== 0">
            <div class="col-xs-12">
              <div class="list-group">
                <div class="list-group-item" ng-repeat="message in ctrl.model.processing_messages track by $index">
                  {{message}}
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <div class="form-actions noborder">
            <button type="button" class="btn default" data-dismiss="modal" ng-click="ctrl.reloadPage()">Fechar</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div ng-if="ctrl.id !== undefined">
    <div class="row invoice-body">
      <div class="col-xs-12">
        <div class="invoice-title uppercase text-center">
          Persianas
        </div>
      </div>
    </div>

    <hr>

    <div class="row invoice-body">
      <div class="col-xs-8">
        <div class="invoice-title uppercase text-left">
          Descrição
        </div>
      </div>

      <div class="col-xs-4">
        <div class="invoice-title uppercase text-right">
          Subtotal
        </div>
      </div>
    </div>

    <hr>

    <div class="row invoice-body" ng-repeat="environment in ctrl.model.environments" ng-if="environment.has_order_items">
      <div class="col-xs-12">
        <div class="row">
          <div class="col-xs-12 uppercase bold">
            #{{::$index + 1}} - {{::ctrl.environmentEnum.findById(environment.category).name}} {{::environment.name}}
          </div>
        </div>

        <div class="row" ng-repeat-start="location in environment.locations">
          <div class="col-xs-12">
            {{::ctrl.locationEnum.findById(location.category).name}} {{::location.name}}
          </div>
        </div>

        <div ng-repeat-end>
          <div class="row" ng-repeat-start="order_item in location.order_items">
            <div class="col-xs-8 text-left">
              #{{::order_item.identification}} {{::order_item.line.name}} <span class="bold">{{::order_item.width}}cm x {{::order_item.height}}cm</span>
            </div>

            <div class="col-xs-4 text-right bold">
              <label class="label label-success margin-right-10" ng-if="order_item.discount !== 0">
                {{::order_item.discount | currency :"":2}}%
              </label>
              <div class="popover-wrapper">
                <a href="#" editable-currency="order_item.total_with_discount" onbeforesave="ctrl.updateTotalWithDiscount($data, order_item)" edit-disabled="{{!ctrl.canEdit()}}" ng-class="{'editable-disabled': !ctrl.canEdit()}" blur="submit">
                {{::order_item.total_with_discount | currency :"":2}}
                </a>
              </div>
            </div>
          </div>

          <div class="row" ng-repeat-end>
            <div class="col-xs-12">
              <small>{{::order_item.specification}}</small>
            </div>        
            <hr>
          </div>
        </div>
      </div>
    </div>

    <div class="row invoice-body padding-tb-10 bg-default bg-font-default">
      <div class="col-xs-10 text-right bold uppercase">
        Subtotal
      </div>

      <div class="col-xs-2 text-right bold">
        {{::ctrl.model.environments_total | currency :"":2}}
      </div>
    </div>

    <div class="row invoice-body margin-top-20">
      <div class="col-xs-12">
        <div class="invoice-title uppercase text-center">
          Outros produtos e serviços
        </div>
      </div>
    </div>

    <div class="row invoice-body margin-top-20">
      <div class="col-xs-12">
        <div class="table-responsive">
          <table class="table table-hover table-border-right">
            <thead>
              <tr>
                <th class="invoice-title uppercase text-center">Descrição</th>
                <th class="invoice-title uppercase text-center">Quant.</th>
                <th class="invoice-title uppercase text-center">Vr. Unit.</th>
                <th class="invoice-title uppercase text-center">Subtotal</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="item in ctrl.model.items">
                <td class="text-left">
                  <label class="label margin-right-10 {{ctrl.itemTypeEnum.findById(item.type).color}}">
                    {{::ctrl.itemTypeEnum.findById(item.type).name}}
                  </label>{{::item.identification}}
                </td>

                <td class="text-right">
                  {{::item.quantity | currency :"":2}} {{::ctrl.unitEnum.findById(item.unit).unit}}
                </td>

                <td class="text-right">
                   <div class="popover-wrapper">
                    <a href="#" editable-currency="item.value" onbeforesave="ctrl.updateValue($data, item)" edit-disabled="{{!ctrl.canEdit()}}" ng-class="{'editable-disabled': !ctrl.canEdit()}" blur="submit">
                    {{::item.value | currency :"":2}}
                    </a>
                  </div>
                </td>

                <td class="text-right">
                  <label class="label label-success margin-right-10" ng-if="item.discount !== 0">
                    {{::item.discount | currency :"":2}}%
                  </label>
                  <span>
                    {{::item.total_with_discount | currency :"":2}}
                  </span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="row invoice-body padding-tb-10 bg-default bg-font-default">
      <div class="col-xs-7 text-right bold uppercase">
        Subtotal
      </div>

      <div class="col-xs-5 text-right bold">
        {{::ctrl.model.items_total | currency :"":2}}
      </div>
    </div>

    <hr>

    <div class="row invoice-body margin-top-20">
      <div class="col-xs-7 text-right bold uppercase">
        Subtotal
      </div>

      <div class="col-xs-5 text-right bold">
        {{::ctrl.model.total | currency :"":2}}
      </div>
    </div>

    <hr>

    <div class="row invoice-body margin-top-20">
      <div class="col-xs-7 text-right bold uppercase">
        Desconto comercial
      </div>

      <div class="col-xs-5 text-right bold">
        {{::ctrl.model.commercial_discount | currency :"":2}}
      </div>
    </div>

    <hr>

    <div class="row invoice-body margin-top-20">
      <div class="col-xs-7 text-right bold uppercase">
        Subtotal geral
      </div>

      <div class="col-xs-5 text-right bold">
        {{::ctrl.model.partial_total | currency :"":2}}
      </div>
    </div>

    <hr>

    <div class="row invoice-body">
      <div class="col-xs-7 text-right bold uppercase">
        Desconto geral
      </div>

      <div class="col-xs-5 text-right bold">
        <label class="label label-success margin-right-10" ng-if="ctrl.model.discount !== 0">
          {{::ctrl.model.discount | currency :"":2}}%
        </label>
        <span>
          {{::ctrl.model.discount_value | currency :"":2}}
        </span>
      </div>
    </div>

    <hr>

    <div class="row invoice-body">
      <div class="col-xs-7 text-right bold uppercase">
        Total geral
      </div>

      <div class="col-xs-5 text-right bold" ng-if="ctrl.canEdit() && ctrl.model.billing_client.allow_special_discount === true">
        <label class="label label-success margin-right-10" ng-if="ctrl.model.special_discount !== null && ctrl.model.special_discount !== 0">
          {{::ctrl.model.special_discount| currency :"":2}}%
        </label>
        <a href="#" editable-discount="ctrl.model.special_discount" onbeforesave="ctrl.updateSpecialDiscount($data, $type)" blur="submit" e-total="ctrl.model.total_with_discount" e-suggested="ctrl.model.billing_client.special_discount" class="editable-not-empty">
          {{ctrl.model.total | currency :"":2}}
        </a>
      </div>

      <div class="col-xs-5 text-right bold" ng-if="!ctrl.canEdit() || ctrl.model.billing_client.allow_special_discount !== true">
        <label class="label label-success margin-right-10" ng-if="ctrl.model.special_discount !== null && ctrl.model.special_discount !== 0">
          {{::ctrl.model.special_discount | currency :"":2}}%
        </label>
        {{ctrl.model.total | currency :"":2}}
      </div>
    </div>

    <hr>

    <div class="row invoice-body">
      <div class="col-xs-7 text-right bold uppercase">
        Pagamentos
      </div>

      <div class="col-xs-5 text-right bold" ng-if="ctrl.model.payments.length === 0">
        0,00
      </div>

      <div class="col-xs-5 text-right">
        <div ng-repeat="payment in ctrl.model.payments">
          <div class="col-xs-10 text-right margin-bottom-5">
            <font size="2" ng-if="payment.payment_method === ctrl.paymentMethodEnum.CREDIT_CARD.id">
              {{ctrl.paymentMethodEnum.findById(payment.payment_method).name}} em {{payment.installment_number}}x
            </font>

            <font size="2" ng-if="payment.payment_method === ctrl.paymentMethodEnum.BANK_SLIP.id">
              <a href="{{payment.bank_slip_url}}" target="_blank">
                {{ctrl.paymentMethodEnum.findById(payment.payment_method).name}}
              </a>
            </font>

            <font size="2" ng-if="payment.payment_method === ctrl.paymentMethodEnum.MANUAL.id">
              {{ctrl.paymentMethodEnum.findById(payment.payment_method).name}}
            </font>
          </div>
          <div class="col-xs-2 text-right bold margin-bottom-5">
            {{payment.value | currency :"":2}}
          </div>
        </div>
      </div>
    </div>

    <div class="row invoice-subtotal">
      <div class="col-xs-12">
        <h2 class="invoice-title uppercase">Observação</h2>
        <p class="invoice-desc">{{::ctrl.model.observation}}</p>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 text-right">
        <a class="btn green-haze hidden-print uppercase" href="/orders/{{ctrl.id}}/print" target="_blank">Imprimir</a>
        
        <span ng-if="ctrl.canEdit()">
          <button type="button" class="btn yellow hidden-print uppercase" data-target="#select_payment_condition_modal" data-toggle="modal" ng-click="ctrl.loadPaymentConditions()">
            Enviar
          </button>

          <div id="select_payment_condition_modal" class="modal fade in" data-backdrop="static" data-keyboard="false" tabindex="-1" role ="basic" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                  <h3 class="modal-title">
                    <strong>Selecione o plano de pagamento</strong>
                  </h3>
                </div>
                <div class="modal-body">
                  <div class="row">
                    <div class="col-xs-12">
                      <div class="form-group form-md-line-input">
                        <ui-select ng-model="ctrl.selectedPaymentCondition" theme="selectize" class="form-control">
                          <ui-select-match placeholder="Selecione um plano de pagamento">{{$select.selected.name}}</ui-select-match>
                          <ui-select-choices repeat="pc.id as pc in ctrl.paymentConditions | filter: $select.search">
                            <div ng-bind-html="pc.name | highlight: $select.search"></div>
                          </ui-select-choices>
                        </ui-select>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="modal-footer">
                  <div class="form-actions noborder">
                    <button type="button" class="btn default" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn blue" data-dismiss="modal" ng-click="ctrl.sendToERP()" ng-disabled="ctrl.selectedPaymentCondition === null">Confirmar</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </span>

        <button type="button" class="btn yellow hidden-print uppercase" ng-if="ctrl.model.status === ctrl.orderStatusEnum.SENDING.id" ng-disabled="true">
          <i class="fa fa-spinner fa-spin fa-fw"></i> Processando...
        </button>

        <button type="button" class="btn yellow hidden-print uppercase" ng-if="ctrl.model.status === ctrl.orderStatusEnum.SENT.id" ng-click="ctrl.cancelOrder()">
          Cancelar envio
        </button>

        <button type="button" class="btn red hidden-print uppercase" ng-if="ctrl.canEdit()" ng-click="ctrl.destroyOrder()">
          Apagar
        </button>

        <button type="button" class="btn dark hidden-print uppercase" data-toggle="modal" data-target="#modal_payment" ng-click="ctrl.initPayment()" ng-if="!ctrl.model.has_payments && ctrl.canEdit()">
          Pagar
        </button>
      </div>
    </div>

    <div class="row margin-top-10" ng-if="ctrl.user.workplace.type === ctrl.workplaceTypeEnum.DISTRIBUTOR.id && ctrl.userTypeEnum.ADMINISTRATOR.id === ctrl.user.type">
      <div class="col-xs-12 text-right">
        <button type="button" class="btn btn-outline green-haze hidden-print uppercase" ng-click="ctrl.sendToFactory()" ng-if="ctrl.model.production_status === ctrl.productionStatusEnum.NOT_STARTED.id">
          Enviar para a fábrica
        </button>

        <button type="button" class="btn btn-outline red hidden-print uppercase" ng-click="ctrl.cancelSendToFactory()" ng-if="ctrl.model.production_status === ctrl.productionStatusEnum.SENT_TO_FACTORY.id">
          Cancelar envio para a fábrica
        </button>
      </div>
    </div>

    <div class="row margin-top-10" ng-if="ctrl.user.workplace.type === ctrl.workplaceTypeEnum.FACTORY.id && ctrl.userTypeEnum.ADMINISTRATOR.id === ctrl.user.type">
      <div class="col-xs-12 text-right">
        <button type="button" class="btn btn-outline green-haze hidden-print uppercase" ng-click="ctrl.sendToProduction()" ng-if="ctrl.model.production_status === ctrl.productionStatusEnum.SENT_TO_FACTORY.id">
          Enviar para produção
        </button>

        <button type="button" class="btn btn-outline green-haze hidden-print uppercase" ng-click="ctrl.startProduction()" ng-if="ctrl.model.production_status === ctrl.productionStatusEnum.SENT_TO_PRODUCTION.id">
          Iniciar produção
        </button>

        <button type="button" class="btn btn-outline red hidden-print uppercase" ng-click="ctrl.cancelSendToProduction()" ng-if="ctrl.model.production_status === ctrl.productionStatusEnum.SENT_TO_PRODUCTION.id">
          Cancelar envio para produção
        </button>

        <button type="button" class="btn btn-outline green-haze hidden-print uppercase" ng-click="ctrl.finishProduction()" ng-if="ctrl.model.production_status === ctrl.productionStatusEnum.IN_PRODUCTION.id">
          Finalizar produção
        </button>

        <button type="button" class="btn btn-outline red hidden-print uppercase" ng-click="ctrl.cancelProduction()" ng-if="ctrl.model.production_status === ctrl.productionStatusEnum.IN_PRODUCTION.id">
          Cancelar início da produção
        </button>

        <button type="button" class="btn btn-outline green-haze hidden-print uppercase" ng-click="ctrl.dispatch()" ng-if="ctrl.model.production_status === ctrl.productionStatusEnum.PRODUCED.id">
          Despachar
        </button>

        <button type="button" class="btn btn-outline red hidden-print uppercase" ng-click="ctrl.cancelFinishProduction()" ng-if="ctrl.model.production_status === ctrl.productionStatusEnum.PRODUCED.id">
          Cancelar finalização da produção
        </button>

        <button type="button" class="btn btn-outline green-haze hidden-print uppercase" ng-click="ctrl.receive()" ng-if="ctrl.model.production_status === ctrl.productionStatusEnum.DISPATCHED.id">
          Receber
        </button>

        <button type="button" class="btn btn-outline red hidden-print uppercase" ng-click="ctrl.cancelDispatch()" ng-if="ctrl.model.production_status === ctrl.productionStatusEnum.DISPATCHED.id">
          Cancelar despacho
        </button>

        <button type="button" class="btn btn-outline red hidden-print uppercase" ng-click="ctrl.cancelReceive()" ng-if="ctrl.model.production_status === ctrl.productionStatusEnum.RECEIVED.id">
          Cancelar recebimento
        </button>
      </div>
    </div>
  </div>

  <payment-modal callback="ctrl.reloadState()" order-id="ctrl.id" value-left="ctrl.model.total_with_special_discount"></payment-modal>
</div>