<div ng-controller="BaseComponentFormCtrl as ctrl">
  <div class="portlet light">
    <div class="portlet-title">
      <div class="caption font-green">
        <i class="icon-pin font-green"></i>
        <span class="caption-subject bold uppercase">
          {{ctrl.componentName || 'Novo componente base'}}
          <label class="label label-success" ng-if="ctrl.model.deleted === false">Ativo</label>
          <label class="label label-danger" ng-if="ctrl.model.deleted === true">Inativo</label>
        </span>
      </div>
    </div>
    <div class="portlet-body form">
      <form role="form" name="baseComponentForm">
        <div class="form-body">
          <div class="row">
            <div class="col-sm-3">
              <div class="form-group form-md-line-input">
                <label>
                  <input type="checkbox" ng-model="ctrl.model.edit.category_id" ng-true-value="true" ng-false-value="false"> Categoria
                </label>
                
                <category-selection current="ctrl.selectedCategory" model="ctrl.model.category_id"></category-selection>
              </div>
            </div>

            <div class="col-sm-3">
              <div class="form-group form-md-line-input">
                <label>
                  <input type="checkbox" ng-model="ctrl.model.edit.unit" ng-true-value="true" ng-false-value="false"> Unidade
                </label>

                <unit-selection model="ctrl.model.unit"></unit-selection>
              </div>
            </div>

            <div class="col-sm-3" ng-if="ctrl.selectedCategory.use_cut_table">
              <div class="form-group form-md-line-input">
                <label>
                  <input type="checkbox" ng-model="ctrl.model.edit.cut_table_id" ng-true-value="true" ng-false-value="false"> Mesa de corte
                </label>

                <ui-select ng-model="ctrl.model.cut_table_id" theme="selectize" class="form-control">
                  <ui-select-match placeholder="Selecione a mesa de corte">{{$select.selected.name}}</ui-select-match>
                  <ui-select-choices repeat="cut_table.id as cut_table in ctrl.cutTables | filter: $select.search">
                    <div ng-bind-html="cut_table.name | highlight: $select.search"></div>
                  </ui-select-choices>
                </ui-select>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-3">
              <div class="form-group form-md-line-input">
                <label>
                  <input type="checkbox" ng-model="ctrl.model.edit.allow_rotation" ng-true-value="true" ng-false-value="false">
                </label>
                <div class="md-checkbox margin-top-15">
                  <input type="checkbox" id="allow_rotation" class="md-check" ng-model="ctrl.model.allow_rotation" ng-true-value="true" ng-false-value="false">
                  <label for="allow_rotation">
                    <span></span>
                    <span class="check"></span>
                    <span class="box"></span>
                    Permitir rotacionar durante o encaixe
                  </label>
                </div>
              </div>
            </div>

            <div class="col-sm-3">
              <div class="form-group form-md-line-input">
                <label>
                  <input type="checkbox" ng-model="ctrl.model.edit.print_on_components_label" ng-true-value="true" ng-false-value="false">
                </label>
                <div class="md-checkbox margin-top-15">
                  <input type="checkbox" id="print_on_components_label" class="md-check" ng-model="ctrl.model.print_on_components_label" ng-true-value="true" ng-false-value="false">
                  <label for="print_on_components_label">
                    <span></span>
                    <span class="check"></span>
                    <span class="box"></span>
                    Imprimir na etiqueta de componente
                  </label>
                </div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group form-md-line-input">
                <label>
                  <input type="checkbox" ng-model="ctrl.model.edit.print_on_lines_label" ng-true-value="true" ng-false-value="false">
                </label>
                <div class="md-checkbox margin-top-15">
                  <input type="checkbox" id="print_on_lines_label" class="md-check" ng-model="ctrl.model.print_on_lines_label" ng-true-value="true" ng-false-value="false">
                  <label for="print_on_lines_label">
                    <span></span>
                    <span class="check"></span>
                    <span class="box"></span>
                    Imprimir na etiqueta de persiana
                  </label>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-3">
              <div class="form-group form-md-line-input form-md-floating-label">
                <input type="text" class="form-control" ng-class="{'edited': ctrl.model.name != null}" ng-model="ctrl.model.name" id="base_component_name">
                <label for="base_component_name">Nome</label>
              </div>
            </div>

            <div class="col-sm-3">
              <div class="form-group form-md-line-input form-md-floating-label">
                <div class="input-group">
                  <input type="text" class="form-control" ng-class="{'edited': ctrl.model.cost != null}" ng-model="ctrl.model.cost" data-plugin="masked-input-decimal" ng-change="ctrl._simulateCost()" />
                  <label>Custo</label>
                  <span class="input-group-addon">
                    <input type="checkbox" ng-model="ctrl.model.edit.cost" ng-true-value="true" ng-false-value="false">
                  </span>
                </div>
              </div>
            </div>

            <div class="col-sm-3">
              <div class="form-group form-md-line-input form-md-floating-label">
                <div class="input-group">
                  <input type="text" class="form-control" ng-class="{'edited': ctrl.model.reference_cost != null}" ng-model="ctrl.model.reference_cost" data-plugin="masked-input-decimal" />
                  <label>Custo referencial</label>
                  <span class="input-group-addon">
                    <input type="checkbox" ng-model="ctrl.model.edit.reference_cost" ng-true-value="true" ng-false-value="false">
                  </span>
                </div>
              </div>
            </div>

            <div class="col-sm-3">
              <div class="form-group form-md-line-input form-md-floating-label">
                <div class="input-group">
                  <input type="text" class="form-control" ng-class="{'edited': ctrl.simulated_cost != null}" ng-model="ctrl.simulated_cost" data-plugin="masked-input-decimal" readonly disabled />
                  <label>Custo simulado</label>
                  <a class="input-group-addon popovers" data-container="body" data-html="true" data-content="Resultado de custo x perda x câmbio. Esse valor será a varíavel _CUSTO_BASE_ na regra" data-trigger="hover" data-placement="left" href="javascript:;">
                    <i class="fa fa-question"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-3">
              <div class="form-group form-md-line-input form-md-floating-label">
                <div class="input-group">
                  <input type="text" class="form-control" ng-class="{'edited': ctrl.model.exchange != null}" ng-model="ctrl.model.exchange" data-plugin="masked-input-decimal" ng-change="ctrl._simulateCost()" />
                  <label>Câmbio</label>
                  <a class="input-group-addon popovers" data-container="body" data-html="true" data-content="Se quiser colocar 10%, coloque 1.10" data-trigger="hover" href="javascript:;">
                    <i class="fa fa-question"></i>
                  </a>
                  <span class="input-group-addon">
                    <input type="checkbox" ng-model="ctrl.model.edit.exchange" ng-true-value="true" ng-false-value="false">
                  </span>
                </div>
              </div>
            </div>

            <div class="col-sm-3">
              <div class="form-group form-md-line-input form-md-floating-label">
                <div class="input-group">
                  <input type="text" class="form-control" ng-class="{'edited': ctrl.model.loss != null}" ng-model="ctrl.model.loss" data-plugin="masked-input-decimal" ng-change="ctrl._simulateCost()" />
                  <label>Perda</label>
                  <a class="input-group-addon popovers" data-container="body" data-html="true" data-content="Se quiser colocar 10%, coloque 1.10" data-trigger="hover" href="javascript:;">
                    <i class="fa fa-question"></i>
                  </a>
                  <span class="input-group-addon">
                    <input type="checkbox" ng-model="ctrl.model.edit.loss" ng-true-value="true" ng-false-value="false">
                  </span>
                </div>
              </div>
            </div>

            <div class="col-sm-3">
              <div class="form-group form-md-line-input form-md-floating-label">
                <div class="input-group">
                  <input type="text" class="form-control" ng-class="{'edited': ctrl.model.fix_cost != null}" ng-model="ctrl.model.fix_cost" data-plugin="masked-input-decimal" ng-change="ctrl._simulateCost()" />
                  <label>Custo fixo</label>
                  <span class="input-group-addon">
                    <input type="checkbox" ng-model="ctrl.model.edit.fix_cost" ng-true-value="true" ng-false-value="false">
                  </span>
                </div>
              </div>
            </div>

            <div class="col-sm-3">
              <div class="form-group form-md-line-input form-md-floating-label">
                <div class="input-group">
                  <input type="text" class="form-control" ng-class="{'edited': ctrl.simulated_fix_cost != null}" ng-model="ctrl.simulated_fix_cost" data-plugin="masked-input-decimal" readonly disabled />
                  <label>Custo fixo simulado</label>
                  <a class="input-group-addon popovers" data-container="body" data-html="true" data-content="Resultado de custo fixo x perda x câmbio. Esse valor será a varíavel _CUSTO_FIXO_ na regra" data-trigger="hover" data-placement="left" href="javascript:;">
                    <i class="fa fa-question"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-6">
              <div class="form-group form-md-line-input form-md-floating-label">
                <label>
                  <input type="checkbox" ng-model="ctrl.model.edit.family_ids" ng-true-value="true" ng-false-value="false">
                </label>
                <ui-select multiple ng-model="ctrl.model.family_ids" theme="bootstrap" class="form-control">
                  <ui-select-match placeholder="Selecione as famílias">{{$item.name}}</ui-select-match>
                  <ui-select-choices repeat="family.id as family in ctrl.families | filter: $select.search">
                    <div ng-bind-html="family.name | highlight: $select.search"></div>
                  </ui-select-choices>
                </ui-select>
              </div>
            </div>

            <div class="col-sm-3">
              <div class="form-group form-md-line-input form-md-floating-label">
                <input type="text" class="form-control" ng-disabled="{{ctrl.id != undefined}}" ng-class="{'edited': ctrl.model.code != null}" ng-model="ctrl.model.code" id="base_component_code" maxlength="20">
                <label for="base_component_code">Código</label>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-9">
              <div class="form-group form-md-line-input form-md-floating-label">
                <div class="input-group">
                  <span class="input-group-btn">
                    <input type="checkbox" ng-model="ctrl.model.edit.characteristics" ng-true-value="true" ng-false-value="false" class="margin-right-10">
                  </span>
                  <div class="input-group-control">
                    <textarea rows="3" class="form-control" ng-class="{'edited': ctrl.model.characteristics != null && ctrl.model.characteristics != ''}" ng-model="ctrl.model.characteristics" id="base_component_characteristics">
                    </textarea>
                    <label for="base_component_characteristics">Características</label>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <hr />

          <a href="javascript:;" ng-click="ctrl.toggleShowOffsets()">
            <h3>
              Perdas <i class="fa" ng-class="{'fa-caret-up': ctrl.showOffsets === false, 'fa-caret-down': ctrl.showOffsets === true}"></i>
            </h3>
          </a>

          <div class="row" ng-show="ctrl.showOffsets === true">
            <div class="col-sm-1 col-sm-offset-1">
              <div class="form-group form-md-line-input form-md-floating-label">
                <div class="input-group">
                  <input type="text" class="form-control" ng-class="{'edited': ctrl.model.offset_top != null}" ng-model="ctrl.model.offset_top" data-plugin="masked-input">
                  <label for="base_component_offset_top">Topo</label>
                  <span class="input-group-addon">
                    <input type="checkbox" ng-model="ctrl.model.edit.offset_top" ng-true-value="true" ng-false-value="false">
                  </span>
                </div>
              </div>
            </div>
          </div>

          <div class="row" ng-show="ctrl.showOffsets === true">
            <div class="col-sm-1">
              <div class="form-group form-md-line-input form-md-floating-label">
                <div class="input-group">
                  <input type="text" class="form-control" ng-class="{'edited': ctrl.model.offset_left != null}" ng-model="ctrl.model.offset_left" data-plugin="masked-input">
                  <label for="base_component_offset_left">Esquerda</label>
                  <span class="input-group-addon">
                    <input type="checkbox" ng-model="ctrl.model.edit.offset_left" ng-true-value="true" ng-false-value="false">
                  </span>
                </div>
              </div>
            </div>

            <div class="col-sm-1 col-sm-offset-1">
              <div class="form-group form-md-line-input form-md-floating-label">
                <div class="input-group">
                  <input type="text" class="form-control" ng-class="{'edited': ctrl.model.offset_right != null}" ng-model="ctrl.model.offset_right" data-plugin="masked-input">
                  <label for="base_component_offset_right">Direita</label>
                  <span class="input-group-addon">
                    <input type="checkbox" ng-model="ctrl.model.edit.offset_right" ng-true-value="true" ng-false-value="false">
                  </span>
                </div>
              </div>
            </div>
          </div>

          <div class="row" ng-show="ctrl.showOffsets === true">
            <div class="col-sm-1 col-sm-offset-1">
              <div class="form-group form-md-line-input form-md-floating-label">
                <div class="input-group">
                  <input type="text" class="form-control" ng-class="{'edited': ctrl.model.offset_bottom != null}" ng-model="ctrl.model.offset_bottom" data-plugin="masked-input">
                  <label for="base_component_offset_bottom">Baixo</label>
                  <span class="input-group-addon">
                    <input type="checkbox" ng-model="ctrl.model.edit.offset_bottom" ng-true-value="true" ng-false-value="false">
                  </span>
                </div>
              </div>
            </div>
          </div>

          <hr />

          <div class="row" ng-if="ctrl.model.deleted === false">
            <div class="col-sm-12">
              <button type="button" class="btn blue" ng-click="ctrl.save(false)">
                {{ctrl.id === undefined ? 'Criar' : 'Editar'}}
              </button>
              <button type="button" class="btn blue" ng-click="ctrl.save(true)">
                {{ctrl.id === undefined ? 'Criar e gerar registros' : 'Gerar registros'}}
              </button>
              <a href="/base_components" class="btn default">Voltar</a>
              <button type="button" class="btn red" ng-hide="ctrl.id == undefined" ng-click="ctrl.destroy(true)">Apagar</button>
              <button type="button" class="btn yellow" ng-hide="ctrl.id == undefined" ng-click="ctrl.destroy(false)">Inativar</button>
            </div>
          </div>

          <div class="row" ng-if="ctrl.model.deleted === true">
            <div class="col-sm-12">
              <button type="button" class="btn blue" ng-click="ctrl.activate(false)">
                Reativar
              </button>
              <button type="button" class="btn blue" ng-click="ctrl.activate(true)">
                Reativar com os filhos
              </button>
              <a href="/base_components" class="btn default">Voltar</a>
              <button type="button" class="btn red" ng-hide="ctrl.id == undefined" ng-click="ctrl.destroy(true)">Apagar</button>
            </div>
          </div>

          <hr ng-if="ctrl.model.deleted === false">

          <div class="row" ng-if="ctrl.model.deleted === false">
            <div class="col-sm-6">
              <h4>Atributos disponíveis</h4>
            </div>
            <div class="col-sm-6">
              <h4>Atributos configurados</h4>
            </div>
          </div>

          <div class="row" ng-if="ctrl.model.deleted === false">
            <div class="col-sm-6">
              <div class="form-group form-md-line-input form-md-floating-label">
                <div class="input-icon">
                  <input type="text" class="form-control" ng-model="ctrl.search">
                  <i class="fa fa-search"></i>
                </div>
              </div>
            </div>
          </div>

          <div class="row" ng-if="ctrl.model.deleted === false">
            <div class="col-sm-6">
              <button type="button" class="btn green pull-right" ng-click="ctrl.addToAttributes()"><i class="fa fa-arrow-circle-right"></i></button>
            </div>
          </div>

          <div class="row" ng-if="ctrl.model.deleted === false">
            <div class="col-sm-6">                
              <div class="portlet-body overflow-container margin-top-20 margin-bottom-20">
                <div class="dd" id="attribute_list">
                  <ol class="dd-list" ng-model="ctrl.attributes" ng-if="ctrl.attributes !== undefined && ctrl.attributes.length > 0">
                    <li class="dd-item dd3-item" ng-repeat="attribute in ctrl.attributes | textFilter: ctrl.search">
                      <div class="dd-handle dd3-handle"> </div>
                      <div class="dd3-content">
                        <i class="fa fa-bolt" ng-if="attribute.automatic === true" title="Atributo automático"></i> {{attribute.name}}
                      </div>
                      <ol class="dd-list" ng-model="attribute.children" ng-if="attribute.children !== undefined && attribute.children.length > 0">
                        <li class="dd-item dd3-item margin-bottom-10" ng-repeat="value in attribute.children | textFilter: ctrl.search">
                          <div class="md-checkbox">
                            <input type="checkbox" id="{{value.id}}" class="md-check" checklist-model="ctrl.configuredAttributes" checklist-value="value" checklist-comparator=".id">
                            <label for="{{value.id}}">
                              <span></span>
                              <span class="check"></span>
                              <span class="box"></span>
                              {{value.value}}
                            </label>
                          </div>
                        </li>
                      </ol>
                    </li>
                  </ol>
                </div>
              </div>
            </div>
            <div class="col-sm-6">                
              <div class="portlet-body">
                <div class="dd" id="value_list" ng-init="ctrl.initNestable()">
                  <ol class="dd-list">
                    <li class="dd-item" data-id="{{value.id}}" data-value="{{value.value}}" data-index="{{value.index}}" ng-repeat="value in ctrl.model.values" ng-include="'views/base_components/values-list.html'"></li>
                  </ol>
                </div>
              </div>
            </div>
          </div>
          
          <div class="row" ng-if="ctrl.model.deleted === false">
            <div class="col-sm-6">
              <button type="button" class="btn green pull-right" ng-click="ctrl.addToAttributes()"><i class="fa fa-arrow-circle-right"></i></button>
            </div>
          </div>

          <div class="form-actions noborder" ng-if="ctrl.model.deleted === false">
            <button type="button" class="btn blue" ng-click="ctrl.save(false)">
              {{ctrl.id === undefined ? 'Criar' : 'Editar'}}
            </button>
            <button type="button" class="btn blue" ng-click="ctrl.save(true)">
              {{ctrl.id === undefined ? 'Criar e gerar registros' : 'Gerar registros'}}
            </button>
            <a href="/base_components" class="btn default">Voltar</a>
            <button type="button" class="btn red" ng-hide="ctrl.id == undefined">Apagar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>