<div class="dd-handle dd3-handle"> </div>
<div class="dd3-content"> 
  <i class="fa fa-bolt" ng-if="value.automatic === true" title="Atributo automático"></i> {{value.value}}

  <a href="javascript:;" class="pull-right" ng-click="ctrl.removeValue(value.index)">
    <i class="fa fa-times-circle font-red"></i>
  </a>
</div>
<ol class="dd-list">
  <li class="dd-item dd3-item margin-bottom-10" data-id="{{value.id}}" data-value="{{value.value}}" data-index="{{value.index}}" ng-repeat="value in value.children" ng-include="'views/base_components/values-list.html'">
  </li>
</ol>