<div class="invoice-all" ng-controller="OrderShowCtrl as ctrl">
  <div class="row invoice-head">
    <div class="col-xs-5">
      <div class="invoice-logo">
        <img src="images/logo.png" class="img-responsive" alt="" />
        <h1 class="uppercase">Pedido de Venda</h1>
        <span class="bold uppercase">Pedido nº #{{ctrl.id}}</span><br />
        <span class="bold uppercase">Cliente: </span><span>{{ctrl.model.client.name}}</span>
      </div>
    </div>
    <div class="col-xs-7">
      <div class="company-address">
        <span class="uppercase bold font-big">{{ctrl.model.date | date: 'dd/MM/yyyy'}}</span><br />
        <span class="uppercase">Vendedor: {{ctrl.model.seller.name}}</span>
      </div>
    </div>
  </div>

  <div ng-if="ctrl.id !== undefined">
    <div class="row invoice-body">
      <div class="col-xs-12">
        <div class="invoice-title uppercase text-center">
          Persianas
        </div>
      </div>
    </div>

    <div class="row invoice-body border-top">
      <div class="col-xs-8">
        <div class="invoice-title uppercase text-left">
          Descrição
        </div>
      </div>

      <div class="col-xs-1">
        <div class="invoice-title uppercase text-right">
          Desconto
        </div>
      </div>

      <div class="col-xs-3">
        <div class="invoice-title uppercase text-right">
          Subtotal
        </div>
      </div>
    </div>

    <div class="row invoice-body border-top" ng-repeat="environment in ctrl.model.environments" ng-if="environment.has_order_items">
      <div class="col-xs-12">
        <div class="row product">
          <div class="col-xs-12 uppercase bold">
            #{{$index + 1}} - {{ctrl.environmentEnum.findById(environment.category).name}} {{environment.name}}
          </div>
        </div>

        <div class="row product" ng-repeat-start="location in environment.locations">
          <div class="col-xs-12">
            {{ctrl.locationEnum.findById(location.category).name}} {{location.name}}
          </div>
        </div>

        <div ng-repeat-end>
          <div class="row product" ng-repeat-start="order_item in location.order_items">
            <div class="col-xs-8 text-left">
              #{{order_item.identification}} {{order_item.line.name}} <span class="bold">{{order_item.width}}cm x {{order_item.height}}cm</span>
            </div>

            <div class="col-xs-1 text-right bold">
              <span ng-if="order_item.discount !== 0">
                {{order_item.discount | currency :"":2}}%
              </span>
            </div>

            <div class="col-xs-3 text-right bold">
              {{order_item.total_with_discount | currency :"":2}}
            </div>
          </div>

          <div class="row product" ng-repeat-end>
            <div class="col-xs-12">
              <small>{{ order_item.specification }}</small>
            </div>        
            <hr>
          </div>
        </div>
      </div>
    </div>

    <div class="row invoice-body border-top product bg-default bg-font-default">
      <div class="col-xs-10 text-right bold uppercase">
        Subtotal
      </div>

      <div class="col-xs-2 text-right bold">
        {{ctrl.model.environments_total | currency :"":2}}
      </div>
    </div>

    <div class="row invoice-body border-top margin-top-10">
      <div class="col-xs-12">
        <div class="invoice-title uppercase text-center">
          Outros produtos e serviços
        </div>
      </div>
    </div>

    <div class="row invoice-body margin-top-10">
      <div class="col-xs-12">
        <div class="table-responsive">
          <table class="table table-hover table-border-right">
            <thead>
              <tr>
                <th class="invoice-title uppercase text-center">Descrição</th>
                <th class="invoice-title uppercase text-center">Quant.</th>
                <th class="invoice-title uppercase text-center">Vr. Unit.</th>
                <th class="invoice-title uppercase text-center">Desconto</th>
                <th class="invoice-title uppercase text-center">Subtotal</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="item in ctrl.model.items">
                <td class="text-left product">
                  {{ctrl.itemTypeEnum.findById(item.type).name}} {{item.item_code === null ? '' : item.item_code + ' - '}}{{item.item_description}}
                </td>

                <td class="text-right product">
                  {{item.quantity | currency :"":2}} {{ctrl.unitEnum.findById(item.unit).unit}}
                </td>

                <td class="text-right product">
                  {{item.value | currency :"":2}}
                </td>

                <td class="text-right product">
                  {{item.discount | currency :"":2}}%
                </td>

                <td class="text-right product">
                  {{item.total_with_discount | currency :"":2}}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="row invoice-body border-top product bg-default bg-font-default">
      <div class="col-xs-10 text-right bold uppercase">
        Subtotal
      </div>

      <div class="col-xs-2 text-right bold">
        {{ctrl.model.items_total | currency :"":2}}
      </div>
    </div>

    <div class="row invoice-body border-top product margin-top-10">
      <div class="col-xs-10 text-right bold uppercase">
        Subtotal geral
      </div>

      <div class="col-xs-2 text-right bold">
        {{ctrl.model.partial_total | currency :"":2}}
      </div>
    </div>

    <div class="row invoice-body border-top product">
      <div class="col-xs-10 text-right bold uppercase">
        Desconto geral
      </div>

      <div class="col-xs-2 text-right bold">
        <span ng-if="ctrl.model.discount !== 0">
          ({{ctrl.model.discount | currency :"":2}}%)   
        </span> {{ctrl.model.discount_value | currency :"":2}}
      </div>
    </div>

    <div class="row invoice-body border-top product">
      <div class="col-xs-10 text-right bold uppercase">
        Total dos descontos
      </div>

      <div class="col-xs-2 text-right bold">
        {{ctrl.model.total_discount | currency :"":2}}
      </div>
    </div>

    <div class="row invoice-body border-top product">
      <div class="col-xs-10 text-right bold uppercase">
        Total geral
      </div>

      <div class="col-xs-2 text-right bold">
        {{ctrl.model.total_with_discount | currency :"":2}}
      </div>
    </div>

    <div class="row invoice-subtotal">
      <div class="col-xs-12">
        <h2 class="invoice-title uppercase">Observação</h2>
        <p class="invoice-desc">{{ctrl.model.observation}}</p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <a class="btn btn-lg green-haze hidden-print uppercase print-btn" onclick="javascript: window.print();">Imprimir</a>
    </div>
  </div>
</div>