<div ng-controller="ComponentFormCtrl as ctrl">
  <div class="portlet light">
    <div class="portlet-title">
      <div class="caption font-green">
        <i class="icon-pin font-green"></i>
        <span class="caption-subject bold uppercase">
          {{ctrl.componentName || 'Novo componente'}}
          <label class="label label-success" ng-if="ctrl.model.deleted === false">Ativo</label>
          <label class="label label-danger" ng-if="ctrl.model.deleted === true">Inativo</label>

          <span ng-if="ctrl.model.base">
            - <a href="/base_components/{{ctrl.model.base.id}}/edit">{{ctrl.model.base.name}}</a>
          </span>
        </span>
      </div>
      <div class="actions">
        <batch-insert-modal model="ctrl.model" ng-if="ctrl.id !== undefined && ctrl.model.deleted === false"></batch-insert-modal>
        <a href="javascript:;" class="btn blue" ng-click="ctrl.goToKits()" ng-hide="ctrl.id === undefined">Configurar kit</a>
      </div>
    </div>
    <div class="portlet-body form">
      <form role="form" name="componentForm">
        <div class="form-body">
          <div class="row">
            <div class="col-sm-3">
              <div class="form-group form-md-line-input">
                <label>Categoria</label>
                
                <category-selection model="ctrl.model.category_id" current="ctrl.selectedCategory"></category-selection>
                <label class="text-danger" ng-if="ctrl.categoryChanged">
                  <i class="fa fa-exclamation-triangle"></i> 
                  <b>Atenção! Ao alterar a categoria do componente, TODAS as regras da categoria anterior para o componente serão excluídas!</b>
                </label>
              </div>
            </div>

            <div class="col-sm-3">
              <div class="form-group form-md-line-input">
                <label>Unidade</label>

                <unit-selection model="ctrl.model.unit"></unit-selection>
              </div>
            </div>

            <div class="col-sm-3" ng-if="ctrl.selectedCategory.use_cut_table">
              <div class="form-group form-md-line-input">
                <label>Mesa de corte</label>

                <ui-select ng-model="ctrl.model.cut_table_id" theme="selectize" class="form-control">
                  <ui-select-match placeholder="Selecione a mesa de corte">{{$select.selected.name}}</ui-select-match>
                  <ui-select-choices repeat="cut_table.id as cut_table in ctrl.cutTables | filter: $select.search">
                    <div ng-bind-html="cut_table.name | highlight: $select.search"></div>
                  </ui-select-choices>
                </ui-select>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-3">
              <div class="form-group form-md-line-input">
                <div class="md-checkbox">
                  <input type="checkbox" id="allow_rotation" class="md-check" ng-model="ctrl.model.allow_rotation" ng-true-value="true" ng-false-value="false">
                  <label for="allow_rotation">
                    <span></span>
                    <span class="check"></span>
                    <span class="box"></span>
                    Permitir rotacionar durante o encaixe
                  </label>
                </div>
              </div>
            </div>

            <div class="col-sm-3">
              <div class="form-group form-md-line-input">
                <div class="md-checkbox">
                  <input type="checkbox" id="print_on_components_label" class="md-check" ng-model="ctrl.model.print_on_components_label" ng-true-value="true" ng-false-value="false">
                  <label for="print_on_components_label">
                    <span></span>
                    <span class="check"></span>
                    <span class="box"></span>
                    Imprimir na etiqueta de componente
                  </label>
                </div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group form-md-line-input">
                <div class="md-checkbox">
                  <input type="checkbox" id="print_on_lines_label" class="md-check" ng-model="ctrl.model.print_on_lines_label" ng-true-value="true" ng-false-value="false">
                  <label for="print_on_lines_label">
                    <span></span>
                    <span class="check"></span>
                    <span class="box"></span>
                    Imprimir na etiqueta de persiana
                  </label>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-3">
              <div class="form-group form-md-line-input form-md-floating-label">
                <input type="text" class="form-control" ng-class="{'edited': ctrl.model.name != null}" ng-model="ctrl.model.name" id="component_name" ng-disabled="ctrl.model.base">
                <label for="component_name">Nome</label>
              </div>
            </div>

            <div class="col-sm-3">
              <div class="form-group form-md-line-input form-md-floating-label">
                <input type="text" class="form-control" ng-class="{'edited': ctrl.model.cost != null}" ng-model="ctrl.model.cost" data-plugin="masked-input-decimal" ng-change="ctrl._simulateCost()" />
                <label>Custo</label>
              </div>
            </div>

            <div class="col-sm-3">
              <div class="form-group form-md-line-input form-md-floating-label">
                <input type="text" class="form-control" ng-class="{'edited': ctrl.model.reference_cost != null}" ng-model="ctrl.model.reference_cost" data-plugin="masked-input-decimal" />
                <label>Custo referencial</label>
              </div>
            </div>

            <div class="col-sm-3">
              <div class="form-group form-md-line-input form-md-floating-label">
                <div class="input-group">
                  <input type="text" class="form-control" ng-class="{'edited': ctrl.simulated_cost != null}" ng-model="ctrl.simulated_cost" data-plugin="masked-input-decimal" readonly disabled />
                  <label>Custo simulado</label>
                  <a class="input-group-addon popovers" data-container="body" data-html="true" data-content="Resultado de custo x perda x câmbio. Esse valor será a varíavel _CUSTO_BASE_ na regra" data-trigger="hover" data-placement="left" href="javascript:;">
                    <i class="fa fa-question"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-3">
              <div class="form-group form-md-line-input form-md-floating-label">
                <div class="input-group">
                  <input type="text" class="form-control" ng-class="{'edited': ctrl.model.exchange != null}" ng-model="ctrl.model.exchange" data-plugin="masked-input-decimal" ng-change="ctrl._simulateCost()" />
                  <label>Câmbio</label>
                  <a class="input-group-addon popovers" data-container="body" data-html="true" data-content="Se quiser colocar 10%, coloque 1.10" data-trigger="hover" href="javascript:;">
                    <i class="fa fa-question"></i>
                  </a>
                </div>
              </div>
            </div>

            <div class="col-sm-3">
              <div class="form-group form-md-line-input form-md-floating-label">
                <div class="input-group">
                  <input type="text" class="form-control" ng-class="{'edited': ctrl.model.loss != null}" ng-model="ctrl.model.loss" data-plugin="masked-input-decimal" ng-change="ctrl._simulateCost()" />
                  <label>Perda</label>
                  <a class="input-group-addon popovers" data-container="body" data-html="true" data-content="Se quiser colocar 10%, coloque 1.10" data-trigger="hover" href="javascript:;">
                    <i class="fa fa-question"></i>
                  </a>
                </div>
              </div>
            </div>

            <div class="col-sm-3">
              <div class="form-group form-md-line-input form-md-floating-label">
                <input type="text" class="form-control" ng-class="{'edited': ctrl.model.fix_cost != null}" ng-model="ctrl.model.fix_cost" data-plugin="masked-input-decimal" ng-change="ctrl._simulateCost()" />
                <label>Custo fixo</label>
              </div>
            </div>

            <div class="col-sm-3">
              <div class="form-group form-md-line-input form-md-floating-label">
                <div class="input-group">
                  <input type="text" class="form-control" ng-class="{'edited': ctrl.simulated_fix_cost != null}" ng-model="ctrl.simulated_fix_cost" data-plugin="masked-input-decimal" readonly disabled />
                  <label>Custo fixo simulado</label>
                  <a class="input-group-addon popovers" data-container="body" data-html="true" data-content="Resultado de custo fixo x perda x câmbio. Esse valor será a varíavel _CUSTO_FIXO_ na regra" data-trigger="hover" data-placement="left" href="javascript:;">
                    <i class="fa fa-question"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-4">
              <div class="form-group form-md-line-input form-md-floating-label">
                <ui-select multiple ng-model="ctrl.model.family_ids" theme="bootstrap" class="form-control">
                  <ui-select-match placeholder="Selecione as famílias">{{$item.name}}</ui-select-match>
                  <ui-select-choices repeat="family.id as family in ctrl.families | filter: $select.search">
                    <div ng-bind-html="family.name | highlight: $select.search"></div>
                  </ui-select-choices>
                </ui-select>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-3">
              <div class="form-group form-md-line-input form-md-floating-label">
                <input type="text" class="form-control" ng-class="{'edited': ctrl.model.code != null}" ng-model="ctrl.model.code" id="component_code" maxlength="20">
                <label for="component_code">Código</label>
              </div>
            </div>

            <div class="col-sm-9">
              <div class="form-group form-md-line-input form-md-floating-label">
                <textarea rows="3" class="form-control" ng-class="{'edited': ctrl.model.characteristics != null && ctrl.model.characteristics != ''}" ng-model="ctrl.model.characteristics" id="component_characteristics">
                </textarea>
                <label for="component_characteristics">Características</label>
              </div>
            </div>
          </div>

          <hr />

          <a href="javascript:;" ng-click="ctrl.toggleShowOffsets()">
            <h3>
              Perdas <i class="fa" ng-class="{'fa-caret-up': ctrl.showOffsets === false, 'fa-caret-down': ctrl.showOffsets === true}"></i>
            </h3>
          </a>

          <div class="row" ng-show="ctrl.showOffsets === true">
            <div class="col-sm-1 col-sm-offset-1">
              <div class="form-group form-md-line-input form-md-floating-label">
                <input type="text" class="form-control" ng-class="{'edited': ctrl.model.offset_top != null}" ng-model="ctrl.model.offset_top" data-plugin="masked-input">
                <label for="component_offset_top">Topo</label>
              </div>
            </div>
          </div>

          <div class="row" ng-show="ctrl.showOffsets === true">
            <div class="col-sm-1">
              <div class="form-group form-md-line-input form-md-floating-label">
                <input type="text" class="form-control" ng-class="{'edited': ctrl.model.offset_left != null}" ng-model="ctrl.model.offset_left" data-plugin="masked-input">
                <label for="component_offset_left">Esquerda</label>
              </div>
            </div>

            <div class="col-sm-1 col-sm-offset-1">
              <div class="form-group form-md-line-input form-md-floating-label">
                <input type="text" class="form-control" ng-class="{'edited': ctrl.model.offset_right != null}" ng-model="ctrl.model.offset_right" data-plugin="masked-input">
                <label for="component_offset_right">Direita</label>
              </div>
            </div>
          </div>

          <div class="row" ng-show="ctrl.showOffsets === true">
            <div class="col-sm-1 col-sm-offset-1">
              <div class="form-group form-md-line-input form-md-floating-label">
                <input type="text" class="form-control" ng-class="{'edited': ctrl.model.offset_bottom != null}" ng-model="ctrl.model.offset_bottom" data-plugin="masked-input">
                <label for="component_offset_bottom">Baixo</label>
              </div>
            </div>
          </div>

          <hr />

          <a href="javascript:;" ng-click="ctrl.toggleShowLines()" ng-if="ctrl.model.lines.length > 0">
            <h3>
              Presente nas linhas <i class="fa" ng-class="{'fa-caret-up': ctrl.showLines === false, 'fa-caret-down': ctrl.showLines === true}"></i>
            </h3>
          </a>

          <div class="row" ng-show="ctrl.showLines === true">
            <div class="col-sm-3" ng-repeat="line in ctrl.model.lines">
              <div class="form-group form-md-line-input form-md-floating-label">
                <a href="/lines/{{line.id}}/edit">{{line.name}}</a>
              </div>
            </div>
          </div>

          <hr ng-if="ctrl.model.lines.length > 0">

          <div class="form-actions noborder">
            <div class="row" ng-if="ctrl.model.deleted === false">
              <div class="col-sm-12">
                <button type="button" class="btn blue" ng-click="ctrl.saveComponent()">{{ctrl.id == undefined ? 'Criar' : 'Editar'}}</button>
                <a href="/components" class="btn default">Voltar</a>
                <button type="button" class="btn red" ng-hide="ctrl.id == undefined" ng-click="ctrl.destroy(true)">Apagar</button>
                <button type="button" class="btn yellow" ng-hide="ctrl.id == undefined" ng-click="ctrl.destroy(false)">Inativar</button>
              </div>
            </div>

            <div class="row" ng-if="ctrl.model.deleted === true">
              <div class="col-sm-12">
                <button type="button" class="btn blue" ng-click="ctrl.activate()">
                  Reativar
                </button>
                <a href="/components" class="btn default">Voltar</a>
                <button type="button" class="btn red" ng-hide="ctrl.id == undefined" ng-click="ctrl.destroy(true)">Apagar</button>
              </div>
            </div>    
          </div>
        </div>
      </form>
    </div>
  </div>
</div>