<div ng-controller="PriceTableFormCtrl as ctrl">
  <div class="portlet light">
    <div class="portlet-title">
      <div class="caption font-green">
        <i class="icon-pin font-green"></i>
        <span class="caption-subject bold uppercase">Dados da tabela</span>
      </div>
    </div>
    <div class="portlet-body form">
      <form role="form" name="ctrl.form" ng-submit="ctrl.save()">
        <div class="form-body">
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group form-md-radios">
                <label></label>
                <div class="md-radio-inline">
                  <div class="md-radio" ng-repeat="priceTableType in ctrl.priceTableTypeEnum.enums">
                    <input id="radio_price_table_{{priceTableType.name}}" name="radio_price_table_type" class="md-radiobtn" type="radio" ng-model="ctrl.model.type" ng-value="priceTableType.id" ng-disabled="ctrl.id !== undefined" ng-change="ctrl.changeSelection(priceTableType.id)">
                    <label for="radio_price_table_{{priceTableType.name}}">
                    <span class="inc"></span>
                    <span class="check"></span>
                    <span class="box"></span>{{priceTableType.name}}</label>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <span ng-if="ctrl.model.type !== undefined">
            <div class="row">
              <div class="col-sm-4">
                <div class="form-group form-md-line-input form-md-floating-label">
                  <input type="text" class="form-control" ng-class="{'edited': ctrl.model.name != null}" ng-model="ctrl.model.name" id="price_table_name" ng-required="true">
                  <label for="price_table_name"">Nome <span class="required">*</span></label>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-4">
                <div class="form-group">
                  <div class="md-checkbox">
                    <input type="checkbox" id="default" class="md-check" ng-model="ctrl.model.default" ng-true-value="true" ng-false-value="false">
                    <label for="default">
                      <span></span>
                      <span class="check"></span>
                      <span class="box"></span>
                       Tabela padrão?
                    </label>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-4 col-sm-offset-8">
                <div class="input-icon">
                  <i class="icon-magnifier"></i>
                  <input type="text" class="form-control" ng-model="ctrl.search">
                </div>
              </div>
            </div>
          </span>

          <span ng-if="ctrl.model.type === ctrl.priceTableTypeEnum.FOR_LINES.id">
            <div class="row margin-top-10">
              <div class="col-sm-4 col-sm-offset-8">
                <div class="input-group">
                  <div class="input-group-control">
                    <input type="text" class="form-control" ng-model="ctrl.priceToApply" placeholder="Preço">
                  </div>
                  <span class="input-group-btn btn-right">
                    <button type="button" class="btn btn-success" ng-click="ctrl.applyToAll(ctrl.priceTableTypeEnum.FOR_LINES.id)" ng-disabled="ctrl.priceToApply === ''">Aplicar a todos</button>
                  </span>
                </div>
              </div>
            </div>

            <div class="row margin-top-10">
              <div class="col-sm-4 col-sm-offset-8">
                <div class="input-group">
                  <div class="input-group-control">
                    <input type="text" class="form-control" ng-model="ctrl.discountToApply" ui-number-mask min="0" max="100" ui-hide-group-sep placeholder="Desconto">
                  </div>
                  <span class="input-group-btn btn-right">
                    <button type="button" class="btn btn-success" ng-click="ctrl.applyDiscountToAll(ctrl.priceTableTypeEnum.FOR_LINES.id)" ng-disabled="ctrl.discountToApply === ''">Aplicar a todos</button>
                  </span>
                </div>
              </div>
            </div>

            <div class="table-scrollable">
              <table class="table table-bordered table-hover">
                <thead>
                  <tr>
                    <th class="text-center" width="70%">Linha</th>
                    <th class="text-center">Preço <span class="required">*</span></th>
                    <th class="text-center">Desconto máximo</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="price_table in ctrl.model.price_table_lines | textFilter: ctrl.search"> 
                    <td class="text-left">{{::price_table.line.name}}</td>
                    <td class="text-left">
                      <input type="text" class="form-control" ng-model="price_table.price" data-index="{{$index}}" ng-required="true">

                      <span class="help-block">
                        <a href="javascript:;" class="label label-success" ng-click="ctrl.addPriceVariable('_CMV_', price_table)">CMV</a>
                      </span>
                    </td>
                    <td class="text-left">
                      <div class="input-group">
                        <input type="text" class="form-control" ng-model="price_table.maximum_discount" ui-number-mask min="0" max="100" ui-hide-group-sep>
                        <span class="input-group-addon">%</span>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </span>

          <span ng-if="ctrl.model.type === ctrl.priceTableTypeEnum.FOR_ITEMS.id">
            <div class="row margin-top-10">
              <div class="col-sm-4 col-sm-offset-8">
                <div class="input-group">
                  <div class="input-group-control">
                    <input type="text" class="form-control" ng-model="ctrl.priceToApply" ui-number-mask ui-hide-group-sep placeholder="Preço">
                  </div>
                  <span class="input-group-btn btn-right">
                    <button type="button" class="btn btn-success" ng-click="ctrl.applyToAll(ctrl.priceTableTypeEnum.FOR_ITEMS.id)" ng-disabled="ctrl.priceToApply === ''">Aplicar a todos</button>
                  </span>
                </div>
              </div>
            </div>

            <div class="row margin-top-10">
              <div class="col-sm-4 col-sm-offset-8">
                <div class="input-group">
                  <div class="input-group-control">
                    <input type="text" class="form-control" ng-model="ctrl.discountToApply" ui-number-mask min="0" max="100" ui-hide-group-sep placeholder="Desconto">
                  </div>
                  <span class="input-group-btn btn-right">
                    <button type="button" class="btn btn-success" ng-click="ctrl.applyDiscountToAll(ctrl.priceTableTypeEnum.FOR_ITEMS.id)" ng-disabled="ctrl.discountToApply === ''">Aplicar a todos</button>
                  </span>
                </div>
              </div>
            </div>

            <div class="table-scrollable">
              <table class="table table-bordered table-hover">
                <thead>
                  <tr>
                    <th class="text-center" width="70%">Produto/Serviço</th>
                    <th class="text-center">Preço <span class="required">*</span></th>
                    <th class="text-center">Desconto máximo</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="price_table in ctrl.model.price_table_items | textFilter: ctrl.search"> 
                    <td class="text-left">
                      <label class="label {{ctrl.itemTypeEnum.findById(price_table.item.type).color}} margin-right-10">
                        {{ctrl.itemTypeEnum.findById(price_table.item.type).name}}
                      </label>

                      {{price_table.item.code}} - {{price_table.item.description}}
                    </td>
                    <td class="text-left">
                      <input type="text" class="form-control" ng-model="price_table.price" data-index="{{$index}}" ng-required="true" ui-number-mask ui-hide-group-sep>
                    </td>
                    <td class="text-left">
                      <div class="input-group">
                        <input type="text" class="form-control" ng-model="price_table.maximum_discount" ui-number-mask min="0" max="100" ui-hide-group-sep>
                        <span class="input-group-addon">%</span>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </span>

          <div class="form-actions noborder">
            <button type="submit" class="btn blue">{{ctrl.id == undefined ? 'Criar' : 'Editar'}}</button>
            <a href="/price_tables" class="btn default">Voltar</a>
            <button type="button" class="btn red" ng-hide="ctrl.id == undefined" ng-click="ctrl.openDestroyModal()">Apagar</button>

            <div id="modal_delete_price_table" class="modal fade in" tabindex="-1" role="basic" aria-hidden="true" ng-if="ctrl.id != undefined">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header bg-red">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h3 class="modal-title">
                      <strong>
                        Aviso
                      </strong>
                    </h3>
                  </div>
                  <div class="modal-body">
                    <div class="row">
                      <div class="col-md-12">
                        Tem certeza que deseja apagar essa tabela?
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <div class="form-actions noborder">
                      <button type="button" class="btn default" data-dismiss="modal">Cancelar</button>
                      <button type="button" class="btn red" data-dismiss="modal" ng-click="ctrl.destroy()">Apagar</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>