<a href="javascript:;" class="btn green" ng-click="openCategoryModal()">
  Categorias ({{model.categories.length}})
</a>

<div id="modal_configure_categories" class="modal fade in modal-scroll bs-modal-lg" data-replace="true" tabindex="-1" role="basic" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h3 class="modal-title">
          Categorias - {{model.name}}
        </h3>
      </div>
      <div class="modal-body">
        <div class="scroller" style="height:600px" data-always-visible="1" data-rail-visible="1">
          <div class="row">
            <div class="col-sm-6">
              <h4>Categorias disponíveis</h4>
            </div>
            <div class="col-sm-6">
              <h4>Categorias configuradas</h4>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-6">
              <div class="form-group form-md-line-input form-md-floating-label">
                <div class="input-icon">
                  <input type="text" class="form-control" ng-model="search">
                  <i class="fa fa-search"></i>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-6">
              <button type="button" class="btn green pull-right" ng-click="addToCategories()">
                <i class="fa fa-arrow-circle-right"></i>
              </button>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-6">                
              <div class="portlet-body">
                <div class="dd">
                  <ol class="dd-list" ng-model="categories" ng-if="categories !== undefined && categories.length > 0">
                    <li class="dd-item dd3-item" ng-repeat="category in categories | textFilter: search">
                      <div class="md-checkbox">
                        <input type="checkbox" id="{{category.name}}" class="md-check" checklist-model="configuredCategories" checklist-value="category" checklist-comparator=".category_id">
                        <label for="{{category.name}}">
                          <span></span>
                          <span class="check"></span>
                          <span class="box"></span>
                          {{category.name}}
                        </label>
                      </div>
                    </li>
                  </ol>
                </div>
              </div>
            </div>
            <div class="col-sm-6">                
              <div class="portlet-body">
                <div class="dd" id="category_list">
                  <ol class="dd-list">
                    <li class="dd-item" data-category="{{category.category_id}}" data-required="{{category.required}}" ng-repeat="category in model.categories">
                      <div class="dd-handle dd3-handle"></div>
                      <div class="dd3-content"> 
                        {{category.category_name}}

                        <a href="javascript:;" class="pull-right" ng-click="removeCategory(category)">
                          <i class="fa fa-times-circle font-red"></i>
                        </a>

                        <a class="pull-right" href="javascript:;" ng-click="changeRequired(category.category_id)" ng-if="isCategorySelected(category.category_id)">
                          <span ng-if="isRequired(category.category_id)" class="font-red">Seleção obrigatória</span>
                          <span ng-if="!isRequired(category.category_id)" class="font-green">Seleção não obrigatória</span>
                        </a>
                      </div>
                    </li>
                  </ol>
                </div>
              </div>
            </div>
          </div>
          
          <div class="row">
            <div class="col-sm-6">
              <button type="button" class="btn green pull-right" ng-click="addToCategories()">
                <i class="fa fa-arrow-circle-right"></i>
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <div class="form-actions noborder">
          <button type="button" class="btn btn-success" data-dismiss="modal" ng-click="save()">Salvar</button>
        </div>
      </div>
    </div>
  </div>
</div>