<span ng-repeat="family in families" class="tooltips" data-toggle='tooltip' title='{{::family.name}}' ng-init="init()">
  <ng-letter-avatar data="{{::family.name}}" charCount="{{::familyChars(family.name)}}" avatarcustombgcolor="{{::family.color}}" height="30" width="30" fontSize="10px" shape="round"></ng-letter-avatar>
</span>