<div id="modal_option" class="modal fade in bs-modal-lg" tabindex="-1" role="basic" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h3 class="modal-title">
          <strong>Configurar opção</strong>
        </h3>
      </div>
      <div class="modal-body">
        <div class="row" ng-show="express === false">
          <div class="col-sm-3">
            <div class="form-group form-md-line-input form-md-floating-label">
              <input type="text" class="form-control" ng-class="{'edited': model.width != null}" ng-model="model.width" data-plugin="masked-input" ng-blur="filterByDimension()" ng-disabled="components.length > 0">
              <label for="option_width">Largura</label>
            </div>
          </div>

          <div class="col-sm-3">
            <div class="form-group form-md-line-input form-md-floating-label">
              <input type="text" class="form-control" ng-class="{'edited': model.height != null}" ng-model="model.height" data-plugin="masked-input" ng-blur="filterByDimension()" ng-disabled="components.length > 0">
              <label for="option_height">Altura</label>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-8">
            <div class="form-group form-md-line-input">
              <label>Família</label>
              <ui-select ng-model="model.family_id" theme="selectize" class="form-control" on-select="filterByDimension($item, $model)" ng-disabled="components.length > 0">
                <ui-select-match placeholder="Selecione a família">{{$select.selected.name}}</ui-select-match>
                <ui-select-choices repeat="family.id as family in families | filter: $select.search">
                  <div ng-bind-html="family.name | highlight: $select.search"></div>
                </ui-select-choices>
              </ui-select>
            </div>
          </div>
        </div>

        <div class="row" ng-repeat="attribute in attributesForFiltering">
          <div class="col-sm-8">
            <div class="form-group form-md-line-input">
              <label>{{attribute.name}}</label>
              <ui-select ng-model="selectedAttributes[$index]" theme="selectize" class="form-control" on-select="filterByDimension($item, $model)" ng-disabled="components.length > 0">
                <ui-select-match placeholder="Todos" allow-clear="true">{{$select.selected.value}}</ui-select-match>
                <ui-select-choices repeat="value.id as value in attribute.values | orderBy:'value' | filter: $select.search">
                  <div ng-bind-html="value.value | highlight: $select.search"></div>
                </ui-select-choices>
              </ui-select>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-8">
            <div class="form-group form-md-line-input">
              <label>Linha</label>
              <ui-select ng-model="model.line" theme="selectize" class="form-control" ng-disabled="components.length > 0">
                <ui-select-match placeholder="Selecione..." allow-clear="true">{{$select.selected.name}}</ui-select-match>
                <ui-select-choices repeat="line in lines | orderBy: 'name' | filter: $select.search track by line.id">
                  <div ng-bind-html="line.name | highlight: $select.search"></div>
                </ui-select-choices>
              </ui-select>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="form-group form-md-line-input form-md-floating-label">
              <button type="button" class="btn blue margin-top-30" ng-click="generateOptionItem()" ng-disabled="model.line === undefined || components.length > 0">Montar</button>
              <button type="button" class="btn red margin-top-30" ng-click="cancelOptionItem()" ng-show="components.length > 0">Cancelar</button>
            </div>
          </div>
        </div>

        <wizard on-finish="createOption()" on-cancel="cancelledWizard()" ng-if="showWizard" indicators-position="top"> 
          <wz-step wz-title="Responda algumas perguntas" wz-disabled="{{lineQuestions.length === 0}}" canexit="questionsSelected">
            <div class="panel-group accordion margin-top-30" id="questions" ng-if="lineQuestions.length > 0">
              <div class="panel panel-default" ng-repeat="question in lineQuestions">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a class="accordion-toggle accordion-toggle-styled collapsed" data-toggle="collapse" data-parent="#questions" href="javascript:;" data-target="#{{question.value}}">
                      {{$index + 1}}. {{question.label}}

                      <span class="pull-right margin-right-10" ng-if="question.type === questionTypeEnum.BOOLEAN.id && questions[question.value] !== undefined">
                        {{questions[question.value] == true ? 'Sim' : 'Não'}}
                      </span>

                      <span class="pull-right margin-right-10" ng-if="question.type === questionTypeEnum.DROPDOWN.id">
                        {{questions[question.value]}}
                      </span>
                    </a>
                  </h4>
                </div>

                <div id="{{question.value}}" class="panel-collapse collapse">
                  <div class="panel-body">
                    <div class="row">
                      <div class="form-group form-md-line-input">
                        <div class="col-md-4" ng-if="question.type === questionTypeEnum.BOOLEAN.id">
                          <div class="md-radio-inline">
                            <div class="md-radio">
                              <input type="radio" id="{{question.id}}_false" name="{{question.value}}" class="md-radiobtn" ng-value="false" ng-model="questions[question.value]" ng-change="resetComponents()">
                              <label for="{{question.id}}_false">
                                <span></span>
                                <span class="check"></span>
                                <span class="box"></span> Não
                              </label>
                            </div>

                            <div class="md-radio">
                              <input type="radio" id="{{question.id}}_true" name="{{question.value}}" class="md-radiobtn" ng-value="true" ng-model="questions[question.value]" ng-change="resetComponents()">
                              <label for="{{question.id}}_true">
                                <span></span>
                                <span class="check"></span>
                                <span class="box"></span> Sim
                              </label>
                            </div>
                          </div>
                        </div>

                        <div class="col-md-4" ng-if="question.type === questionTypeEnum.DROPDOWN.id" ng-repeat="option in question.options">
                          <div class="md-radio-inline">
                            <div class="md-radio">
                              <input type="radio" id="{{question.value}}_{{option.value}}" name="{{question.value}}" class="md-radiobtn" value="{{option.value}}" ng-model="questions[question.value]" ng-change="resetComponents()">
                              <label for="{{question.value}}_{{option.value}}">
                                <span></span>
                                <span class="check"></span>
                                <span class="box"></span> {{option.label}}
                              </label>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row margin-top-10">
                <div class="col-sm-12">
                  <button type="button" class="btn green" wz-next="proceed()">Prosseguir</button>
                </div>
              </div>
            </div>
          </wz-step>

          <wz-step wz-title="Monte sua persiana">
            <div class="row" ng-repeat-start="(category, category_components) in components | groupBy: 'category.order'" ng-class="{'margin-top-30': $first}">
              <div class="col-sm-8">
                <h4>{{category_components[0].category.name}}</h4>
              </div>
              <div class="col-sm-4" ng-if="selectedComponents[$index].informed_consumption" ng-init="initMaskedInputs()">
                <div class="form-group form-md-line-input form-md-floating-label">
                  <input type="text" class="form-control" ng-class="{'edited': selectedComponents[$index].informed_consumption != null}" ng-model="selectedComponents[$index].total_consumption" data-plugin="masked-input">
                  <label>Altura</label>
                </div>
              </div>
            </div>

            <div class="row" ng-repeat-end>
              <div class="form-group">
                <div class="col-md-4" ng-repeat="component in category_components | orderBy: component.name">
                  <div class="md-radio-inline">
                    <div class="md-radio">
                      <input type="radio" id="{{component.id}}" name="{{component.category.name}}" class="md-radiobtn" ng-value="{{component}}" ng-model="selectedComponents[$parent.$index]" ng-change="addToComponentsModel(component)" ng-disabled="!$parent.$first && disabledCategories[category_components[0].category.order]" select-first-radio-element collection="category_components">
                      <label for="{{component.id}}">
                        <span></span>
                        <span class="check"></span>
                        <span class="box"></span> {{component.name}}
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <input type="submit" class="btn green" data-dismiss="modal" ng-disabled="model.components.length == 0" wz-next value="Adicionar"></input>
          </wz-step>
        </wizard>
      </div>
    </div>
  </div>
</div>