<div id="modal_rule_kit" class="modal fade in bs-modal-lg modal-scroll" data-replace="true" tabindex="-1" role="basic" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h3 class="modal-title">
          Cadastro de kit
        </h3>
      </div>
      <div class="modal-body">
        <div class="scroller" style="height:600px" data-always-visible="1" data-rail-visible="1">
          <div class="row margin-top-10">
            <div class="col-sm-6">
              <div class="form-group form-md-line-input">
                <label>Componente chave</label>
                <ui-select ng-model="selectedRule" theme="selectize" class="form-control" ng-disabled="keyRule !== null" on-select="selectRule($item, $model)">
                  <ui-select-match placeholder="Selecione o componente" allow-clear="true">{{$select.selected.component.name}}</ui-select-match>
                  <ui-select-choices repeat="rule in model.rules | filter: $select.search">
                    <div ng-bind-html="rule.component.name | highlight: $select.search"></div>
                  </ui-select-choices>
                </ui-select>
              </div>
            </div>

            <div class="col-sm-4">
              <div class="form-group form-md-line-input form-md-floating-label">
                <button type="button" class="btn blue margin-top-30" ng-click="mountKit()" ng-disabled="keyRule !== null || selectedRule === null">Montar</button>
                <button type="button" class="btn red margin-top-30" ng-click="cancelKit()" ng-show="keyRule !== null">Cancelar</button>
              </div>
            </div>
          </div>

          <hr />

          <span ng-if="keyRule !== null">
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group form-md-line-input">
                  <label>Componentes</label>
                  <ui-select ng-model="componentToAdd" theme="selectize" class="form-control" on-select="selectComponentToAdd($item, $model)">
                    <ui-select-match placeholder="Selecione o componente">{{$select.selected.component.id}} - {{$select.selected.component.name}}</ui-select-match>
                    <ui-select-choices repeat="component in availableComponents | filter: $select.search">
                      <div ng-bind-html="component.component.id + ' - ' + component.component.name | highlight: $select.search"></div>
                      <small ng-bind-html="'Regra #' + component.line_rule_id"></small>
                    </ui-select-choices>
                  </ui-select>
                </div>
              </div>

              <div class="col-sm-4">
                <div class="form-group form-md-line-input form-md-floating-label">
                  <button type="button" class="btn blue margin-top-30" ng-click="addSelected()" ng-disabled="componentToAdd === null">Adicionar</button>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-12">
                <div class="form-group form-md-line-input">
                  <input type="text" class="form-control" ng-model="search" placeholder="Pesquisar" />
                </div>
              </div>
            </div>

            <div class="row form-group">
              <div class="col-sm-4 col-sm-offset-2 bold">
                COMPONENTES
              </div>
              <div class="col-sm-4 bold">
                CATEGORIA
              </div>
              <div class="col-sm-2 bold">
                C. CHAVE
              </div>
            </div>

            <div class="row" ng-repeat="component in addedComponents | textFilter: search">
              <div class="col-sm-2">
                <div class="form-group form-md-checkboxes">
                  <div class="md-checkbox-inline">
                    <div class="md-checkbox">
                      <input type="checkbox" id="{{component.component.name}}" class="md-check" ng-model="selectedToRemove[component.component.id]" ng-true-value="{{component.component.id}}" ng-false-value="null">
                      <label for="{{component.component.name}}">
                        <span></span>
                        <span class="check"></span>
                        <span class="box"></span>
                      </label>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-sm-1">
                {{component.component.id}} (Regra #{{component.line_rule_id}})
              </div>

              <div class="col-sm-3">
                <kit-content-popover component="component" ng-if="component.children.length > 0"></kit-content-popover>
                <span ng-if="component.children.length === 0">{{component.component.name}}</span>
              </div>

              <div class="col-sm-4">
                {{component.component.category.name}}
              </div>

              <div class="col-sm-2">
                <i class="fa fa-check fa-2x font-green" ng-if="component.children.length > 0"></i>
              </div>
            </div>

            <div class="row form-group margin-top-10">
              <div class="col-sm-12">
                <a href="javascript:;" class="btn red" ng-click="removeSelected()" ng-disabled="canRemove()">Remover</a>
              </div>
            </div>
          </div>
        </span>
      </div>

      <div class="modal-footer">
        <div class="form-actions noborder">
          <button type="button" class="btn default" data-dismiss="modal">Fechar</button>
          <button type="button" class="btn green" ng-click="configureKit()" ng-disabled="keyRule === null">Salvar</button>
        </div>
      </div>
    </div>
  </div>
</div>