<form role="form" name="storeForm" ng-submit="save()">
  <div class="form-body">
    <div class="row margin-bottom-10">
      <div class="col-sm-4" ng-show="user.type === 'Administrator'">
        <a href="javascript:;" class="push-left-10 " ngf-select ngf-drop ng-model='logo'  ngf-max-size="1MB" accept="image/*" ngf-pattern="'image/*'" ngf-model-invalid="invalidLogo" name="logo_file" class="add-photo" ngf-max-height="75" ngf-max-width="200">
          <img alt="Adicione um logo" class="profile-photo" ng-src="{{logoSource()}}" ng-if="!logo">
          <img ngf-thumbnail="logo" ng-if="logo" class="profile-photo" alt="Alterar logo">
        </a>
        <span class="form-group has-error" ng-if="invalidLogo.$errorMessages.maxSize">
          <label class="control-label has-error">Arquivo excede o tamanho máximo de 1MB</label>  
        </span>
        <span class="form-group has-error" ng-if="invalidLogo.$errorMessages.maxHeight">
          <label class="control-label has-error">Arquivo excede a altura máxima de 75px</label>  
        </span>
        <span class="form-group has-error" ng-if="invalidLogo.$errorMessages.maxWidth">
          <label class="control-label has-error">Arquivo excede a largura máxima de 200px</label>  
        </span>
      </div>
    </div>
    
    <div class="row margin-bottom-10">
      <div class="col-sm-3">
        <div class="md-checkbox">
          <input type="checkbox" id="allow_special_discount" class="md-check" ng-model="model.allow_special_discount" ng-true-value="true" ng-false-value="false">
          <label for="allow_special_discount">
            <span></span>
            <span class="check"></span>
            <span class="box"></span>
             Desconto especial?
          </label>
        </div>
      </div>

      <div class="col-sm-6" ng-if="model.allow_special_discount">
        <div class="input-group">
          <input type="text" class="form-control" ng-model="model.special_discount" ui-number-mask min="0" max="100" ui-hide-group-sep>
          <span class="input-group-addon">%</span>
        </div>
      </div>
    </div>
    
    <div class="row" ng-if="user.type === 'Administrator' && user.workplace.type === 'Factory'">
      <div class="col-sm-4">
        <div class="form-group form-md-line-input">
          <label>Distribuidor <span class="required">*</span></label>
          <ui-select ng-model="model.distributor_id" theme="selectize" class="form-control">
            <ui-select-match placeholder="Selecione o distribuidor">{{$select.selected.name}}</ui-select-match>
            <ui-select-choices repeat="distributor.id as distributor in distributors | filter: $select.search">
              <div ng-bind-html="distributor.name | highlight: $select.search"></div>
            </ui-select-choices>
          </ui-select>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4">
        <div class="form-group form-md-line-input form-md-floating-label">
          <input type="text" class="form-control" ng-class="{'edited': model.name != null}" ng-model="model.name" id="store_name">
          <label for="store_name"">Nome fantasia <span class="required">*</span></label>
        </div>
      </div>

      <div class="col-sm-5">
        <div class="form-group form-md-line-input form-md-floating-label">
          <input type="text" class="form-control" ng-class="{'edited': model.corporate_name != null}" ng-model="model.corporate_name" id="store_corporate_name">
          <label for="store_corporate_name">Razão social</label>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-3">
        <div class="form-group form-md-line-input form-md-floating-label">
          <input type="text" class="form-control" ng-class="{'edited': model.identification != null}" ng-model="model.identification" id="store_identification" ui-br-cnpj-mask>
          <label for="store_identification">CNPJ <span class="required">*</span></label>
        </div>
      </div>

      <div class="col-sm-3">
        <div class="form-group form-md-line-input form-md-floating-label">
          <input type="text" class="form-control" ng-class="{'edited': model.state_inscription != null}" ng-model="model.state_inscription" id="store_state_inscription">
          <label for="store_state_inscription">Inscrição estadual</label>
        </div>
      </div>

      <div class="col-sm-3">
        <div class="form-group form-md-line-input form-md-floating-label">
          <input type="text" class="form-control" ng-class="{'edited': model.municipal_inscription != null}" ng-model="model.municipal_inscription" id="store_municipal_inscription">
          <label for="store_municipal_inscription">Inscrição municipal</label>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-3">
        <div mass-autocomplete>
          <div class="form-group form-md-line-input form-md-floating-label">
            <input type="text" class="form-control" ng-class="{'edited': selected_state != null}" ng-model="selected_state" mass-autocomplete-item="autocomplete_state">
            <label for="store_state">Estado</label>
          </div>
        </div>
      </div>

      <div class="col-sm-3">
        <div mass-autocomplete>
          <div class="form-group form-md-line-input form-md-floating-label">
            <input type="text" class="form-control" ng-class="{'edited': selected_city != null}" ng-model="selected_city" mass-autocomplete-item="autocomplete_city" ng-disabled="cities.length === 0">
            <label for="store_city">Cidade</label>
          </div>
        </div>
      </div>

      <div class="col-sm-3">
        <div class="form-group form-md-line-input form-md-floating-label">
          <input type="text" class="form-control" ng-class="{'edited': model.zip_code != null}" ng-model="model.zip_code" id="store_zip_code" ui-br-cep-mask>
          <label for="store_zip_code">CEP</label>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <div class="form-group form-md-line-input form-md-floating-label">
          <input type="text" class="form-control" ng-class="{'edited': model.street != null}" ng-model="model.street" id="store_street">
          <label for="store_street">Rua <span class="required">*</span></label>
        </div>
      </div>

      <div class="col-sm-3">
        <div class="form-group form-md-line-input form-md-floating-label">
          <input type="text" class="form-control" ng-class="{'edited': model.neighborhood != null}" ng-model="model.neighborhood" id="store_neighborhood">
          <label for="store_neighborhood">Bairro</label>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-3">
        <div class="form-group form-md-line-input form-md-floating-label">
          <input type="text" class="form-control" ng-class="{'edited': model.number != null}" ng-model="model.number" id="store_number">
          <label for="store_number">Número <span class="required">*</span></label>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="form-group form-md-line-input form-md-floating-label">
          <input type="text" class="form-control" ng-class="{'edited': model.complement != null}" ng-model="model.complement" id="store_complement">
          <label for="store_complement">Complemento</label>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-3">
        <div class="form-group form-md-line-input form-md-floating-label">
          <input type="text" class="form-control" ng-class="{'edited': model.phone != null}" ng-model="model.phone" id="store_phone" ui-br-phone-number>
          <label for="store_phone">Telefone <span class="required">*</span></label>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="form-group form-md-line-input form-md-floating-label">
          <input type="email" class="form-control" ng-class="{'edited': model.email != null}" ng-model="model.email" id="store_email">
          <label for="store_email">Email</label>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-3">
        <div class="form-group form-md-line-input form-md-floating-label">
          <input type="text" class="form-control" ng-class="{'edited': model.subdomain != null}"  ng-model="model.subdomain" id="store_subdomain">
          <label for="store_subdomain">Subdomínio <span class="required">*</span></label>
        </div>
      </div>
    </div>

    <hr>

    <h3>Dados bancários</h3>

    <div class="row">
      <div class="col-sm-4">
        <div class="form-group form-md-line-input form-md-floating-label">
          <ui-select ng-model="model.bank" theme="selectize">
            <ui-select-match placeholder="Selecione um banco">
              {{$select.selected.name}}
            </ui-select-match>
            <ui-select-choices repeat="bank.id as bank in banks | filter: $select.search | orderBy: 'name'">
              <div class="select2-result-repository clearfix">
                <div class="select2-result-repository__avatar">
                  <img ng-src="{{bank.image}}" />
                </div>
                <div class="select2-result-repository__meta">
                  <div class="select2-result-repository__title" ng-bind-html="bank.name | highlight: $select.search"></div>
                </div>
              </div>
            </ui-select-choices>
          </ui-select>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="form-group form-md-line-input form-md-floating-label">
          <input type="text" class="form-control" ng-class="{'edited': model.agency != null}" ng-model="model.agency" id="store_agency" maxlength="4">
          <label for="store_agency">Agência</label>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="form-group form-md-line-input form-md-floating-label">
          <input type="text" class="form-control" ng-class="{'edited': model.current_account != null}" ng-model="model.current_account" id="store_current_account">
          <label for="store_current_account">Conta</label>
        </div>
      </div>
    </div>
    
    <div class="form-actions noborder">
      <button type="submit" class="btn blue">{{id == undefined ? 'Criar' : 'Editar'}}</button>
      <a href="/stores" class="btn default" ng-if="inModal === false">Voltar</a>
      <button type="button" class="btn red" ng-hide="id == undefined" ng-click="openDestroyModal()">Apagar</button>

      <div id="modal_delete_store" class="modal fade in" tabindex="-1" role="basic" aria-hidden="true" ng-if="id != undefined">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header bg-red">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
              <h3 class="modal-title">
                <strong>
                  Aviso
                </strong>
              </h3>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-md-12">
                  Tem certeza que deseja apagar essa loja?
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <div class="form-actions noborder">
                <button type="button" class="btn default" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn red" data-dismiss="modal" ng-click="destroy()">Apagar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>