<div ng-controller="CreditsIndexCtrl as ctrl">
  <div class="row">
    <div class="col-md-12">
      <div class="portlet light">
        <div class="portlet-title">
          <div class="caption">
            <span class="caption-subject bold font-blue uppercase">Extrato de crédito</span>
          </div>
          <div class="actions"></div>
        </div>
        <div class="portlet-body">
          <div class="table-toolbar">
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group form-md-radios">
                  <label></label>
                  <div class="md-radio-inline">
                    <div class="md-radio" ng-repeat="creditType in ctrl.creditTypeEnum.enums">
                      <input id="{{creditType.id}}" name="radio_credit_type" class="md-radiobtn" type="radio" ng-model="ctrl.creditType" ng-value="creditType.enumeration" ng-change="ctrl.filter()">
                      <label for="{{creditType.id}}">
                        <span class="inc"></span>
                        <span class="check"></span>
                        <span class="box"></span>
                        {{creditType.name}}
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-3">
                <div class="form-group form-md-line-input form-md-floating-label">
                  <input type="text" class="form-control date-picker" ng-class="{'edited': ctrl.from != null}" size="16" ng-model="ctrl.from" ng-init="ctrl.initDatepicker()" id="from" ng-change="ctrl.filter()">
                  <label>De</label>
                </div>
              </div>

              <div class="col-sm-3">
                <div class="form-group form-md-line-input form-md-floating-label">
                  <input type="text" class="form-control date-picker" ng-class="{'edited': ctrl.until != null}" size="16" ng-model="ctrl.until" ng-init="ctrl.initDatepicker()" id="until" ng-change="ctrl.filter()">
                  <label>Até</label>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-1">
                <label class="control-label">Últimos</label>
              </div>
              <div class="col-sm-5">
                <div class="btn-group">
                  <button type="button" class="btn btn-default" ng-click="ctrl.setLastDays(7)">7 dias</button>
                  <button type="button" class="btn btn-default" ng-click="ctrl.setLastDays(15)">15 dias</button>
                  <button type="button" class="btn btn-default" ng-click="ctrl.setLastDays(30)">30 dias</button>
                  <button type="button" class="btn btn-default" ng-click="ctrl.setLastDays(60)">60 dias</button>
                  <button type="button" class="btn btn-default" ng-click="ctrl.setLastDays(90)">90 dias</button>
                </div>
              </div>
            </div>

            <div class="row margin-top-10" ng-if="ctrl.user.workplace.type !== ctrl.workplaceTypeEnum.FACTORY.id">
              <div class="col-md-6">
                <div class="btn-group">
                  <a href="#" class="btn sbold green" data-toggle="modal" data-target="#modal_payment">
                    <i class="fa fa-plus"></i> Adicionar créditos
                  </a>
                </div>

                <div class="btn-group">
                  <button class="btn sbold btn-info" data-toggle="modal" data-target="#modal_antecipate" ng-disabled="ctrl.selected.length === 0">
                    Antecipar parcelas
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="dataTables_wrapper no-footer">
            <table class="table table-striped table-bordered table-hover" id="table_credits">
              <thead>
                <tr>
                  <th colspan="6" class="text-right uppercase">Saldo anterior</th>
                  <th class="text-right" id="previousBalance"></th>
                </tr>
                <tr>
                  <th class="text-center uppercase"></th>
                  <th class="text-center uppercase"></th>
                  <th class="text-center uppercase"></th>
                  <th class="text-center uppercase"></th>
                  <th class="text-center uppercase"></th>
                  <th class="text-center uppercase"></th>
                  <th class="text-center uppercase"></th>
                </tr>
              </thead>
              <tfoot>
                <tr>
                  <th colspan="6" class="text-right uppercase">Saldo em <span></span></th>
                  <th class="text-right" id="finalBalance"></th>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <payment-modal callback="ctrl.reloadTable()"></payment-modal>

  <div id="modal_antecipate" class="modal fade in" tabindex="-1" role="basic" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
          <h3 class="modal-title">
            <strong>
              Aviso
            </strong>
          </h3>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-12">
              Deseja antecipar as parcelas selecionadas?
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <div class="form-actions noborder">
            <button type="button" class="btn default" data-dismiss="modal">Cancelar</button>
            <button type="button" class="btn green" data-dismiss="modal" ng-click="ctrl.antecipateSelected()">Sim</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>