<div ng-controller="CutTableIndexCtrl as ctrl">
  <div class="row">
    <div class="col-md-12">
      <div class="portlet light">
        <div class="portlet-title">
          <div class="caption">
            <span class="caption-subject bold font-blue uppercase">Mesas de corte</span>
          </div>
          <div class="actions"></div>
        </div>
        <div class="portlet-body">
          <div class="table-toolbar">
            <div class="row">
              <div class="col-md-6">
                <div class="btn-group">
                  <a href="/cut_tables/new" class="btn sbold green margin-right-10">
                    <i class="fa fa-plus"></i> Nova
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="dataTables_wrapper no-footer">
            <table class="table table-striped table-bordered table-hover" id="table_cut_tables">
              <thead>
                <th class="text-center uppercase"></th>
                <th class="text-center uppercase"></th>
                <th class="text-center uppercase"></th>
              </thead>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>