<div ng-controller="LineIndexCtrl as ctrl">
  <div class="row">
    <div class="col-md-12">
      <div class="portlet light">
        <div class="portlet-title">
          <div class="caption">
            <span class="caption-subject bold font-blue uppercase">
              Linhas
              <span ng-if="ctrl.type === 'active'">(Apenas ativas)</span>
              <span ng-if="ctrl.type === 'inactive'">(Apenas inativas)</span>
            </span>
          </div>
        </div>
        <div class="dataTables_wrapper no-footer">
          <table class="table table-striped table-bordered table-hover" id="table_lines">
            <thead>
              <th class="text-center uppercase"></th>
              <th class="text-center uppercase"></th>
              <th class="text-center uppercase"></th>
              <th class="text-center uppercase"></th>
              <th class="text-center uppercase"></th>
              <th class="text-center uppercase"></th>
            </thead>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>