<div ng-controller="LineRulesCtrl as ctrl">
  <div class="portlet light">
    <div class="portlet-title">
      <div class="caption font-green">
        <i class="fa fa-tag font-green"></i>
        <span class="caption-subject bold uppercase">{{ctrl.model.name}}</span>
      </div>
      <div class="actions">
        <configure-categories-modal model="ctrl.model"></configure-categories-modal>
        <import-rules-modal model="ctrl.model"></import-rules-modal>
      </div>
    </div>

    <div class="portlet-body">
      <div class="note note-default">
        <div ng-repeat="groupedDimensions in ctrl.model.dimensions | groupBy: 'weight' | orderBy: 'weight'">
          Dimensões <strong>({{ctrl.weightEnum.findById(groupedDimensions[0].weight).name}})</strong>:
          <ul>
            <li ng-repeat="dimension in groupedDimensions">
              <p>
                Largura de {{dimension.initial_width | currency :"":2}}cm até {{dimension.final_width | currency :"":2}}cm / Altura de {{dimension.initial_height | currency :"":2}}cm até {{dimension.final_height | currency :"":2}}cm
              </p>
            </li>
          </ul>
        </div>
      </div>
      <form role="form" name="lineForm">
        <div class="form-body">
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <div class="md-checkbox">
                  <input type="checkbox" id="automatic" class="md-check" ng-model="ctrl.automatic" ng-true-value="true" ng-false-value="false" ng-disabled="ctrl.ruleId !== null">
                  <label for="automatic">
                    <span></span>
                    <span class="check"></span>
                    <span class="box"></span>
                     Cálculo automático de consumo
                  </label>
                </div>
              </div>
            </div>

            <div class="col-sm-4">
              <div class="form-group">
                <div class="md-checkbox">
                  <input type="checkbox" id="required" class="md-check" ng-model="ctrl.required" ng-true-value="true" ng-false-value="false">
                  <label for="required">
                    <span></span>
                    <span class="check"></span>
                    <span class="box"></span>
                     Inserir automaticamente
                  </label>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-9">
              <div class="form-group form-md-line-input">
                <input type="text" class="form-control" ng-model="ctrl.description" id="rule_description" />
                <label for="rule_description">Descrição</label>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-2">
              <div class="form-group form-md-line-input">
                <label>Categoria</label>
                <category-selection model="ctrl.selectedCategoryId"></category-selection>
              </div>
            </div>

            <div class="col-sm-2">
              <div class="form-group form-md-line-input">
                <label>Peso</label>
                <ui-select ng-model="ctrl.selectedWeight" theme="selectize" class="form-control">
                  <ui-select-match placeholder="Selecione o peso">{{$select.selected.name}}</ui-select-match>
                  <ui-select-choices repeat="weight.id as weight in ctrl.weightEnum.enums | filter: $select.search">
                    <div ng-bind-html="weight.name | highlight: $select.search"></div>
                  </ui-select-choices>
                </ui-select>
              </div>
            </div>

            <div class="col-sm-2">
              <div class="form-group form-md-line-input">
                <label>Método de controle</label>
                <ui-select ng-model="ctrl.selectedControlMethod" theme="selectize" class="form-control" on-select="ctrl.initMaskedInputs()">
                  <ui-select-match placeholder="Selecione...">{{$select.selected.name}}</ui-select-match>
                  <ui-select-choices repeat="controlMethod in ctrl.controlMethodEnum.enums | filter: $select.search">
                    <div ng-bind-html="controlMethod.name | highlight: $select.search"></div>
                  </ui-select-choices>
                </ui-select>
              </div>
            </div>

            <div class="col-sm-1" ng-if="!ctrl.automatic && ctrl.selectedControlMethod.id == ctrl.controlMethodEnum.WIDTH.id || ctrl.selectedControlMethod.id == ctrl.controlMethodEnum.AREA.id" ng-init="ctrl.initMaskedInputs()">
              <div class="form-group form-md-line-input">
                <input type="text" class="form-control {{ctrl.initial_width != null ? 'edited' : ''}}" ng-model="ctrl.initial_width" data-plugin="masked-input" />
                <label>Largura</label>
                <span class="help-block">De</span>
              </div>

              <div class="form-group form-md-line-input">
                <input type="text" class="form-control {{ctrl.final_width != null ? 'edited' : ''}}" ng-model="ctrl.final_width" data-plugin="masked-input" />
                <label>Largura</label>
                <span class="help-block">Até</span>
              </div>
            </div>

            <div class="col-sm-1" ng-if="!ctrl.automatic && ctrl.selectedControlMethod.id == ctrl.controlMethodEnum.HEIGHT.id || ctrl.selectedControlMethod.id == ctrl.controlMethodEnum.AREA.id" ng-init="ctrl.initMaskedInputs()">
              <div class="form-group form-md-line-input">
                <input type="text" class="form-control {{ctrl.initial_height != null ? 'edited' : ''}}" ng-model="ctrl.initial_height" data-plugin="masked-input" />
                <label>Altura</label>
                <span class="help-block">De</span>
              </div>
              
              <div class="form-group form-md-line-input">
                <input type="text" class="form-control {{ctrl.final_height != null ? 'edited' : ''}}" ng-model="ctrl.final_height" data-plugin="masked-input" />
                <label>Altura</label>
                <span class="help-block">Até</span>
              </div>
            </div>

            <div class="col-sm-1" ng-if="!ctrl.automatic && ctrl.selectedControlMethod.id == ctrl.controlMethodEnum.TOTAL_AREA.id" ng-init="ctrl.initMaskedInputs()">
              <div class="form-group form-md-line-input">
                <input type="text" class="form-control {{ctrl.initial_area != null ? 'edited' : ''}}" ng-model="ctrl.initial_area" data-plugin="masked-input" />
                <label>Área total</label>
                <span class="help-block">De</span>
              </div>

              <div class="form-group form-md-line-input">
                <input type="text" class="form-control {{ctrl.final_area != null ? 'edited' : ''}}" ng-model="ctrl.final_area" data-plugin="masked-input" />
                <label>Área total</label>
                <span class="help-block">Até</span>
              </div>
            </div>

            <div class="col-sm-1" ng-if="!ctrl.automatic && ctrl.selectedControlMethod.id == ctrl.controlMethodEnum.AREA.id" ng-init="ctrl.initMaskedInputs()">
              <div class="form-group form-md-line-input">
                <input type="text" disabled class="form-control {{ctrl.initial_width != null && ctrl.initial_height != null ? 'edited' : ''}}" value="{{ctrl.initial_width * ctrl.initial_height}}" data-plugin="masked-input" />
                <label>Área</label>
                <span class="help-block">De</span>
              </div>

              <div class="form-group form-md-line-input">
                <input type="text" disabled class="form-control {{ctrl.final_width != null && ctrl.final_height != null ? 'edited' : ''}}" value="{{ctrl.final_width * ctrl.final_height}}" data-plugin="masked-input" />
                <label>Área</label>
                <span class="help-block">Até</span>
              </div>
            </div>
          </div>

          <div class="row" ng-hide="ctrl.automatic">
            <div class="col-sm-4">
              <div class="form-group form-md-line-input">
                <div class="input-group">
                  <input type="text" class="form-control {{ctrl.model.total_consumption != null ? 'edited' : ''}}" ng-model="ctrl.totalConsumptionFormula" id="rule_total_consumption">
                  <label for="rule_total_consumption">Consumo total</label>
                  <span class="help-block">
                    <select ng-change="ctrl.addTotalConsumptionVariable()" ng-model="ctrl.totalConsumptionVariable" ng-options="option as option.name for option in ctrl.totalConsumptionOptions | orderBy: 'name'"></select>
                  </span>
                  <span class="input-group-addon">
                    <i class="icon-question popovers" data-trigger="hover" data-container="body" data-content="{{ctrl.popoverTotalConsumptionText}}" data-original-title="Ajuda" data-html="true"></i>
                  </span>
                </div>
              </div>
            </div>

            <div class="col-sm-4">
              <div class="form-group form-md-line-input">
                <div class="input-group">
                  <input type="text" class="form-control {{ctrl.model.cost != null ? 'edited' : ''}}" ng-model="ctrl.costFormula" id="rule_cost">
                  <label for="rule_cost">Custo</label>
                  <span class="help-block">
                    <select ng-change="ctrl.addCostVariable()" ng-model="ctrl.costVariable" ng-options="option as option.name for option in ctrl.costOptions | orderBy: 'name'"></select>
                  </span>
                  <span class="input-group-addon">
                    <i class="icon-question popovers" data-trigger="hover" data-container="body" data-content="{{ctrl.popoverCostText}}" data-original-title="Ajuda" data-html="true"></i>
                  </span>
                </div>
              </div>
            </div>
          </div>

          <h4 class="margin-top-20">Formas de consumo</h4>

          <div class="row" ng-show="ctrl.consumptionShow">
            <div class="col-sm-4">
              <div class="form-group form-md-line-input">
                <div class="input-group">
                  <input type="text" class="form-control" ng-class="{'edited': ctrl.model.height_consumption != null}" ng-model="ctrl.heightConsumptionFormula" id="rule_height_consumption">
                  <label for="rule_height_consumption"><i class="fa fa-arrows-v"></i> Consumo em altura</label>
                  <span class="help-block">
                    <select ng-change="ctrl.addHeightConsumptionVariable()" ng-model="ctrl.heightConsumptionVariable" ng-options="option as option.name for option in ctrl.heightConsumptionOptions | orderBy: 'name'"></select>
                  </span>
                  <span class="input-group-addon">
                    <i class="icon-question popovers" data-trigger="hover" data-container="body" data-content="{{ctrl.popoverHeightConsumptionText}}" data-original-title="Ajuda" data-html="true"></i>
                  </span>
                </div>
              </div>
            </div>

            <div class="col-sm-4">
              <div class="form-group form-md-line-input">
                <div class="input-group">
                  <input type="text" class="form-control" ng-class="{'edited': ctrl.model.width_consumption != null}" ng-model="ctrl.widthConsumptionFormula" id="rule_width_consumption">
                  <label for="rule_width_consumption"><i class="fa fa-arrows-h"></i> Consumo em largura</label>
                  <span class="help-block">
                    <select ng-change="ctrl.addWidthConsumptionVariable()" ng-model="ctrl.widthConsumptionVariable" ng-options="option as option.name for option in ctrl.widthConsumptionOptions | orderBy: 'name'"></select>
                  </span>
                  <span class="input-group-addon">
                    <i class="icon-question popovers" data-trigger="hover" data-container="body" data-content="{{ctrl.popoverWidthConsumptionText}}" data-original-title="Ajuda" data-html="true"></i>
                  </span>
                </div>
              </div>
            </div>

            <div class="col-sm-3">
              <div class="form-group form-md-line-input">
                <div class="input-group">
                  <input type="text" class="form-control" ng-class="{'edited': ctrl.model.quantity_consumption != null}" ng-model="ctrl.quantityConsumptionFormula" id="rule_quantity_consumption">
                  <label for="rule_quantity_consumption"><i class="fa fa-balance-scale"></i> Consumo em quantidade</label>
                  <span class="help-block">
                    <select ng-change="ctrl.addQuantityConsumptionVariable()" ng-model="ctrl.quantityConsumptionVariable" ng-options="option as option.name for option in ctrl.quantityConsumptionOptions | orderBy: 'name'"></select>
                  </span>
                  <span class="input-group-addon">
                    <i class="icon-question popovers" data-trigger="hover" data-container="body" data-placement="left" data-content="{{ctrl.popoverQuantityConsumptionText}}" data-original-title="Ajuda" data-html="true"></i>
                  </span>
                </div>
              </div>
            </div>

            <div class="col-sm-1">
              <div class="form-group form-md-line-input">
                <a href="#" class="btn blue" ng-click="ctrl.addRule()">
                  <i class="fa fa-plus"></i>
                </a>
              </div>
            </div>
          </div>

          <hr />

          <div class="row">
            <div class="col-sm-5 col-sm-offset-7">
              <div class="input-icon right">
                <i class="icon-magnifier"></i>
                <input type="text" class="form-control" ng-model="search" />
              </div>
            </div>
          </div>

          <div class="portlet box">
            <div class="portlet-body">
              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th width="40%">DESCRIÇÃO</th>
                      <th>REGRA</th>
                      <th width="15%"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="rule in ctrl.model.rules | textFilter: search" ng-mouseenter="options=true" ng-mouseleave="options=false">
                      <td>{{rule.id}}</td>
                      <td>
                        <i class="fa" ng-class="{'fa-lock': rule.required == true, 'fa-unlock': rule.required == false}"></i>
                        <strong>({{ctrl.weightEnum.findById(rule.weight).name}})</strong> {{rule.description}}
                      </td>
                      <td>
                        <span ng-if="rule.control_method.id == ctrl.controlMethodEnum.WIDTH.id">
                          <span class="label {{ctrl.controlMethodEnum.WIDTH.color}} margin-right-10">
                            {{rule.control_method.name}}
                          </span>
                        </span>

                        <span ng-if="rule.control_method.id == ctrl.controlMethodEnum.HEIGHT.id">
                          <span class="label {{ctrl.controlMethodEnum.HEIGHT.color}} margin-right-10">
                            {{rule.control_method.name}}
                          </span>
                        </span>

                        <span ng-if="rule.control_method.id == ctrl.controlMethodEnum.AREA.id">
                          <span class="label {{ctrl.controlMethodEnum.AREA.color}} margin-right-10">
                            {{rule.control_method.name}}
                          </span>
                        </span>

                        <span ng-if="rule.control_method.id == ctrl.controlMethodEnum.UNIT.id">
                          <span class="label {{ctrl.controlMethodEnum.UNIT.color}} margin-right-10">
                            {{rule.control_method.name}}
                          </span>
                        </span>

                        <span ng-if="rule.control_method.id == ctrl.controlMethodEnum.TOTAL_AREA.id">
                          <span class="label {{ctrl.controlMethodEnum.TOTAL_AREA.color}} margin-right-10">
                            {{rule.control_method.name}}
                          </span>
                        </span>

                        <span ng-if="rule.automatic">
                          AUT.
                        </span>

                        <span ng-if="!rule.automatic">
                          <span ng-if="rule.control_method.id == ctrl.controlMethodEnum.WIDTH.id || rule.control_method.id == ctrl.controlMethodEnum.AREA.id">
                            <i class="fa fa-arrows-h"></i>
                            <span class="margin-right-10">
                              {{rule.initial_width | currency :"":2}} cm ~ {{rule.final_width | currency :"":2}} cm
                            </span>
                          </span>

                          <span ng-if="rule.control_method.id == ctrl.controlMethodEnum.HEIGHT.id || rule.control_method.id == ctrl.controlMethodEnum.AREA.id">
                            <i class="fa fa-arrows-v"></i>
                            <span class="margin-right-10">
                              {{rule.initial_height | currency :"":2}} cm ~ {{rule.final_height | currency :"":2}} cm
                            </span>
                          </span>

                          <span ng-if="rule.control_method.id == ctrl.controlMethodEnum.TOTAL_AREA.id">
                            <i class="fa fa-arrows"></i>
                            <span class="margin-right-10">
                              {{rule.initial_area | currency :"":2}} cm² ~ {{rule.final_area | currency :"":2}} cm²
                            </span>
                          </span>
                        </span>
                      </td>
                      <td>
                        <a href="javascript:;" class="btn green" ng-click="ctrl.openAddComponentModal(rule)">Adicionar componentes</a>
                      </td>
                      <td width="15%">
                        <a href="javascript:;" class="pull-right" ng-click="ctrl.removeRule(rule)" ng-show="options">
                          <i class="fa fa-times-circle font-red"></i>
                        </a>
                        <a href="javascript:;" class="pull-right margin-right-10" ng-click="ctrl.editRule(rule)" ng-show="options">
                          <i class="fa fa-edit"></i>
                        </a>
                        <a href="javascript:;" class="pull-right margin-right-10" ng-click="ctrl.cloneRule(rule)" ng-show="options" title="Duplicar regra">
                          <i class="fa fa-copy font-green"></i>
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>

                <add-components-modal model="ctrl.selectedRule" ng-if="ctrl.selectedRule.control_method !== undefined" components="ctrl.components" on-close="ctrl.setRules()"></add-components-modal>
              </div>
            </div>
          </div>
          <div class="form-actions noborder">
            <a href="/lines/{{ctrl.id}}/edit" class="btn default">Voltar</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>