<div ng-controller="ItemsFormCtrl as ctrl">
  <div class="portlet light">
    <div class="portlet-title">
      <div class="caption font-green">
        <i class="icon-pin font-green"></i>
        <span class="caption-subject bold uppercase">Dados</span>
      </div>
      <div class="actions">
        <a href="javascript:;" data-toggle="modal" data-target="#modal_item_erp_data" class="btn blue" ng-click="ctrl.loadModalData()" ng-hide="ctrl.id === undefined">Dados Adicionais</a>
      </div>
    </div>
    <div class="portlet-body form">
		  <form role="form" name="ctrl.form" ng-submit="ctrl.save()">
		  	<div class="form-body">
          <div class="row">
            <div class="col-sm-5">
              <div class="form-group form-md-radios">
                <label></label>
                <div class="md-radio-inline">
                  <div class="md-radio" ng-repeat="itemType in ctrl.itemTypeEnum.enums">
                    <input id="radio_item_{{itemType.name}}" name="radio_item_type" class="md-radiobtn" type="radio" ng-model="ctrl.model.type" ng-value="itemType.id">
                    <label for="radio_item_{{itemType.name}}">
                    <span class="inc"></span>
                    <span class="check"></span>
                    <span class="box"></span>{{itemType.name}}</label>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-5">
              <div class="form-group form-md-line-input form-md-floating-label">
                <input type="text" class="form-control" ng-class="{'edited': ctrl.model.code != null}" ng-model="ctrl.model.code" id="item_code">
                <label for="item_code">Código</label>
              </div>
            </div>

            <div class="col-sm-5">
              <div class="form-group form-md-line-input form-md-floating-label">
                <input type="text" class="form-control" ng-class="{'edited': ctrl.model.description != null}" ng-model="ctrl.model.description" id="item_description">
                <label for="item_description">Descrição <span class="required">*</span></label>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-4">
              <div class="form-group form-md-line-input">
                <label>Unidade <span class='required'>*</span></label>

                <unit-selection model="ctrl.model.unit"></unit-selection>
              </div>
            </div>
          </div>

          <div class="form-actions noborder">
		        <button type="submit" class="btn blue">Salvar</button>
		        <a href="/items" class="btn default">Voltar</a>
		        <button type="button" class="btn red" ng-hide="ctrl.id == undefined" ng-click="ctrl.openDestroyModal()">Apagar</button>

            <div id="modal_delete_item" class="modal fade in" tabindex="-1" role="basic" aria-hidden="true" ng-if="ctrl.id !== undefined">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header bg-red">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h3 class="modal-title">
                      <strong>
                        Aviso
                      </strong>
                    </h3>
                  </div>
                  <div class="modal-body">
                    <div class="row">
                      <div class="col-md-12">
                        Tem certeza que deseja apagar esse produto/serviço?
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <div class="form-actions noborder">
                      <button type="button" class="btn default" data-dismiss="modal">Cancelar</button>
                      <button type="button" class="btn red" data-dismiss="modal" ng-click="ctrl.destroy()">Apagar</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div id="modal_item_erp_data" class="modal fade in" tabindex="-1" role="basic" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h3 class="modal-title">
                      Dados adicionais para o ERP
                    </h3>
                  </div>
                  <div class="modal-body">
                    <div class="row" ng-if="ctrl.categoryLevels.length > 0">
                      <div class="col-sm-12">
                        <h4>Categorias</h4>
                      </div>
                    </div>

                    <div class="row" ng-repeat="cl in ctrl.categoryLevels" ng-if="ctrl.categoryLevels.length > 0">
                      <div class="col-md-12">
                        <div class="form-group form-md-line-input">
                          <label>{{::cl.name}}</label>
                          <ui-select ng-model="ctrl.model.erp_categories[cl.name]" theme="selectize" class="form-control">
                            <ui-select-match placeholder="Selecione a categoria">{{$select.selected.name}}</ui-select-match>
                            <ui-select-choices repeat="pc.name as pc in ctrl.productCategoriesByCategoryLevel(cl.level) | filter: $select.search">
                              <div ng-bind-html="pc.name | highlight: $select.search"></div>
                            </ui-select-choices>
                          </ui-select>
                        </div>
                      </div>
                    </div>

                    <hr ng-if="ctrl.categoryLevels.length > 0">

                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group form-md-line-input">
                          <label>CST</label>
                          <ui-select ng-model="ctrl.model.cst" theme="selectize" class="form-control">
                            <ui-select-match placeholder="Selecione o CST">{{$select.selected.id}} - {{$select.selected.name}}</ui-select-match>
                            <ui-select-choices repeat="cst.id as cst in ctrl.cstEnum.enums | filter: $select.search">
                              <div ng-bind-html="cst.id + ' - ' + cst.name | highlight: $select.search"></div>
                            </ui-select-choices>
                          </ui-select>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-sm-12">
                        <div class="form-group form-md-line-input form-md-floating-label">
                          <input type="text" class="form-control" ng-class="{'edited': ctrl.model.ncm !== null && ctrl.model.ncm !== ''}" ng-model="ctrl.model.ncm" id="ncm" data-plugin="masked-input-ncm">
                          <label for="ncm">NCM</label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <div class="form-actions noborder">
                      <button type="button" class="btn default" data-dismiss="modal">Cancelar</button>
                      <button type="button" class="btn blue" data-dismiss="modal" ng-click="ctrl.save()">Salvar</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
		      </div>
		    </div>
		  </form>
    </div>
  </div>
</div>
