<!-- BEGIN : LOGIN PAGE 5-1 -->
<div class="user-login-5">
  <div class="row bs-reset">
    <div class="col-md-7 bs-reset">
      <div class="login-bg" style="background-image:url(/images/login.png)"></div>
    </div>
    <div class="col-md-5 login-container bs-reset">
      <div class="login-content">
        <div ui-view="content" class="content"></div>
      </div>
    </div>
  </div>
</div>