<div class="invoice-content-2" ng-controller="ProductionOrderShowCtrl as ctrl">
  <div class="row invoice-head">
    <div class="col-xs-4">
      <div class="invoice-logo">
        <img src="images/logo-lg.png" class="img-responsive" alt="" />
        <h1 class="uppercase">Ordem de produção</h1>
      </div>
    </div>
    <div class="col-xs-8">
      <div class="company-address">
        <span class="bold uppercase">Pedido nº #{{ctrl.id}}</span><br />
        <span class="bold uppercase">Cliente: {{ctrl.model.client.name}}</span><br />
        <span class="bold uppercase">Data de emissão da ordem: {{ctrl.today | date: 'dd/MM/yyyy'}}</span><br /><br />
        <span class="bold uppercase">Data para início: ____/____/____</span><br />
        <span class="bold uppercase">Data para termino: ____/____/____</span><br />
        <span class="bold uppercase">Montador Resp.: ______________________________________</span>
      </div>
    </div>
  </div>

  <div class="row invoice-body" ng-if="ctrl.id !== undefined">
    <div class="col-xs-12">
      <span ng-repeat="environment in ctrl.model.environments">
        <span ng-repeat="location in environment.locations">
          <div class="table-responsive">
            <table class="table table-hover table-bordered">
              <thead ng-repeat-start="order_item in location.order_items">
                <tr ng-if="$first">
                  <th class="invoice-title uppercase">Cod. Prod.</th>
                  <th class="invoice-title uppercase text-center" width="65%">Descrição</th>
                  <th class="invoice-title uppercase text-center">Consumo Qtd.</th>
                  <th class="invoice-title uppercase text-center" width="10%">Consumo</th>
                  <th class="invoice-title uppercase text-center">UN</th>
                  <th class="invoice-title uppercase text-left" width="15%">Medidas (cm)</th>
                </tr>
                <tr>
                  <th></th>
                  <th class="invoice-title uppercase text-center" colspan="5">
                    Produto: #{{order_item.identification}} {{order_item.line.name}} ({{order_item.width}}cm x {{order_item.height}}cm)
                  </th>
                </tr>
              </thead>
              <tbody ng-repeat-end>
                <tr ng-repeat="component in order_item.components | orderBy: 'required'" ng-if="component.total_consumption > 0">
                  <td class="text-left"></td>
                  <td class="text-left">
                    {{component.component.name}}
                  </td>
                  <td class="text-right">
                    <span ng-if="component.quantity_consumption > 0">
                      {{component.quantity_consumption}}
                    </span>
                  </td>
                  <td class="text-right">{{component.total_consumption | currency :"":2}}</td>
                  <td class="text-center">{{ctrl.unitEnum.findById(component.component.unit).unit}}</td>
                  <td class="text-right">
                    <span ng-if="component.width_consumption > 0">
                      {{component.width_consumption}}
                    </span>

                    <span ng-if="component.width_consumption > 0 && component.height_consumption > 0">
                    x
                    </span>

                    <span ng-if="component.height_consumption > 0">
                      {{component.height_consumption}}
                    </span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </span>
      </span>
    </div>
  </div>

  <div class="row invoice-subtotal visible-print">
    <div class="col-xs-12">
      <h2 class="invoice-title uppercase">Observação</h2>
      <p class="invoice-desc">{{ctrl.model.observation}}</p>
    </div>
  </div>

  <div class="row invoice-subtotal visible-print">
    <div class="col-xs-12">
      <h2 class="invoice-title uppercase">OP feita por</h2>
      <p class="invoice-desc"></p>
    </div>
  </div>

  <div class="row invoice-subtotal visible-print">
    <div class="col-xs-12">
      <h2 class="invoice-title uppercase">Autorizada por</h2>
      <p class="invoice-desc"></p>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 text-right">
      <a class="btn green-haze hidden-print uppercase" href="/production_orders/{{ctrl.id}}/print" target="_blank">Imprimir</a>
      <a class="btn green-haze hidden-print uppercase" href="javascript:;" ng-click="ctrl.generateLineLabel()">Etiqueta de persiana</a>
      <a class="btn green-haze hidden-print uppercase" href="javascript:;" ng-click="ctrl.generateComponentLabel()">Etiqueta de componente</a>
      <a class="btn green-haze hidden-print uppercase" href="javascript:;" ng-click="ctrl.generateCutMap()">Plano de corte</a>
    </div>
  </div>
</div>
