<div id="modal_add_lines" class="modal fade in modal-scroll" data-replace="true" tabindex="-1" role="basic" aria-hidden="true">
  <div class="modal-dialog modal-full">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h3 class="modal-title">
          Adicionar linhas - {{model.label}}
        </h3>
      </div>
      <div class="modal-body">
        <div class="scroller" style="height:600px" data-always-visible="1" data-rail-visible="1">
          <div class="row">
            <div class="col-sm-6">
              <div class="row">
                <div class="col-sm-6">
                  <div class="row form-group">
                    <div class="col-sm-12">
                      <h2>Linhas</h2>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group form-md-line-input">
                    <input type="text" class="form-control" ng-model="search" placeholder="Pesquisar" />
                  </div>
                </div>
              </div>

              <div class="row form-group">
                <div class=" col-sm-offset-10 col-sm-2 text-right">
                  <a href="javascript:;" class="btn green" ng-click="addSelected()">Adicionar</a>
                </div>
              </div>

              <div class="row" ng-repeat="line in lines | filter: filterLines | orderBy: 'name' | textFilter: search">
                <div class="col-sm-2">
                  <div class="form-group form-md-checkboxes">
                    <div class="md-checkbox-inline">
                      <div class="md-checkbox">
                        <input type="checkbox" id="chk_line_{{line.id}}" class="md-check" ng-model="selected[line.id]" ng-true-value="{{line.id}}">
                        <label for="chk_line_{{line.id}}">
                          <span></span>
                          <span class="check"></span>
                          <span class="box"></span>
                        </label>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-sm-10">
                  {{line.name}}
                </div>
              </div>

              <div class="row form-group">
                <div class=" col-sm-offset-10 col-sm-2 text-right">
                  <a href="javascript:;" class="btn green" ng-click="addSelected()">Adicionar</a>
                </div>
              </div>
            </div>

            <div class="col-sm-6">
              <div class="row form-group">
                <div class="col-sm-12">
                  <h2>Adicionadas</h2>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-12 margin-top-40 margin-bottom-30">
                </div>
              </div>

              <span ng-show="addedLines.length > 0">
                <div class="row form-group">
                  <div class=" col-sm-offset-10 col-sm-2 text-right">
                    <a href="javascript:;" class="btn red" ng-click="removeSelected()">Remover</a>
                  </div>
                </div>

                <div class="row" ng-repeat="line in addedLines">
                  <div class="col-sm-2">
                    <div class="form-group form-md-checkboxes">
                      <div class="md-checkbox-inline">
                        <div class="md-checkbox">
                          <input type="checkbox" id="added_{{line.id}}" class="md-check" ng-model="selectedToRemove[line.id]" ng-true-value="{{line.id}}">
                          <label for="added_{{line.id}}">
                            <span></span>
                            <span class="check"></span>
                            <span class="box"></span>
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-sm-10">
                    {{line.name}}
                  </div>
                </div>

                <div class="row form-group">
                  <div class=" col-sm-offset-10 col-sm-2 text-right">
                    <a href="javascript:;" class="btn red" ng-click="removeSelected()">Remover</a>
                  </div>
                </div>
              </span>
            </div>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <div class="form-actions noborder">
          <button type="button" class="btn green" data-dismiss="modal" ng-click="saveLines()">Salvar</button>
        </div>
      </div>
    </div>
  </div>
</div>