<div id="modal_add_components" class="modal fade in modal-scroll" data-replace="true" tabindex="-1" role="basic" aria-hidden="true">
  <div class="modal-dialog modal-full">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h3 class="modal-title">
          Adicionar componentes a regra
        </h3>
      </div>
      <div class="modal-body">
        <div class="scroller" style="height:600px" data-always-visible="1" data-rail-visible="1">
          <div class="row margin-top-10">
            <div class="col-sm-1">
              <i class="fa" ng-class="{'fa-lock': model.required == true, 'fa-unlock': model.required == false}"></i>
            </div>

            <div class="col-sm-3">
              <span ng-if="model.automatic">
                AUTOMÁTICA
              </span>
              <span ng-if="!model.automatic">
                <span ng-if="model.control_method.id == controlMethodEnum.WIDTH.id || model.control_method.id == controlMethodEnum.AREA.id">
                  <i class="fa fa-arrows-h"></i>
                  <span class="margin-right-10">
                    {{model.initial_width | currency :"":2}} cm ~ {{model.final_width | currency :"":2}} cm
                  </span>
                </span>

                <span ng-if="model.control_method.id == controlMethodEnum.HEIGHT.id || model.control_method.id == controlMethodEnum.AREA.id">
                  <i class="fa fa-arrows-v"></i>
                  <span class="margin-right-10">
                    {{model.initial_height | currency :"":2}} cm ~ {{model.final_height | currency :"":2}} cm
                  </span>
                </span>

                <span ng-if="model.control_method.id == controlMethodEnum.TOTAL_AREA.id">
                  <i class="fa fa-arrows"></i>
                  <span class="margin-right-10">
                    {{model.initial_area | currency :"":2}} cm ~ {{model.final_area | currency :"":2}} cm
                  </span>
                </span>
              </span>
            </div>

            <div class="col-sm-1">
              <span ng-if="model.control_method.id == controlMethodEnum.WIDTH.id">
                  <span class="label {{controlMethodEnum.WIDTH.color}}">
                    {{model.control_method.name}}
                  </span>
              </span>

              <span ng-if="model.control_method.id == controlMethodEnum.HEIGHT.id">
                  <span class="label {{controlMethodEnum.HEIGHT.color}}">
                    {{model.control_method.name}}
                  </span>
              </span>

              <span ng-if="model.control_method.id == controlMethodEnum.AREA.id">
                  <span class="label {{controlMethodEnum.AREA.color}}">
                    {{model.control_method.name}}
                  </span>
              </span>

              <span ng-if="model.control_method.id == controlMethodEnum.UNIT.id">
                  <span class="label {{controlMethodEnum.UNIT.color}}">
                    {{model.control_method.name}}
                  </span>
              </span>

              <span ng-if="model.control_method.id == controlMethodEnum.TOTAL_AREA.id">
                  <span class="label {{controlMethodEnum.TOTAL_AREA.color}}">
                    {{model.control_method.name}}
                  </span>
              </span>
            </div>
            <div class="col-sm-2">
              {{model.total_consumption}}
            </div>
            <div class="col-sm-2">
              {{model.cost}}
            </div>
            <div class="col-sm-2">
              <span class="margin-right-5" ng-if="model.height_consumption != null && model.height_consumption != ''">
                <i class="fa fa-arrows-v"></i> {{model.height_consumption}}
              </span>

              <span class="margin-right-5" ng-if="model.width_consumption != null && model.width_consumption != ''">
                <i class="fa fa-arrows-h"></i> {{model.width_consumption}}
              </span>
            </div class="col-sm-2">
          </div>

          <hr />

          <div class="row">
            <div class="col-sm-6">
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group form-md-line-input">
                    <input type="text" class="form-control" ng-model="search" placeholder="Pesquisar" />
                  </div>
                </div>
              </div>

              <div class="row form-group">
                <div class=" col-sm-offset-10 col-sm-2 text-right">
                  <a href="javascript:;" class="btn green" ng-click="addSelected()">Adicionar</a>
                </div>
              </div>

              <div class="row form-group">
                <div class="col-sm-2">
                  <div class="form-md-checkboxes">
                    <div class="md-checkbox-inline">
                      <div class="md-checkbox">
                        <input type="checkbox" id="chkSelectAll" class="md-check" ng-click="selectAllToAdd($event)">
                        <label for="chkSelectAll">
                          <span></span>
                          <span class="check"></span>
                          <span class="box"></span>
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 bold">
                  COMPONENTES
                </div>
                <div class="col-sm-4 bold">
                  FAMÍLIAS
                </div>
              </div>

              <div class="row" ng-repeat="component in components | filter: filterComponents | orderBy: 'name' | textFilter: search">
                <div class="col-sm-2">
                  <div class="form-group form-md-checkboxes">
                    <div class="md-checkbox-inline">
                      <div class="md-checkbox">
                        <input type="checkbox" id="chk_component_{{component.id}}" class="md-check" ng-model="selected[component.id]" ng-true-value="{{component.id}}">
                        <label for="chk_component_{{component.id}}">
                          <span></span>
                          <span class="check"></span>
                          <span class="box"></span>
                        </label>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-sm-1">
                  {{component.id}} 
                </div>

                <div class="col-sm-5">
                  {{component.name}}
                </div>

                <div class="col-sm-4 text-right">
                  <span ng-repeat="family in component.families" class="label margin-right-10" style="background-color:{{family.color}}">
                    {{family.name}}
                  </span>
                </div>
              </div>

              <div class="row form-group">
                <div class=" col-sm-offset-10 col-sm-2 text-right">
                  <a href="javascript:;" class="btn green" ng-click="addSelected()">Adicionar</a>
                </div>
              </div>
            </div>

            <div class="col-sm-6">
              <div class="row form-group">
                <div class="col-sm-12">
                  <h2>Adicionados</h2>
                </div>
              </div>

              <span ng-show="model.component_ids.length > 0">
                <div class="row form-group">
                  <div class=" col-sm-offset-10 col-sm-2 text-right">
                    <a href="javascript:;" class="btn red" ng-click="removeSelected()">Remover</a>
                  </div>
                </div>

                <div class="row form-group">
                  <div class="col-sm-2">
                    <div class="form-md-checkboxes">
                      <div class="md-checkbox-inline">
                        <div class="md-checkbox">
                          <input type="checkbox" id="chkSelectAllAdded" class="md-check" ng-click="selectAllAdded($event)">
                          <label for="chkSelectAllAdded">
                            <span></span>
                            <span class="check"></span>
                            <span class="box"></span>
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6 bold">
                    COMPONENTES
                  </div>
                  <div class="col-sm-4 bold">
                    FAMÍLIAS
                  </div>
                </div>

                <div class="row" ng-repeat="component in modelComponents">
                  <div class="col-sm-2">
                    <div class="form-group form-md-checkboxes">
                      <div class="md-checkbox-inline">
                        <div class="md-checkbox">
                          <input type="checkbox" id="added_{{component.id}}" class="md-check" ng-model="selectedToRemove[component.id]" ng-true-value="{{component.id}}">
                          <label for="added_{{component.id}}">
                            <span></span>
                            <span class="check"></span>
                            <span class="box"></span>
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-sm-1">
                    {{component.id}}
                  </div>

                  <div class="col-sm-5">
                    {{component.name}}
                  </div>

                  <div class="col-sm-4 text-right">
                    <span ng-repeat="family in component.families" class="label margin-right-10" style="background-color:{{family.color}}">
                      {{family.name}}
                    </span>
                  </div>
                </div>

                <div class="row form-group">
                  <div class=" col-sm-offset-10 col-sm-2 text-right">
                    <a href="javascript:;" class="btn red" ng-click="removeSelected()">Remover</a>
                  </div>
                </div>
              </span>
            </div>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <div class="form-actions noborder">
          <button type="button" class="btn red" data-dismiss="modal" ng-click="executeCallback()">Fechar</button>
        </div>
      </div>
    </div>
  </div>
</div>