<ui-select ng-model="model" theme="selectize" class="form-control" on-select="updateModel($item, $model)">
  <ui-select-match placeholder="Selecione a categoria">{{$select.selected.name}}</ui-select-match>
  <ui-select-choices repeat="category.id as category in categories | filter: $select.search">
    <div ng-bind-html="category.name | highlight: $select.search"></div>
  </ui-select-choices>
</ui-select>
<div class="margin-top-15">
  <a href="#" data-toggle="modal" ng-click="openCategoryModal()">Não achou a categoria? Cadastre uma nova</a>
</div>

<div id="modal_categories" class="modal fade in" tabindex="-1" role="basic" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h3 class="modal-title">
          <strong>
            Categorias
          </strong>
        </h3>
      </div>
      <div class="modal-body">
        <div class="form-inline margin-bottom-40">
          <div class="form-group form-md-line-input has-success">
            <input type="text" ng-class="{'edited': new_category.name !== null}" class="form-control" ng-model="new_category.name" id="category_name" placeholder="Nome">
            <span class="help-block">Informe o nome da categoria</span>
          </div>
          <div class="md-checkbox md-checkbox-inline">
            <input type="checkbox" id="use_cut_table" class="md-check" ng-model="new_category.use_cut_table" ng-true-value="true" ng-false-value="false">
            <label for="use_cut_table">
              <span></span>
              <span class="check"></span>
              <span class="box"></span>
               Usa mesa de corte
            </label>
          </div>

          <button type="button" class="btn blue" data-dismiss="modal" ng-click="createCategory()">{{new_category.id == undefined ? 'Criar' : 'Editar'}}</button>
          <button type="button" class="btn red" data-dismiss="modal" ng-click="cancelEdit()" ng-if="new_category.id != undefined">Cancelar</button>
        </div>
        
        <div class="row">
          <div class="col-md-offset-7 col-md-5">
            <div class="form-group form-md-line-input form-md-floating-label">
              <div class="input-icon">
                <input type="text" class="form-control" ng-model="search">
                <i class="fa fa-search"></i>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="list-group">
              <span ng-repeat="category in categories | textFilter: search" class="list-group-item" ng-mouseenter="options=true" ng-mouseleave="options=false">
                <span class="badge bg-blue pull-left margin-right-10">
                  {{category.id}}
                </span>
                <h4 class="list-group-item-heading">
                  <span class="label margin-right-10" style="background-color: {{category.color}}">
                    {{category.name}}
                  </span>
                  <a href="javascript:;" ng-click="removeCategory(category.id)" ng-show="options">
                    <i class="fa fa-times pull-right font-red"></i>
                  </a>
                  <a href="javascript:;" ng-click="editCategory(category.id)" class="label label-primary pull-right margin-right-10" ng-show="options">Editar</a>
                </h4>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="form-actions noborder">
          <button type="button" class="btn red" data-dismiss="modal">Cancelar</button>
        </div>
      </div>
    </div>
  </div>
</div>