<div class="panel-heading">
  <h4 class="panel-title" ng-mouseenter="options=true" ng-mouseleave="options=false">
    <span class="accordion-toggle accordion-toggle-styled" data-toggle="collapse" data-parent="#environments" href="javascript:;" data-target="#environments_{{index}}">
      #{{index + 1}} - {{environmentEnum.findById(environment.category).name}} 
      <a href="#" editable-text="environment.name" onbeforesave="updateEnvironment($data, environment)" edit-disabled="{{hasOrder}}" ng-class="{'editable-disabled': hasOrder}" blur="submit">
        {{environment.name || 'Adicione uma descrição'}}
      </a>

      <span class="pull-right margin-right-10">
        <span class="margin-right-10" ng-click="deleteRecord(environment)" ng-show="options" ng-if="hasOrder == false">
          <i class="fa fa-times-circle font-red"></i>
        </span>
 
        {{subtotal | currency :"":2}}
      </span>
    </span>
  </h4>
</div>
<div id="environments_{{index}}" class="panel-collapse collapse in">
  <div class="panel-body">
    <div class="row" ng-if="hasOrder == false">
      <div class="col-sm-3">
        <div class="form-group form-md-line-input">
          <ui-select ng-model="location_model.category" theme="selectize" class="form-control">
            <ui-select-match placeholder="Selecione o local">{{$select.selected.name}}</ui-select-match>
            <ui-select-choices repeat="location.id as location in locationEnum.enums | orderBy:'name' | filter: $select.search">
              <div ng-bind-html="location.name | highlight: $select.search"></div>
            </ui-select-choices>
          </ui-select>
        </div>
      </div>

      <div class="col-sm-5">
        <div class="form-group form-md-line-input form-md-floating-label">
          <input type="text" class="form-control" ng-class="{'edited': location_model.name != null}" ng-model="location_model.name">
          <label for="location_name">Descrição</label>
          <span class="help-block"></span>
        </div>
      </div>

      <div class="col-sm-1">
        <div class="form-group form-md-line-input form-md-floating-label">
          <input type="text" class="form-control" ng-class="{'edited': location_model.width != null}" ng-model="location_model.width" data-plugin="masked-input-decimal" ng-init="initMaskedInputs()" ng-required="true" id="txtWidth_{{index}}">
          <label for="location_width">Largura</label>
          <span class="help-block"></span>
        </div>
      </div>

      <div class="col-sm-1">
        <div class="form-group form-md-line-input form-md-floating-label">
          <input type="text" class="form-control" ng-class="{'edited': location_model.height != null}" ng-model="location_model.height" data-plugin="masked-input-decimal" ng-init="initMaskedInputs()" ng-required="true">
          <label for="location_height">Altura</label>
          <span class="help-block"></span>
        </div>
      </div>

      <div class="col-sm-1">
        <div class="form-group form-md-line-input form-md-floating-label">
          <input type="text" class="form-control" ng-class="{'edited': location_model.quantity != null}" ng-model="location_model.quantity" data-plugin="masked-input" ng-init="initMaskedInputs()" ng-required="true">
          <label for="location_quantity">Quant</label>
          <span class="help-block"></span>
        </div>
      </div>

      <div class="col-sm-1">
        <button type="button" class="btn green margin-top-20" ng-click="addLocation()" ng-disabled="!validLocation()">
          <i class="fa fa-plus"></i>
        </button>
      </div>
    </div>

    <div class="row" ng-hide="locations.length == 0">
      <div class="col-md-11 options-container">
        <div class="row">
          <div class="col-md-4 text-uppercase text-center">
            Descrição
          </div>

          <div class="col-md-2 text-uppercase text-center">
            Medida
          </div>

          <div class="col-md-1 text-uppercase text-center">
            Qtd
          </div>

          <div class="col-md-2 text-uppercase text-center">
            Vr unit
          </div>

          <div class="col-md-2 text-uppercase text-center">
            Subtotal
          </div>

          <div class="col-md-1">

          </div>
        </div>

        <ul class="list-unstyled">
          <li ng-repeat="location in locations">
            <div class="row font-lg">
              <div class="col-md-4">
                <div class="md-checkbox-list">
                  <div class="md-checkbox">
                    <input type="checkbox" id="checkbox_location_{{location.id}}" name="checkbox_location_{{location.id}}" class="md-check" ng-disabled="hasOrder" data-location-id="{{location.id}}" ng-click="updateLocationSelection(location, $event)">
                    <label for="checkbox_location_{{location.id}}">
                    <span></span>
                    <span class="check"></span>
                    <span class="box"></span>
                      {{locationEnum.findById(location.category).name}} 
                    </label>
                    <a href="#" editable-text="location.name" onbeforesave="updateLocation($data, location)" edit-disabled="{{hasOrder}}" ng-class="{'editable-disabled': hasOrder}" blur="submit">{{location.name || 'Adicione uma descrição'}}</a>
                  </div>
                </div>
              </div>

              <div class="col-md-2">
                {{location.width}}cm x {{location.height}}cm
              </div>

              <div class="col-md-1">
                {{location.quantity}} UN
              </div>

              <div class="col-md-2 text-right">
                {{location.subtotal | currency :"":2}}
              </div>

              <div class="col-md-2 text-right">
                <label class="label label-success margin-right-10" ng-if="location.discount !== 0">
                  {{location.discount | currency :"":2}}%
                </label>

                <div class="popover-wrapper">
                  <a href="#" editable-discount="location.discount" onbeforesave="updateDiscount($data, $type, location)" edit-disabled="{{hasOrder || hideDescription}}" ng-class="{'editable-disabled': hasOrder}" blur="submit" e-total="location.total">
                    {{location.total_with_discount | currency :"":2}}
                  </a>
                </div>
              </div>

              <div class="col-md-1" ng-if="hasOrder == false">
                <a href="javascript:;" ng-click="openOptionModal(location)">
                  <i class="fa fa-cog font-dark"></i>
                </a>

                <a href="javascript:;" ng-click="resetRecord(location)">
                  <i class="fa fa-refresh font-dark"></i>
                </a>

                <a href="javascript:;" ng-click="deleteRecord(location)">
                  <i class="fa fa-times-circle font-red"></i>
                </a>
              </div>
            </div>

            <div class="row" ng-repeat-start="option in location.options">
              <div class="col-xs-8 text-left">
                #{{option.identification}} {{option.line.name}} <span class="bold">{{option.width}}cm x {{option.height}}cm</span>
              </div>
            </div>

            <div class="row" ng-if="option.questions.length > 0">
              <div class="col-xs-12" ng-show="hideDescription === false">
                <small ng-bind-html="questionsData(option.questions)"></small>
              </div>  
            </div>

            <div class="row" ng-repeat-end>
              <div class="col-xs-12" ng-show="hideDescription === false">
                <small>{{ componentNames(option.components) }}</small>
              </div>        
              <hr>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
