<a href="javascript:;" class="btn green" ng-click="openModal()">
  Importar regras
</a>

<div id="modal_import_rules" class="modal fade in modal-scroll bs-modal-lg" data-replace="true" tabindex="-1" role="basic" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h3 class="modal-title">
          Importar regras - {{model.name}}
        </h3>
      </div>
      <div class="modal-body">
        <div class="scroller" style="height:600px" data-always-visible="1" data-rail-visible="1">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group form-md-line-input">
                <label>Linha</label>
                <ui-select ng-model="selectedLineId"  theme="selectize" class="form-control" on-select="loadRules($item, $model)">
                  <ui-select-match placeholder="Selecione a linha">{{$select.selected.name}}</ui-select-match>
                  <ui-select-choices repeat="line.id as line in lines | orderBy: 'name' | filter: $select.search">
                    <div ng-bind-html="line.name | highlight: $select.search"></div>
                  </ui-select-choices>
                </ui-select>
              </div>
            </div>
          </div>

          <div class="row margin-top-10" ng-show="rules.length > 0">
            <div class="col-sm-offset-8 col-sm-4 text-right">
              <input type="text" class="form-control" ng-model="search" placeholder="Pesquisar" />
            </div>
          </div>

          <div class="row margin-top-10" ng-show="rules.length > 0">
            <div class="col-sm-12">
              <table class="table">
                <thead>
                  <tr>
                    <th width="5%"></th>
                    <th>ID</th>
                    <th width="50%">DESCRIÇÃO</th>
                    <th>REGRA</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="rule in rules | textFilter: search">
                    <td>
                      <div class="form-group form-md-checkboxes">
                        <div class="md-checkbox-inline">
                          <div class="md-checkbox">
                            <input type="checkbox" id="chk_rule_{{rule.id}}" class="md-check" ng-model="selectedRuleIds[rule.id]" ng-true-value="{{rule.id}}">
                            <label for="chk_rule_{{rule.id}}">
                              <span></span>
                              <span class="check"></span>
                              <span class="box"></span>
                            </label>
                          </div>
                        </div>
                      </div>
                    </td>
                    <td>{{rule.id}}</td>
                    <td>
                      <i class="fa" ng-class="{'fa-lock': rule.required == true, 'fa-unlock': rule.required == false}"></i>
                      <strong>({{weightEnum.findById(rule.weight).name}})</strong> {{rule.description}}
                    </td>
                    <td>
                      <span ng-if="rule.control_method.id == controlMethodEnum.WIDTH.id">
                        <span class="label {{controlMethodEnum.WIDTH.color}} margin-right-10">
                          {{rule.control_method.name}}
                        </span>
                      </span>

                      <span ng-if="rule.control_method.id == controlMethodEnum.HEIGHT.id">
                        <span class="label {{controlMethodEnum.HEIGHT.color}} margin-right-10">
                          {{rule.control_method.name}}
                        </span>
                      </span>

                      <span ng-if="rule.control_method.id == controlMethodEnum.AREA.id">
                        <span class="label {{controlMethodEnum.AREA.color}} margin-right-10">
                          {{rule.control_method.name}}
                        </span>
                      </span>

                      <span ng-if="rule.control_method.id == controlMethodEnum.UNIT.id">
                        <span class="label {{controlMethodEnum.UNIT.color}} margin-right-10">
                          {{rule.control_method.name}}
                        </span>
                      </span>

                      <span ng-if="rule.control_method.id == controlMethodEnum.TOTAL_AREA.id">
                        <span class="label {{controlMethodEnum.TOTAL_AREA.color}} margin-right-10">
                          {{rule.control_method.name}}
                        </span>
                      </span>

                      <span ng-if="rule.automatic">
                        AUT.
                      </span>

                      <span ng-if="!rule.automatic">
                        <span ng-if="rule.control_method.id == controlMethodEnum.WIDTH.id || rule.control_method.id == controlMethodEnum.AREA.id">
                          <i class="fa fa-arrows-h"></i>
                          <span class="margin-right-10">
                            {{rule.initial_width | currency :"":2}} cm ~ {{rule.final_width | currency :"":2}} cm
                          </span>
                        </span>

                        <span ng-if="rule.control_method.id == controlMethodEnum.HEIGHT.id || rule.control_method.id == controlMethodEnum.AREA.id">
                          <i class="fa fa-arrows-v"></i>
                          <span class="margin-right-10">
                            {{rule.initial_height | currency :"":2}} cm ~ {{rule.final_height | currency :"":2}} cm
                          </span>
                        </span>

                        <span ng-if="rule.control_method.id == controlMethodEnum.TOTAL_AREA.id">
                          <i class="fa fa-arrows"></i>
                          <span class="margin-right-10">
                            {{rule.initial_area | currency :"":2}} cm² ~ {{rule.final_area | currency :"":2}} cm²
                          </span>
                        </span>
                      </span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <div class="form-actions noborder">
          <button type="button" class="btn btn-success" data-dismiss="modal" ng-click="import()">Importar</button>
        </div>
      </div>
    </div>
  </div>
</div>