<div id="modal_payment" class="modal fade in" tabindex="-1" role="basic" aria-hidden="true">
  <form>
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" id="close_modal_pay" aria-hidden="true">×</button>
          <h3 class="modal-title">
            <strong ng-if="orderId">Pagamento</strong>
            <strong ng-if="!orderId">Adicionar crédito</strong>
          </h3>
          <h6 style="text-align: justify;">
            * Esse é um site seguro. As informações de cartão de crédito não serão gravadas (apenas serão repassadas para o gateway de pagamento Iugu).
            Todos os dados trafegados são transmitidos de forma criptografada e toda informação sensível é armazenada em servidores seguros. Você pode realizar seus pagamentos com segurança e tranquilidade.
          </h6>
          <div>
            <img src="/images/lets-encrypt-logo.png" style="width: 50px"/>
            <img src="/images/iugu-ssl-encryption.png" style="width: 50px"/>
          </div>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-sm-8 col-sm-offset-2" ng-if="valueLeft">
              <div class="form-group form-md-line-input form-md-floating-label">
                <input type="text" class="form-control" ng-class="{'edited': valueLeft != null}" ng-model="valueLeft" ui-number-mask ui-hide-group-sep id="payment_value" disabled>
                <label for="payment_value">Valor do pedido</label>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-8 col-sm-offset-2" ng-if="!valueLeft">
              <div class="form-group form-md-line-input form-md-floating-label">
                <input type="text" class="form-control" ng-class="{'edited': model.value != null}" ng-model="model.value" ui-number-mask ui-hide-group-sep id="payment_value">
                <label for="payment_value">Valor do crédito</label>
              </div>
            </div>
          </div>

          <div class="row" ng-if="model.value !== undefined && model.value !== null">
            <div class="col-sm-4 col-sm-offset-2">
              <div class="form-group form-md-line-input">
                <label>Forma de Pagamento <span class="required">*</span></label>
                <ui-select ng-model="model.payment_method" theme="selectize" class="form-control" on-select="setPaymentMethod($item, $model)">
                  <ui-select-match placeholder="Selecione...">{{$select.selected.name}}</ui-select-match>
                  <ui-select-choices repeat="payment_method.enumeration as payment_method in paymentMethodEnum.paymentEnums | filter: {name: $select.search}">
                    <div ng-bind-html="payment_method.name | highlight: $select.search"></div>
                  </ui-select-choices>
                </ui-select>
              </div>
            </div>

            <div class="col-sm-4">
              <div class="form-group form-md-line-input">
                <label>Tipo do crédito <span class="required">*</span></label>
                <ui-select ng-model="model.credit_type" theme="selectize" class="form-control" on-select="setCreditType($item, $model)">
                  <ui-select-match placeholder="Selecione...">{{$select.selected.name}}</ui-select-match>
                  <ui-select-choices repeat="credit_type.enumeration as credit_type in creditTypeEnum.enums | filter: {name: $select.search}">
                    <div ng-bind-html="credit_type.name | highlight: $select.search"></div>
                  </ui-select-choices>
                </ui-select>
              </div>
            </div>
          </div>

          <hr>

          <div ng-if="model.payment_method === paymentMethodEnum.CREDIT_CARD.enumeration" ng-init="initCard()">
            <div class="row">
              <div class="col-sm-4">
                <div class='card-wrapper'></div>
              </div>

              <div class="col-sm-8">
                <div class="row">
                  <div class="col-sm-6 col-sm-offset-2">
                    <div class="form-group form-md-line-input form-md-floating-label">
                      <input type="text" class="form-control" ng-class="{'edited': model.card_number != null}" ng-model="model.card_number" id="card_number" name="number">
                      <label for="card_number">Número <span class="required">*</span></label>
                    </div>
                  </div>

                  <div class="col-sm-4">
                    <div class="form-group form-md-line-input form-md-floating-label">
                      <input type="text" class="form-control" ng-class="{'edited': model.card_code != null}" ng-model="model.card_code" id="card_verification_code" name="cvc">
                      <label for="card_verification_code">CVV <span class="required">*</span></label>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-sm-6 col-sm-offset-2">
                    <div class="form-group form-md-line-input form-md-floating-label">
                      <input type="text" class="form-control" ng-class="{'edited': model.card_titular != null}" ng-model="model.card_titular" id="card_titular" name="name" style="text-transform:uppercase">
                      <label for="card_titular">Titular <span class="required">*</span></label>
                    </div>
                  </div>

                  <div class="col-sm-4">
                    <div class="form-group form-md-line-input form-md-floating-label">
                      <input type="text" class="form-control" ng-class="{'edited': model.card_expiration != null}" ng-model="model.card_expiration" id="card_expiration" name="expiry">
                      <label for="card_expiration">MM/AAAA <span class="required">*</span></label>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-sm-10 col-sm-offset-2">
                    <div class="form-group form-md-line-input">
                      <label>Parcelas <span class="required">*</span></label>
                      <ui-select ng-model="selectedPaymentCondition" theme="selectize" class="form-control" on-select="setPaymentCondition($item, $model)">
                        <ui-select-match placeholder="Parcelas?">{{installment}}</ui-select-match>
                        <ui-select-choices repeat="condition in creditCardConditions | filter: { installments: $select.search }">
                          <div ng-bind-html="condition.installments + 'x' | highlight: $select.search"></div>
                        </ui-select-choices>
                      </ui-select>
                    </div>
                  </div>
                </div>

                <div class="row margin-top-10">
                  <div class="col-sm-10 col-sm-offset-2">
                    <img src="/images/valid_cards.png" alt="Visa, Master, Diners. Amex" border="0"/> 
                    <a href="http://iugu.com" tabindex="-1" target="_blank" class="pull-right">
                      <img src="/images/iugu_payment.png" alt="Pagamentos por Iugu" border="0"/> 
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div ng-if="model.payment_method === paymentMethodEnum.BANK_SLIP.enumeration">
            <div class="row">
              <div class="col-sm-6 text-center">
                <img src="/images/bank_slip.png" alt="Boleto" border="0" /> 
              </div>

              <div class="col-sm-6 text-center">
                <div class="form-group form-md-line-input">
                  <label>Valor do boleto</label>
                  <input type="text" class="form-control text-center" ng-model="installment" ng-disabled="true">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <div class="form-actions noborder">
            <button type="button" class="btn default" data-dismiss="modal">Cancelar</button>
            <button type="button" class="btn blue" ng-click="savePayment()" ng-disabled="validateForm()">Pagar</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>