<ui-select ng-model="model" theme="selectize" class="form-control" on-select="updateModel($item, $model)">
  <ui-select-match placeholder="Selecione a unidade">{{$select.selected.unit}}</ui-select-match>
  <ui-select-choices repeat="unit.id as unit in unitEnum.enums | filter: $select.search">
    <div ng-bind-html="unit.unit | highlight: $select.search"></div>
  </ui-select-choices>
</ui-select>