<div class="portlet light">
  <div class="portlet-title">
    <div class="caption font-green">
      <i class="icon-pin font-green"></i>
      <span class="caption-subject bold uppercase">Dados do cliente</span>
    </div>
  </div>
  <div class="portlet-body form">
    <customer-form in-modal="false"></customer-form>
  </div>
</div>
