<div ng-controller="AttributeFormCtrl as ctrl">
  <div class="portlet light">
    <div class="portlet-title">
      <div class="caption font-green">
        <i class="icon-pin font-green"></i>
        <span class="caption-subject bold uppercase">Dados</span>
      </div>
    </div>
    <div class="portlet-body form">
      <form role="form" name="attributeForm">
        <div class="form-body">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group form-md-line-input form-md-floating-label">
                <input type="text" class="form-control" ng-class="{'edited': ctrl.model.name != null}" ng-model="ctrl.model.name" id="attribute_name">
                <label for="attribute_name">Nome</label>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <div class="md-checkbox">
                  <input type="checkbox" id="automatic" class="md-check" ng-model="ctrl.model.automatic" ng-true-value="true" ng-false-value="false">
                  <label for="automatic">
                    <span></span>
                    <span class="check"></span>
                    <span class="box"></span>
                     Atributo para cálculo automático de consumo
                  </label>
                </div>
              </div>
            </div>

            <div class="col-sm-6">
              <div class="form-group">
                <div class="md-checkbox">
                  <input type="checkbox" id="used_in_filter" class="md-check" ng-model="ctrl.model.used_in_filter" ng-true-value="true" ng-false-value="false">
                  <label for="used_in_filter">
                    <span></span>
                    <span class="check"></span>
                    <span class="box"></span>
                     Utilizar no filtro de venda
                  </label>
                </div>
              </div>
            </div>
          </div>

          <hr />

          <span ng-if="ctrl.model.name != null && ctrl.model.name !== ''">
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group form-md-line-input form-md-floating-label">
                  <input type="text" class="form-control" ng-model="ctrl.value.value" id="attribute_value" ng-class="{'edited': ctrl.value.value != null}">
                  <label for="attribute_value">Valor</label>
                </div>
              </div>

              <div class="col-sm-3" ng-if="ctrl.model.automatic" ng-init="ctrl._configMaskedInputs()">
                <div class="form-group form-md-line-input form-md-floating-label">
                  <input type="text" data-plugin="masked-input" class="form-control" ng-model="ctrl.value.comparison_value" id="attribute_comparison_value" ng-class="{'edited': ctrl.value.comparison_value != null}">
                  <label for="attribute_comparison_value">Dimensões</label>
                </div>
              </div>

              <div class="col-sm-2">
                <button type="button" class="btn green margin-top-20" ng-click="ctrl.addValue()">
                  <i class="fa fa-plus"></i>
                </button>
                <button type="button" class="btn yellow margin-top-20" ng-click="ctrl.cancelValue()">
                  Cancelar
                </button>
              </div>
            </div>

            <hr />

            <div class="row">
              <div class="col-sm-6">
                <label class="text-uppercase">Valor</label>
              </div>

              <div class="col-sm-5" ng-if="ctrl.model.automatic">
                <label class="text-uppercase">Dimensões</label>
              </div>
            </div>

            <div class="row" ng-repeat="value in ctrl.model.values" ng-mouseenter="options=true" ng-mouseleave="options=false">
              <div class="col-sm-6">
                <a href="javascript:;" ng-click="ctrl.editValue(value)">{{value.value}}</a>
              </div>

              <div class="col-sm-5" ng-if="ctrl.model.automatic">
                <label>{{value.comparison_value | currency :"":2}} cm</label>
              </div>

              <div class="col-sm-1" ng-show="options">
                <a href="javascript:;" ng-click="ctrl.removeValue(value)"><i class="fa fa-times-circle font-red"></i></a>
              </div>
            </div>
          </span>

          <div class="form-actions noborder">
            <button type="button" class="btn blue" ng-click="ctrl.saveAttribute()">{{ctrl.id == undefined ? 'Criar' : 'Editar'}}</button>
            <a href="/attributes" class="btn default">Voltar</a>
            <a href="javascript:;" class="btn red" ng-hide="ctrl.id == undefined" ng-click="ctrl.openDeleteModal()">Apagar</a>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div id="model_delete_attribute" class="modal fade in" tabindex="-1" role="basic" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
          <h3 class="modal-title">
            <strong>
              Aviso
            </strong>
          </h3>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-12">
              Tem certeza que deseja apagar esse attributo?
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <div class="form-actions noborder">
            <button type="button" class="btn default" data-dismiss="modal">Cancelar</button>
            <button type="button" class="btn red" data-dismiss="modal" ng-click="ctrl.deleteAttribute()">Apagar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>