<div ng-controller="ConcededCreditsIndexCtrl as ctrl">
  <div class="row">
    <div class="col-md-12">
      <div class="portlet light">
        <div class="portlet-title">
          <div class="caption">
            <span class="caption-subject bold font-blue uppercase">Extrato de créditos concedidos</span>
          </div>
          <div class="actions"></div>
        </div>
        <div class="portlet-body">
          <div class="table-toolbar">
            <div class="row" ng-if="ctrl.user.workplace.type !== ctrl.workplaceTypeEnum.STORE.id">
              <div class="col-sm-6">
                <div class="form-group form-md-line-input">
                  <ui-select ng-model="ctrl.thirdPartyId" theme="selectize" class="form-control" on-select="ctrl.setThirdParty($item, $model)">
                    <ui-select-match placeholder="Selecione o cliente" allow-clear="true">{{$select.selected.name}}</ui-select-match>
                    <ui-select-choices repeat="client.third_party_id as client in ctrl.clients | filter: $select.search | orderBy: client.name">
                      <div ng-bind-html="client.name | highlight: $select.search"></div>
                      <small ng-if="client.type === 'Distributor'">Distribuidor</small>
                      <small ng-if="client.type === 'Store'">Loja</small>
                      <small ng-if="client.type === 'Customer'">Cliente</small>
                      ->
                      <small ng-if="client.owner.type === 'Factory'">{{client.owner.name}}</small>
                      <small ng-if="client.owner.type === 'Distributor'">Distribuidor {{client.owner.name}}</small>
                      <small ng-if="client.owner.type === 'Store'">Loja {{client.owner.name}}</small>
                    </ui-select-choices>
                  </ui-select>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-12">
                <div class="form-group form-md-radios">
                  <label></label>
                  <div class="md-radio-inline">
                    <div class="md-radio" ng-repeat="creditType in ctrl.creditTypeEnum.enums">
                      <input id="{{creditType.id}}" name="radio_credit_type" class="md-radiobtn" type="radio" ng-model="ctrl.creditType" ng-value="creditType.enumeration" ng-change="ctrl.filter()">
                      <label for="{{creditType.id}}">
                        <span class="inc"></span>
                        <span class="check"></span>
                        <span class="box"></span>
                        {{creditType.name}}
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-3">
                <div class="form-group form-md-line-input form-md-floating-label">
                  <input type="text" class="form-control date-picker" ng-class="{'edited': ctrl.from != null}" size="16" ng-model="ctrl.from" ng-init="ctrl.initDatepicker()" id="from" ng-change="ctrl.filter()">
                  <label>De</label>
                </div>
              </div>

              <div class="col-sm-3">
                <div class="form-group form-md-line-input form-md-floating-label">
                  <input type="text" class="form-control date-picker" ng-class="{'edited': ctrl.until != null}" size="16" ng-model="ctrl.until" ng-init="ctrl.initDatepicker()" id="until" ng-change="ctrl.filter()">
                  <label>Até</label>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-1">
                <label class="control-label">Últimos</label>
              </div>
              <div class="col-sm-5">
                <div class="btn-group">
                  <button type="button" class="btn btn-default" ng-click="ctrl.setLastDays(7)">7 dias</button>
                  <button type="button" class="btn btn-default" ng-click="ctrl.setLastDays(15)">15 dias</button>
                  <button type="button" class="btn btn-default" ng-click="ctrl.setLastDays(30)">30 dias</button>
                  <button type="button" class="btn btn-default" ng-click="ctrl.setLastDays(60)">60 dias</button>
                  <button type="button" class="btn btn-default" ng-click="ctrl.setLastDays(90)">90 dias</button>
                </div>
              </div>
            </div>
          </div>
          <div class="dataTables_wrapper no-footer">
            <table class="table table-striped table-bordered table-hover" id="table_credits">
              <thead>
                <tr>
                  <th colspan="6" class="text-right uppercase">Saldo anterior</th>
                  <th class="text-right" id="previousBalance"></th>
                </tr>
                <tr>
                  <th class="text-center uppercase"></th>
                  <th class="text-center uppercase"></th>
                  <th class="text-center uppercase"></th>
                  <th class="text-center uppercase"></th>
                  <th class="text-center uppercase"></th>
                  <th class="text-center uppercase"></th>
                  <th class="text-center uppercase"></th>
                </tr>
              </thead>
              <tfoot>
                <tr>
                  <th colspan="6" class="text-right uppercase">Saldo em <span></span></th>
                  <th class="text-right" id="finalBalance"></th>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>