<div ng-controller="OauthCallbackController as ctrl">
  <div class="portlet light">
    <div class="portlet-title">
      <div class="caption font-green">
        <span class="caption-subject bold uppercase">Clientes</span>
      </div>
    </div>
    <div class="portlet-body">
      <h3>Login efetuado com sucesso !</h3>
      <h3>Redirecionando...</h3>
    </div>
  </div>
</div>

