<div ng-controller="OauthController as ctrl">
  <div class="portlet light">
    <div class="portlet-title">
      <div class="caption font-green">
        <span class="caption-subject bold uppercase">Clientes</span>
      </div>
    </div>
    <div class="portlet-body">
      <h3>Para visualizar e cadastrar clientes é necessário estar logado no ERP</h3>
      <h3>Redirecionando...</h3>
    </div>
  </div>
</div>

