<div ng-controller="ItemsIndexCtrl as ctrl">
  <div class="row">
    <div class="col-md-12">
      <div class="portlet light">
        <div class="portlet-title">
          <div class="caption">
            <span class="caption-subject bold font-blue uppercase">Produtos e Serviços</span>
          </div>
          <div class="actions">
            <div class="btn-group">
              <a data-toggle="dropdown" href="javascript:;" class="btn btn-circle btn-default " aria-expanded="true">
                <i class="icon-wrench"></i>
                <i class="fa fa-angle-down"></i>
              </a>
              <ul class="dropdown-menu pull-right">
                <li>
                  <a href="javascript:;" ng-click="ctrl.selectAll()">
                    <i class="icon-check"></i> Selecionar todos
                  </a>
                </li>
                <li ng-show="ctrl.selected.length > 0">
                  <a href="javascript:;" ng-click="ctrl.openDeleteModal()">
                    <i class="fa fa-trash-o"></i> Apagar selecionados
                  </a>
                </li>
              </ul>
            </div>

            <div id="modal_delete_items" class="modal fade in" tabindex="-1" role="basic" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h3 class="modal-title">
                      <strong>
                        Aviso
                      </strong>
                    </h3>
                  </div>
                  <div class="modal-body">
                    <div class="row">
                      <div class="col-md-12">
                        Tem certeza que deseja apagar os produtos/serviços selecionados?
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <div class="form-actions noborder">
                      <button type="button" class="btn default" data-dismiss="modal">Cancelar</button>
                      <button type="button" class="btn red" data-dismiss="modal" ng-click="ctrl.removeSelected()">Apagar</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="portlet-body">
          <div class="table-toolbar">
            <div class="row">
              <div class="col-md-6">
                <div class="btn-group">
                  <a href="/items/new" class="btn sbold green">
                    <i class="fa fa-plus"></i> Novo
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="dataTables_wrapper no-footer">
            <table class="table table-striped table-bordered table-hover" id="table_items">
              <thead>
                <th class="text-center uppercase"></th>
                <th class="text-center uppercase"></th>
                <th class="text-center uppercase"></th>
                <th class="text-center uppercase"></th>
                <th class="text-center uppercase"></th>
              </thead>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>