<div ng-controller="LoginController as ctrl">
	<div class="alert alert-danger" ng-show="ctrl.errors.length > 0">
	  <span>{{ctrl.errors.join(",")}}</span>
	</div>

	<div class="box-logo-login"> 
		<img  ng-src="{{ctrl.logo_url}}" />
	</div>
	
	<h1>Bem vindo,</h1>

	<h5>informe seu usuário e senha</h5>
	<form action="javascript:;" class="login-form" method="post" name="loginForm">
	  <div class="form-group form-md-line-input" ng-class="{'has-error': loginForm.username.$dirty && loginForm.username.$invalid}">
	    <input type="text" placeholder="Usuário" name="username" id="username" class="form-control" ng-model="ctrl.user.username" required ng-enter="ctrl.login()">
	    <label for="username"></label>
	  </div>
	  <div class="form-group form-md-line-input" ng-class="{'has-error': loginForm.password.$dirty && loginForm.password.$invalid}">
	    <input type="password" autocomplete="off" placeholder="Senha" name="password" id="password" class="form-control" ng-model="ctrl.user.password" required ng-enter="ctrl.login()">
	    <label for="password"></label>
	  </div>
	  <div class="form-actions">
	    <button type="button" class="btn green uppercase" ng-click="ctrl.login()">Entrar</button>
	  </div>
	</form>
</div>