<div ng-controller="LineFormCtrl as ctrl">
  <div class="portlet light">
    <div class="portlet-title">
      <div class="caption font-green">
        <i class="icon-pin font-green"></i>
        <span class="caption-subject bold uppercase">
        {{ctrl.lineName || 'Nova linha'}}
          <label class="label label-success" ng-if="ctrl.model.active === true">Ativa</label>
          <label class="label bg-yellow" ng-if="ctrl.model.active === false">Inativa</label>
        </span>
      </div>
      <div class="actions">
        <a href="javascript:;" data-toggle="modal" data-target="#modal_line_erp_data" class="btn blue" ng-click="ctrl.loadModalData()" ng-hide="ctrl.id == undefined">Dados Adicionais</a>
        <a href="javascript:;" class="btn blue" ng-click="ctrl.goToRules()" ng-hide="ctrl.id == undefined">Regras</a>
      </div>
    </div>
    <div class="portlet-body form">
      <form role="form" name="ctrl.lineForm" ng-submit="ctrl.saveLine()">
        <div class="form-body">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group form-md-line-input">
                <div class="md-checkbox">
                  <input type="checkbox" id="finished" class="md-check" ng-model="ctrl.model.finished" ng-true-value="true" ng-false-value="false">
                  <label for="finished">
                    <span></span>
                    <span class="check"></span>
                    <span class="box"></span>
                      Cadastro finalizado
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group form-md-line-input">
                <label>Família</label>
                <ui-select ng-model="ctrl.model.family_id" theme="selectize" class="form-control">
                  <ui-select-match placeholder="Selecione a família">{{$select.selected.name}}</ui-select-match>
                  <ui-select-choices repeat="family.id as family in ctrl.families | filter: $select.search">
                    <div ng-bind-html="family.name | highlight: $select.search"></div>
                  </ui-select-choices>
                </ui-select>
              </div>
            </div>
          </div>
          
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group form-md-line-input form-md-floating-label">
                <input type="text" class="form-control {{ctrl.model.name != null ? 'edited' : ''}}" ng-model="ctrl.model.name" id="line_name">
                <label for="line_name">Nome</label>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-2">
              <div class="form-group form-md-line-input form-md-floating-label">
                <div class="input-group">
                  <input type="text" class="form-control" ng-class="{'edited': ctrl.model.sale_price != null}" ng-model="ctrl.model.sale_price" data-plugin="masked-input-price" id="sale_price">
                  <label for="sale_price">Preço de Venda</label>
                  <span class="input-group-addon"> % </span>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-3">
              <div class="form-group form-md-line-input form-md-floating-label">
                <div class="input-group">
                  <input type="text" class="form-control" ng-class="{'edited': ctrl.model.vertical_increment != null}" ng-model="ctrl.model.vertical_increment" data-plugin="masked-input-decimal" id="vertical_increment">
                  <label for="vertical_increment">Incremento Vertical</label>
                </div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group form-md-line-input form-md-floating-label">
                <div class="input-group">
                  <input type="text" class="form-control" ng-class="{'edited': ctrl.model.horizontal_increment != null}" ng-model="ctrl.model.horizontal_increment" data-plugin="masked-input-decimal" id="horizontal_increment">
                  <label for="horizontal_increment">Incremento Horizontal</label>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12">
              <h4>Dimensões (medidas em centímetros)</h4>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-4">
              <div class="form-group form-md-line-input">
                <label>Peso</label>
                <ui-select ng-model="ctrl.selectedWeight" theme="selectize" class="form-control">
                  <ui-select-match placeholder="Selecione o peso">{{$select.selected.name}}</ui-select-match>
                  <ui-select-choices repeat="weight.id as weight in ctrl.weightEnum.enums | filter: $select.search">
                    <div ng-bind-html="weight.name | highlight: $select.search"></div>
                  </ui-select-choices>
                </ui-select>
              </div>
            </div>

            <div class="col-sm-4">
              <div class="form-group form-md-line-input form-md-floating-label">
                <button type="button" class="btn blue margin-top-30" ng-click="ctrl.addDimension()">
                  <i class="fa fa-plus"></i>
                </button>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="{{ctrl.calculateCols()}}" ng-repeat="groupedDimension in ctrl.model.dimensions | groupBy: 'weight' | orderBy: 'weight'">
              <hr>
              <h4>{{ctrl.weightEnum.findById(groupedDimension[0].weight).name}}</h4>
              <dimension-input ng-repeat="dimension in groupedDimension" model="dimension" collection="ctrl.model.dimensions" columns="ctrl.model.dimensions | groupBy: 'weight'"></dimension-input>
            </div>
          </div>

          <div class="form-actions noborder">
            <button type="submit" class="btn blue">{{ctrl.id == undefined ? 'Criar' : 'Editar'}}</button>
            <a href="javascript:;" class="btn green" ng-if="ctrl.id !== undefined" ng-click="ctrl.duplicate()">Duplicar</a>
            <a href="/lines" class="btn default">Voltar</a>
            <a href="javascript:;" class="btn red" ng-if="ctrl.id !== undefined" ng-click="ctrl.openDeleteModal()">Apagar</a>
            <a href="javascript:;" class="btn yellow" ng-if="ctrl.id !== undefined && ctrl.model.active === true" ng-click="ctrl.inactivate()">Inativar</a>
            <a href="javascript:;" class="btn btn-info" ng-if="ctrl.id !== undefined && ctrl.model.active === false" ng-click="ctrl.activate()">Reativar</a>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div id="model_delete_line" class="modal fade in" tabindex="-1" role="basic" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
          <h3 class="modal-title">
            <strong>
              Aviso
            </strong>
          </h3>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-12">
              Tem certeza que deseja apagar essa Linha?
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <div class="form-actions noborder">
            <button type="button" class="btn default" data-dismiss="modal">Cancelar</button>
            <button type="button" class="btn red" data-dismiss="modal" ng-click="ctrl.deleteLine()">Apagar</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="modal_line_erp_data" class="modal fade in" tabindex="-1" role="basic" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
          <h3 class="modal-title">
            Dados adicionais para o ERP
          </h3>
        </div>
        <div class="modal-body">
          <div class="row" ng-if="ctrl.categoryLevels.length > 0">
            <div class="col-sm-12">
              <h4>Categorias</h4>
            </div>
          </div>

          <div class="row" ng-repeat="cl in ctrl.categoryLevels" ng-if="ctrl.categoryLevels.length > 0">
            <div class="col-md-12">
              <div class="form-group form-md-line-input">
                <label>{{::cl.name}}</label>
                <ui-select ng-model="ctrl.model.erp_categories[cl.name]" theme="selectize" class="form-control">
                  <ui-select-match placeholder="Selecione a categoria">{{$select.selected.name}}</ui-select-match>
                  <ui-select-choices repeat="pc.name as pc in ctrl.productCategoriesByCategoryLevel(cl.level) | filter: $select.search | orderBy:'name'">
                    <div ng-bind-html="pc.name | highlight: $select.search"></div>
                  </ui-select-choices>
                </ui-select>
              </div>
            </div>
          </div>

          <hr ng-if="ctrl.categoryLevels.length > 0">

          <div class="row">
            <div class="col-md-12">
              <div class="form-group form-md-line-input">
                <label>CST</label>
                <ui-select ng-model="ctrl.model.cst" theme="selectize" class="form-control">
                  <ui-select-match placeholder="Selecione o CST">{{$select.selected.id}} - {{$select.selected.name}}</ui-select-match>
                  <ui-select-choices repeat="cst.id as cst in ctrl.cstEnum.enums | filter: $select.search">
                    <div ng-bind-html="cst.id + ' - ' + cst.name | highlight: $select.search"></div>
                  </ui-select-choices>
                </ui-select>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12">
              <div class="form-group form-md-line-input form-md-floating-label">
                <input type="text" class="form-control" ng-class="{'edited': ctrl.model.ncm !== null}" ng-model="ctrl.model.ncm" id="ncm" data-plugin="masked-input-ncm">
                <label for="ncm">NCM</label>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <div class="form-actions noborder">
            <button type="button" class="btn default" data-dismiss="modal">Cancelar</button>
            <button type="button" class="btn blue" data-dismiss="modal" ng-click="ctrl.saveLine()">Salvar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>