<div ng-controller="ClassificationFormCtrl as ctrl">
  <div class="portlet light">
    <div class="portlet-title">
      <div class="caption font-green">
        <i class="icon-pin font-green"></i>
        <span class="caption-subject bold uppercase">
          {{ctrl.classificationName || 'Nova classificação comercial'}}
        </span>
      </div>
    </div>
    <div class="portlet-body form">
      <form role="form" name="classificationForm">
        <div class="form-body">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group form-md-line-input form-md-floating-label">
                <input type="text" class="form-control" ng-class="{'edited': ctrl.model.name != null}" ng-model="ctrl.model.name" id="classification_name">
                <label for="classification_name">Nome</label>
              </div>
            </div>
          </div>

          <div class="scroller" style="height:600px" data-always-visible="1" data-rail-visible="1">
            <div class="row">
              <div class="col-sm-6">
                <div class="row form-group">
                  <div class="col-sm-12">
                    <h3>Disponíveis</h3>
                  </div>
                </div>

                <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group form-md-line-input">
                      <input type="text" class="form-control" ng-model="ctrl.search" placeholder="Pesquisar" />
                    </div>
                  </div>
                </div>

                <div class="row form-group">
                  <div class="col-sm-12 margin-bottom-20 margin-top-20">
                    <a href="javascript:;" class="btn green" ng-click="ctrl.addSelected()">Adicionar</a>
                  </div>
                </div>

                <div class="row form-group">
                  <div class="col-sm-2">
                    <div class="form-md-checkboxes">
                      <div class="md-checkbox-inline">
                        <div class="md-checkbox">
                          <input type="checkbox" id="chkSelectAll" class="md-check" ng-click="ctrl.selectAllToAdd($event)">
                          <label for="chkSelectAll">
                            <span></span>
                            <span class="check"></span>
                            <span class="box"></span>
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-sm-10 bold">
                    LINHAS
                  </div>
                </div>

                <div class="row" ng-repeat="line in ctrl.lines | orderBy: 'name' | textFilter: ctrl.search">
                  <div class="col-sm-2">
                    <div class="form-group form-md-checkboxes">
                      <div class="md-checkbox-inline">
                        <div class="md-checkbox">
                          <input type="checkbox" id="chk_line_{{line.id}}" class="md-check" ng-model="ctrl.selected[line.id]" ng-true-value="{{line.id}}">
                          <label for="chk_line_{{line.id}}">
                            <span></span>
                            <span class="check"></span>
                            <span class="box"></span>
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-sm-1">
                    {{line.id}} 
                  </div>

                  <div class="col-sm-9">
                    {{line.name}}
                  </div>
                </div>

                <div class="row form-group">
                  <div class="col-sm-12 margin-bottom-20 margin-top-20">
                    <a href="javascript:;" class="btn green" ng-click="ctrl.addSelected()">Adicionar</a>
                  </div>
                </div>
              </div>

              <div class="col-sm-6" ng-show="ctrl.addedLines.length > 0">
                <div class="row form-group">
                  <div class="col-sm-12">
                    <h3>Adicionadas</h3>
                  </div>
                </div>

                <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group form-md-line-input">
                      <input type="text" class="form-control" ng-model="ctrl.addedSearch" placeholder="Pesquisar" />
                    </div>
                  </div>
                </div>

                <span ng-show="ctrl.model.line_ids.length > 0">
                  <div class="row form-group">
                    <div class="col-sm-12 margin-bottom-20 margin-top-20">
                      <a href="javascript:;" class="btn red" ng-click="ctrl.removeSelected()">Remover</a>
                    </div>
                  </div>

                  <div class="row form-group">
                    <div class="col-sm-2">
                      <div class="form-md-checkboxes">
                        <div class="md-checkbox-inline">
                          <div class="md-checkbox">
                            <input type="checkbox" id="chkSelectAllAdded" class="md-check" ng-click="ctrl.selectAllAdded($event)">
                            <label for="chkSelectAllAdded">
                              <span></span>
                              <span class="check"></span>
                              <span class="box"></span>
                            </label>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-10 bold">
                      LINHAS
                    </div>
                  </div>

                  <div class="row" ng-repeat="line in ctrl.addedLines | orderBy: 'name' | textFilter: ctrl.addedSearch">
                    <div class="col-sm-2">
                      <div class="form-group form-md-checkboxes">
                        <div class="md-checkbox-inline">
                          <div class="md-checkbox">
                            <input type="checkbox" id="added_{{line.id}}" class="md-check" ng-model="ctrl.selectedToRemove[line.id]" ng-true-value="{{line.id}}">
                            <label for="added_{{line.id}}">
                              <span></span>
                              <span class="check"></span>
                              <span class="box"></span>
                            </label>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-sm-1">
                      {{line.id}}
                    </div>

                    <div class="col-sm-9">
                      {{line.name}}
                    </div>
                  </div>

                  <div class="row form-group">
                    <div class="col-sm-12 margin-bottom-20 margin-top-20">
                      <a href="javascript:;" class="btn red" ng-click="ctrl.removeSelected()">Remover</a>
                    </div>
                  </div>
                </span>
              </div>
            </div>
          </div>

          <div class="form-actions noborder">
            <button type="button" class="btn blue" ng-click="ctrl.save()">{{ctrl.id == undefined ? 'Criar' : 'Editar'}}</button>
            <a href="/classifications" class="btn default">Voltar</a>
            <button type="button" class="btn red" ng-hide="ctrl.id === undefined" ng-click="ctrl.destroy()">Apagar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>