<div ng-controller="ComponentKitCtrl as ctrl">
  <div class="portlet light">
    <div class="portlet-title">
      <div class="caption font-green">
        <i class="icon-pin font-green"></i>
        <span class="caption-subject bold uppercase">Kit para {{ctrl.model.name}}</span>
      </div>
    </div>
    <div class="portlet-body form">
      <form role="form" name="kitForm">
        <div class="form-body">
          <div class="row">
            <div class="col-sm-6">
              <ui-select ng-model="ctrl.cloneKitId" theme="selectize" on-select="ctrl.cloneKit($item, $model)">
                <ui-select-match placeholder="Copiar de:">{{$select.selected.name}}</ui-select-match>
                <ui-select-choices repeat="kit.id as kit in ctrl.kits | filter: $select.search">
                  <div ng-bind-html="kit.name | highlight: $select.search"></div>
                </ui-select-choices>
              </ui-select>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="row form-group">
                <div class="col-sm-12">
                  <h2>Itens para adicionar</h2>
                </div>
              </div>

              <div class="row form-group">
                <div class="col-sm-10">
                  <div class="form-group form-md-line-input form-md-floating-label">
                    <div class="input-icon">
                      <input type="text" class="form-control" ng-model="ctrl.search" placeholder="Pesquisar" id="txtSearch">
                      <i class="fa fa-search"></i>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row form-group">
                <div class="col-sm-6 bold">
                  COMPONENTES
                </div>
                <div class="col-sm-4 bold">
                  FAMÍLIAS
                </div>
                <div class="col-sm-2 text-right">
                  <a href="javascript:;" class="btn green" ng-click="ctrl.addSelected()">
                    <i class="fa fa-arrow-right"></i>
                  </a>
                </div>
              </div>

              <div class="overflow-container">
                <div class="row" ng-repeat="component in ctrl.components | orderBy: 'name' | textFilter: ctrl.search">
                  <div class="col-sm-2">
                    <div class="form-group form-md-checkboxes">
                      <div class="md-checkbox-inline">
                        <div class="md-checkbox">
                          <input type="checkbox" id="{{component.id}}" class="md-check" ng-model="ctrl.selected[component.id]" ng-true-value="{{component.id}}">
                          <label for="{{component.id}}">
                            <span></span>
                            <span class="check"></span>
                            <span class="box"></span>
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-sm-1">
                    {{component.id}} 
                  </div>

                  <div class="col-sm-5">
                    {{component.name}}
                  </div>

                  <div class="col-sm-4 text-right">
                    <span ng-repeat="family in component.families" class="label margin-right-10" style="background-color:{{family.color}}">
                      {{family.name}}
                    </span>
                  </div>
                </div>
              </div>

              <div class="row form-group">
                <div class=" col-sm-offset-10 col-sm-2 text-right">
                  <a href="javascript:;" class="btn green" ng-click="ctrl.addSelected()">
                    <i class="fa fa-arrow-right"></i>
                  </a>
                </div>
              </div>
            </div>

            <div class="col-sm-6">
              <div class="row form-group margin-top-10">
                <div class="col-sm-12">
                  <h2>Adicionados</h2>
                </div>
              </div>

              <div class="row form-group">
                <div class="col-sm-10">
                  <div class="form-group form-md-line-input form-md-floating-label">
                    <div class="input-icon">
                      <input type="text" class="form-control" ng-model="ctrl.addedSearch" placeholder="Pesquisar">
                      <i class="fa fa-search"></i>
                    </div>
                  </div>
                </div>
              </div>

              <span ng-show="ctrl.model.child_ids.length > 0">
                <div class="row form-group">
                  <div class="col-sm-6 bold">
                    COMPONENTES
                  </div>
                  <div class="col-sm-4 bold">
                    FAMÍLIAS
                  </div>
                  <div class="col-sm-2 text-right">
                    <a href="javascript:;" class="btn red" ng-click="ctrl.removeSelected()">Remover</a>
                  </div>
                </div>

                <div class="overflow-container">
                  <div class="row" ng-repeat="component in ctrl.kitComponents | orderBy: 'name' | textFilter: ctrl.addedSearch">
                    <div class="col-sm-2">
                      <div class="form-group form-md-checkboxes">
                        <div class="md-checkbox-inline">
                          <div class="md-checkbox">
                            <input type="checkbox" id="added_{{component.id}}" class="md-check" ng-model="ctrl.selectedToRemove[component.id]" ng-true-value="{{component.id}}">
                            <label for="added_{{component.id}}">
                              <span></span>
                              <span class="check"></span>
                              <span class="box"></span>
                            </label>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-sm-1">
                      {{component.id}}
                    </div>

                    <div class="col-sm-5">
                      {{component.name}}
                    </div>

                    <div class="col-sm-4 text-right">
                      <span ng-repeat="family in component.families" class="label margin-right-10" style="background-color:{{family.color}}">
                        {{family.name}}
                      </span>
                    </div>
                  </div>
                </div>

                <div class="row form-group margin-top-10">
                  <div class=" col-sm-offset-10 col-sm-2 text-right">
                    <a href="javascript:;" class="btn red" ng-click="ctrl.removeSelected()">Remover</a>
                  </div>
                </div>
              </span>
            </div>
          </div>

          <hr />

          <div class="form-actions noborder">
            <button type="button" class="btn blue" ng-click="ctrl.saveKit()">Salvar</button>
            <a href="/components/{{ctrl.id}}/edit" class="btn default">Voltar</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>