<div ng-controller="CutTableFormCtrl as ctrl">
  <div class="portlet light">
    <div class="portlet-title">
      <div class="caption font-green">
        <i class="icon-pin font-green"></i>
        <span class="caption-subject bold uppercase">
          {{ctrl.cutTableName || 'Nova mesa de corte'}}
        </span>
      </div>
    </div>
    <div class="portlet-body form">
      <form role="form" name="cutTableForm">
        <div class="form-body">
          <div class="row">
            <div class="col-sm-3">
              <div class="form-group form-md-line-input form-md-floating-label">
                <input type="text" class="form-control" ng-class="{'edited': ctrl.model.name != null}" ng-model="ctrl.model.name" id="cut_table_name" ng-disabled="ctrl.model.base">
                <label for="cut_table_name">Nome</label>
              </div>
            </div>

            <div class="col-sm-3">
              <div class="form-group form-md-line-input form-md-floating-label">
                <input type="text" class="form-control" ng-class="{'edited': ctrl.model.size != null}" ng-model="ctrl.model.size" data-plugin="masked-input" />
                <label>Tamanho (cm)</label>
              </div>
            </div>
          </div>

          <div class="form-actions noborder">
            <button type="button" class="btn blue" ng-click="ctrl.save()">{{ctrl.id == undefined ? 'Criar' : 'Editar'}}</button>
            <a href="/cut_tables" class="btn default">Voltar</a>
            <button type="button" class="btn red" ng-hide="ctrl.id === undefined" ng-click="ctrl.destroy()">Apagar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>