<div ng-controller="StoreIndexCtrl as ctrl">
  <div class="row">
    <div class="col-md-12">
      <div class="portlet light">
        <div class="portlet-title">
          <div class="caption">
            <span class="caption-subject bold font-blue uppercase">Lojas</span>
          </div>
          <div class="actions">
            <div class="btn-group">
              <a data-toggle="dropdown" href="javascript:;" class="btn btn-circle btn-default " aria-expanded="true">
                <i class="icon-wrench"></i>
                <i class="fa fa-angle-down"></i>
              </a>
              <ul class="dropdown-menu pull-right">
                <li>
                  <a href="javascript:;" ng-click="ctrl.selectAll()">
                    <i class="icon-check"></i> Selecionar todos
                  </a>
                </li>
                <li ng-show="ctrl.selected.length > 0">
                  <a href="javascript:;" ng-click="ctrl.openDeleteModal()">
                    <i class="fa fa-trash-o"></i> Apagar selecionados
                  </a>
                </li>
                <li ng-show="ctrl.selected.length > 0">
                  <a href="javascript:;" ng-click="ctrl.openApplyPriceTableModal()">
                    <i class="fa fa-usd"></i> Aplicar tabela de preço
                  </a>
                </li>
                <li ng-show="ctrl.selected.length > 0" ng-if="ctrl.user.workplace.type === ctrl.workplaceTypeEnum.FACTORY.id">
                  <a href="javascript:;" ng-click="ctrl.openApplyClassificationModal()">
                    <i class="icon-list"></i> Aplicar classificação comercial
                  </a>
                </li>
              </ul>
            </div>

            <div id="modal_delete_stores" class="modal fade in" tabindex="-1" role="basic" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h3 class="modal-title">
                      <strong>
                        Aviso
                      </strong>
                    </h3>
                  </div>
                  <div class="modal-body">
                    <div class="row">
                      <div class="col-md-12">
                        Tem certeza que deseja apagar as lojas selecionadas?
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <div class="form-actions noborder">
                      <button type="button" class="btn default" data-dismiss="modal">Cancelar</button>
                      <button type="button" class="btn red" data-dismiss="modal" ng-click="ctrl.removeSelected()">Apagar</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div id="modal_apply_price_table" class="modal fade in" tabindex="-1" role="basic" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h3 class="modal-title">
                      <strong>
                        Selecione a tabela
                      </strong>
                    </h3>
                  </div>
                  <div class="modal-body">
                    <div class="row">
                      <div class="col-sm-12">
                        <div class="form-group form-md-line-input">
                          <label>Tabela de preço</label>
                          <ui-select ng-model="ctrl.priceTableId" theme="selectize" class="form-control">
                            <ui-select-match placeholder="Selecione a tabela de preço">{{$select.selected.name}}</ui-select-match>
                            <ui-select-choices repeat="price_table.id as price_table in ctrl.priceTables | filter: $select.search">
                              <div ng-bind-html="price_table.name | highlight: $select.search"></div>
                              <label ng-if="price_table.type === ctrl.priceTableTypeEnum.FOR_LINES.id" class="label {{ctrl.priceTableTypeEnum.FOR_LINES.color}}">
                                {{ctrl.priceTableTypeEnum.FOR_LINES.name}}
                              </label>
                              <label ng-if="price_table.type === ctrl.priceTableTypeEnum.FOR_ITEMS.id" class="label {{ctrl.priceTableTypeEnum.FOR_ITEMS.color}}">
                                {{ctrl.priceTableTypeEnum.FOR_ITEMS.name}}
                              </label>
                            </ui-select-choices>
                          </ui-select>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <div class="form-actions noborder">
                      <button type="button" class="btn default" data-dismiss="modal">Cancelar</button>
                      <button type="button" class="btn green" ng-disabled="ctrl.priceTableId === null" data-dismiss="modal" ng-click="ctrl.applyToSelected()">Aplicar</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div id="modal_apply_classification" class="modal fade in" tabindex="-1" role="basic" aria-hidden="true" ng-if="ctrl.user.workplace.type === ctrl.workplaceTypeEnum.FACTORY.id">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h3 class="modal-title">
                      <strong>
                        Selecione a classificação comercial
                      </strong>
                    </h3>
                  </div>
                  <div class="modal-body">
                    <div class="row">
                      <div class="col-sm-12">
                        <div class="form-group form-md-line-input">
                          <label>Classificação</label>
                          <ui-select ng-model="ctrl.classificationId" theme="selectize" class="form-control">
                            <ui-select-match placeholder="Selecione a classificação">{{$select.selected.name}}</ui-select-match>
                            <ui-select-choices repeat="classification.id as classification in ctrl.classifications | filter: $select.search">
                              <div ng-bind-html="classification.name | highlight: $select.search"></div>
                            </ui-select-choices>
                          </ui-select>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <div class="form-actions noborder">
                      <button type="button" class="btn default" data-dismiss="modal">Cancelar</button>
                      <button type="button" class="btn green" ng-disabled="ctrl.classificationId === null" data-dismiss="modal" ng-click="ctrl.applyToSelectedClassification()">Aplicar</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="portlet-body">
          <div class="table-toolbar">
            <div class="row">
              <div class="col-md-6">
                <div class="btn-group">
                  <a href="/stores/new" class="btn sbold green">
                    <i class="fa fa-plus"></i> Nova
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="dataTables_wrapper no-footer">
            <table class="table table-striped table-bordered table-hover" id="table_stores">
              <thead>
                <th class="text-center uppercase"></th>
                <th class="text-center uppercase"></th>
                <th class="text-center uppercase"></th>
                <th class="text-center uppercase"></th>
                <th class="text-center uppercase"></th>
                <th class="text-center uppercase"></th>
                <th class="text-center uppercase"></th>
                <th class="text-center uppercase"></th>
              </thead>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>