<div ng-controller="OrderFormCtrl as ctrl">
  <div class="row">
    <div ng-class="{'col-md-6 col-sm-12': ctrl.model.order_item.components.length > 0, 'col-sm-12': ctrl.model.order_item.components.length == 0}">
      <div class="portlet light">
        <div class="portlet-title">
          <div class="caption font-green">
            <i class="icon-book-open font-green"></i>
            <span class="caption-subject bold uppercase">
              Nova simulação
            </span>
          </div>
          <div class="actions">
          </div>
        </div>
        <div class="portlet-body form">
          <form role="form" name="orderForm">
            <div class="form-body">
              <div class="row">
                <div class="col-sm-2">
                  <div class="form-group form-md-line-input form-md-floating-label">
                    <input type="text" class="form-control" ng-model="ctrl.model.order_item.width" ng-disabled="ctrl.model.order_item.components.length > 0" data-plugin="masked-input" ng-blur="ctrl.filterByDimension()" ng-class="{'edited': ctrl.model.order_item.width}">
                    <label for="order_width">Largura</label>
                    <span class="help-block"></span>
                  </div>
                </div>

                <div class="col-sm-2">
                  <div class="form-group form-md-line-input form-md-floating-label">
                    <input type="text" class="form-control" ng-model="ctrl.model.order_item.height" ng-disabled="ctrl.model.order_item.components.length > 0" data-plugin="masked-input" ng-blur="ctrl.filterByDimension()" ng-class="{'edited': ctrl.model.order_item.height}">
                    <label for="order_height">Altura</label>
                    <span class="help-block"></span>
                  </div>
                </div>
              </div>

              <div class="row" ng-if="ctrl.dimensionPresent === true">
                <div class="col-sm-8">
                  <div class="form-group form-md-line-input">
                    <label>Família</label>
                    <ui-select ng-model="ctrl.model.order_item.family_id" theme="selectize" class="form-control" on-select="ctrl.filterByDimension($item, $model)" ng-disabled="ctrl.model.order_item.components.length > 0">
                      <ui-select-match placeholder="Selecione a família">{{$select.selected.name}}</ui-select-match>
                      <ui-select-choices repeat="family.id as family in ctrl.families | filter: $select.search">
                        <div ng-bind-html="family.name | highlight: $select.search"></div>
                      </ui-select-choices>
                    </ui-select>
                  </div>
                </div>
              </div>

              <div class="row" ng-repeat="attribute in ctrl.attributesForFiltering" ng-if="ctrl.dimensionPresent === true">
                <div class="col-sm-8">
                  <div class="form-group form-md-line-input">
                    <label>{{attribute.name}}</label>
                    <ui-select ng-model="ctrl.selectedAttributes[$index]" theme="selectize" class="form-control" on-select="ctrl.filterByDimension($item, $model)" ng-disabled="ctrl.model.order_item.components.length > 0">
                      <ui-select-match placeholder="Todos" allow-clear="true">{{$select.selected.value}}</ui-select-match>
                      <ui-select-choices repeat="value.id as value in attribute.values | orderBy:'value' | filter: $select.search">
                        <div ng-bind-html="value.value | highlight: $select.search"></div>
                      </ui-select-choices>
                    </ui-select>
                  </div>
                </div>
              </div>

              <div class="row" ng-if="ctrl.dimensionPresent === true">
                <div class="col-sm-8">
                  <div class="form-group form-md-line-input">
                    <label>Linha</label>
                    <ui-select ng-model="ctrl.model.order_item.line" theme="selectize" class="form-control" ng-disabled="ctrl.model.order_item.components.length > 0">
                      <ui-select-match placeholder="Selecione..." allow-clear="true">{{$select.selected.name}}</ui-select-match>
                      <ui-select-choices repeat="line in ctrl.lines | orderBy:'name' | filter: $select.search">
                        <div ng-bind-html="line.name | highlight: $select.search"></div>
                      </ui-select-choices>
                    </ui-select>
                  </div>
                </div>

                <div class="col-sm-4">
                  <div class="form-group form-md-line-input form-md-floating-label">
                    <button type="button" class="btn blue margin-top-30" ng-click="ctrl.generateOrderItem()" ng-disabled="ctrl.model.order_item.line === undefined || ctrl.model.order_item.components.length > 0">Montar</button>
                    <button type="button" class="btn red margin-top-30" ng-click="ctrl.cancelOrderItem()" ng-show="ctrl.model.order_item.components.length > 0">Cancelar</button>
                  </div>
                </div>
              </div>

              <hr />

              <div class="panel-group accordion" id="questions" ng-if="ctrl.lineQuestions.length > 0">
                <div class="panel panel-default" ng-repeat="question in ctrl.lineQuestions">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a class="accordion-toggle accordion-toggle-styled collapsed" data-toggle="collapse" data-parent="#questions" href="javascript:;" data-target="#{{question.value}}">
                        {{$index + 1}}. {{question.label}}

                        <span class="pull-right margin-right-10" ng-if="question.type === ctrl.questionTypeEnum.BOOLEAN.id && ctrl.questions[question.value] !== undefined">
                          {{ctrl.questions[question.value] == true ? 'Sim' : 'Não'}}
                        </span>

                        <span class="pull-right margin-right-10" ng-if="question.type === ctrl.questionTypeEnum.DROPDOWN.id">
                          {{ctrl.questions[question.value]}}
                        </span>
                      </a>
                    </h4>
                  </div>

                  <div id="{{question.value}}" class="panel-collapse collapse">
                    <div class="panel-body">
                      <div class="row">
                        <div class="form-group form-md-line-input">
                          <div class="col-md-4" ng-if="question.type === ctrl.questionTypeEnum.BOOLEAN.id">
                            <div class="md-radio-inline">
                              <div class="md-radio">
                                <input type="radio" id="{{question.id}}_false" name="{{question.value}}" class="md-radiobtn" ng-value="false" ng-model="ctrl.questions[question.value]" ng-change="ctrl.resetComponents()">
                                <label for="{{question.id}}_false">
                                  <span></span>
                                  <span class="check"></span>
                                  <span class="box"></span> Não
                                </label>
                              </div>

                              <div class="md-radio">
                                <input type="radio" id="{{question.id}}_true" name="{{question.value}}" class="md-radiobtn" ng-value="true" ng-model="ctrl.questions[question.value]" ng-change="ctrl.resetComponents()">
                                <label for="{{question.id}}_true">
                                  <span></span>
                                  <span class="check"></span>
                                  <span class="box"></span> Sim
                                </label>
                              </div>
                            </div>
                          </div>

                          <div class="col-md-4" ng-if="question.type === ctrl.questionTypeEnum.DROPDOWN.id" ng-repeat="option in question.options">
                            <div class="md-radio-inline">
                              <div class="md-radio">
                                <input type="radio" id="{{question.value}}_{{option.value}}" name="{{question.value}}" class="md-radiobtn" value="{{option.value}}" ng-model="ctrl.questions[question.value]" ng-change="ctrl.resetComponents()">
                                <label for="{{question.value}}_{{option.value}}">
                                  <span></span>
                                  <span class="check"></span>
                                  <span class="box"></span> {{option.label}}
                                </label>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row margin-top-10">
                  <div class="col-sm-12">
                    <button type="button" class="btn green" ng-click="ctrl.proceed()">Prosseguir</button>
                  </div>
                </div>
              </div>

              <div class="row" ng-repeat="(category, category_components) in ctrl.components | groupBy: 'category.order'" ng-show="ctrl.canSelectComponents">
                <div class="col-sm-12">
                  <h4>{{category_components[0].category.name}}</h4>
                </div>
                <div class="form-group form-md-line-input">
                  <div class="col-md-4" ng-repeat="component in category_components | orderBy: component.name">
                    <div class="md-radio-inline">
                      <div class="md-radio">
                        <input type="radio" id="{{component.id}}" name="{{component.category.name}}" class="md-radiobtn" ng-value="{{component}}" ng-model="ctrl.selectedItems[$parent.$index]" ng-change="ctrl.addToComponentsModel(component)" ng-disabled="!$parent.$first && ctrl.disabledCategories[category_components[0].category.order]" select-first-radio-element collection="category_components">
                        <label for="{{component.id}}">
                          <span></span>
                          <span class="check"></span>
                          <span class="box"></span> {{component.name}}
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              
              <div class="form-actions noborder">
                <a href="/orders" class="btn default">Voltar</a> 
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-sm-12" ng-if="ctrl.model.order_item.components.length > 0">
      <div class="portlet box blue-hoki">
        <div class="portlet-title">
          <div class="caption">
            <i class="icon-present"></i>
            <span class="caption-subject bold uppercase">{{ctrl.model.order_item.line.name}}</span>
          </div>
        </div>
        <div class="portlet-body">
          <div class="table-scrollable">
            <table class="table table-bordered table-hover">
              <thead>
                <tr>
                  <th class="text-center">Componente</th>
                  <th class="text-center">Consumo</th>
                  <th class="text-center">Unidade</th>
                  <th class="text-center">Forma de consumo</th>
                  <th class="text-center">Custo Unitário</th>
                  <th class="text-center">Vr Unitário</th>
                  <th class="text-center">Subtotal</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="component in ctrl.model.order_item.components | orderBy: 'category.order'" ng-init="ctrl.initTooltip()" ng-mouseenter="options=true" ng-mouseleave="options=false"> 
                  <td>
                    <a href="javascript:;" ng-if="!component.rule_required" ng-show="options" ng-click="ctrl.removeComponent(component)">
                      <i class="fa fa-times-circle font-red"></i>
                    </a>
                    <i class="fa fa-lock tooltips" ng-show="component.rule_required" data-original-title="Componente obrigatório"></i>

                    <span class="tooltips" data-html="true" data-original-title="{{component.characteristics}}">{{component.name}}</span>

                    <span class="label pull-right" style="background-color: {{component.category.color}}">
                      {{component.category.name}}
                    </span>
                  </td>
                  <td class="text-right">
                    {{component.total_consumption | currency :"":2}}
                  </td>
                  <td class="text-center">
                    {{ctrl.unitEnum.findById(component.unit).unit}}
                  </td>
                  <td class="text-right">
                    <span class="margin-right-10" ng-if="component.width_consumption > 0">
                      <i class="fa fa-arrows-h"></i> {{component.width_consumption}}cm
                    </span>

                    <span class="margin-right-10" ng-if="component.height_consumption > 0">
                      <i class="fa fa-arrows-v"></i> {{component.height_consumption}}cm
                    </span>

                    <span class="bold" ng-if="component.quantity_consumption > 0">
                      {{component.quantity_consumption}} UN
                    </span>
                  </td>
                  <td class="text-right">{{component.cost | currency :"R$ ":5}}</td>
                  <td class="text-right">{{component.price | currency :"R$ ":5}}</td>
                  <td class="text-right">{{component.total | currency :"R$":2}}</td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td class="text-right" colspan="6">Subtotal</td>
                  <td class="text-right">{{ctrl.calculateTotal() | currency :"R$":2}}</td>
                </tr>
                <tr>
                  <td class="text-right" colspan="6">Markup linha</td>
                  <td class="text-right">{{ctrl.model.order_item.line.sale_price | currency :"":3}}%</td>
                </tr>
                <tr>
                  <td class="text-right" colspan="6">Total final</td>
                  <td class="text-right">{{ctrl.calculateTotal(ctrl.model.order_item.line.sale_price) | currency :"R$":2}}</td>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>