<!-- BEGIN : LOGIN PAGE 5-1 -->
<div class="user-login-5">
  <div class="row bs-reset">
    <div class="col-md-5 login-container bs-reset">
      <div class="login-content">
        <div ui-view="content" class="content" ng-controller="OauthController as ctrl"></div>
      </div>
        
      <div class="login-footer">
        <div class="row bs-reset">
          <div class="col-xs-7 bs-reset">
            <div class="login-copyright text-right">
              <div ng-include="'views/common/footer.html'" ng-controller="FooterController" class="page-footer"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>