<div ng-controller="EstimateExpressFormCtrl as ctrl">
  <div class="portlet light">
    <div class="portlet-title">
      <div class="caption font-green">
        <i class="icon-book-open font-green"></i>
        <span class="caption-subject bold uppercase" ng-if="ctrl.id === undefined">
          Novo orçamento expresso
        </span>
        <span class="caption-subject bold uppercase" ng-if="ctrl.id !== undefined">
          Orçamento #{{ctrl.id}} - {{ctrl.estimate_model.date}}
          <span class="label {{ctrl.estimateStatusEnum.findById(ctrl.estimate_model.status).color}} {{ctrl.estimateStatusEnum.findById(ctrl.estimate_model.status).font}}" ng-if="ctrl.estimate_model.status !== ctrl.estimateStatusEnum.FREE.id">
            {{ctrl.estimateStatusEnum.findById(ctrl.estimate_model.status).name}}
          </span>
          <span ng-if="ctrl.estimate_model.order_id !== null">
            <a href="/orders/{{ctrl.estimate_model.order_id}}">(Pedido #{{ctrl.estimate_model.order_id}})</a>
          </span>
        </span>
      </div>
      <div class="actions">
      </div>
    </div>
    <div class="portlet-title" ng-if="ctrl.estimate_model.status === ctrl.estimateStatusEnum.ERROR.id && ctrl.estimate_model.message.length > 0">
      <div class="font-red">
        <ul>
          <li ng-repeat="message in ctrl.estimate_model.message" ng-bind-html="message"></li>
        </ul>
      </div>

      <div ng-bind-html="ctrl.processingMessage"></div>
    </div>
    <div class="portlet-title" ng-if="ctrl.inProgress === true">
      <div class="font-green">
        <div class="progress progress-striped active">
          <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{ctrl.pct_complete}}" aria-valuemin="0" aria-valuemax="100" style="width: {{ctrl.pct_complete}}%">
          </div>
        </div>
        {{ctrl.pct_complete}}% (Passo {{ctrl.at}} de {{ctrl.progress}})
      </div>

      <div ng-bind-html="ctrl.processingMessage"></div>
    </div>
    <div class="portlet-body form">
      <form role="form" name="estimateForm" ng-submit="ctrl.saveEstimate()">
        <div class="form-body">
          <div class="row">
            <div class="col-sm-2">
              <div class="form-group form-md-line-input form-md-floating-label">
                <input type="text" class="form-control date-picker" ng-class="{'edited': ctrl.estimate_model.date != null}" size="16" ng-model="ctrl.estimate_model.date" id="estimate_date" ng-disabled="true" ng-required="true" />
                <label for="estimate_date">Data</label>
                <span class="help-block"></span>
              </div>
            </div>

            <div class="col-sm-10">
              <div class="form-group form-md-line-input">
                <ui-select ng-model="ctrl.estimate_model.client" theme="selectize" class="form-control margin-bottom-10" ng-disabled="ctrl.estimate_model.options_count > 0 " on-select="ctrl.setClient($item)" ng-required="true">
                  <ui-select-match placeholder="Selecione o cliente">{{$select.selected.name}}</ui-select-match>
                  <ui-select-choices repeat="client in ctrl.clients | filter: $select.search | orderBy: client.name">
                    <div ng-bind-html="client.name | highlight: $select.search"></div>
                    <small ng-if="client.type === 'Distributor'">Distribuidor</small>
                    <small ng-if="client.type === 'Store'">Loja</small>
                    <small ng-if="client.type === 'Customer'">Cliente</small>
                    ->
                    <small ng-if="client.owner.type === 'Factory'">{{client.owner.name}}</small>
                    <small ng-if="client.owner.type === 'Distributor'">Distribuidor {{client.owner.name}}</small>
                    <small ng-if="client.owner.type === 'Store'">Loja {{client.owner.name}}</small>
                  </ui-select-choices>
                </ui-select>
                <span ng-if="ctrl.id === undefined && user.type === 'Administrator'">
                  Não achou o cliente? Cadastre
                  <span  ng-if="user.workplace.type === 'Factory'">
                    <a href="javascript:;" data-toggle="modal" data-target="#distributor_modal">
                      um novo distribuidor
                    </a>
                    |
                    <div id="distributor_modal" class="modal fade in bs-modal-lg" tabindex="-1" role="basic" aria-hidden="true">
                      <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                            <h3 class="modal-title">
                              <strong>Novo distribuidor</strong>
                            </h3>
                          </div>
                          <div class="modal-body">
                            <distributor-form in-modal="true" on-create="ctrl.loadClients"></distributor-form>
                          </div>
                        </div>
                      </div>
                    </div>
                  </span>
                  <span ng-if="user.workplace.type === 'Factory' || user.workplace.type === 'Distributor'">
                    <a href="javascript:;" data-toggle="modal" data-target="#store_modal">
                      uma nova loja
                    </a>
                    <span ng-if="user.workplace.type === 'Factory'">|</span>
                    <div id="store_modal" class="modal fade in bs-modal-lg" tabindex="-1" role="basic" aria-hidden="true">
                      <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                            <h3 class="modal-title">
                              <strong>Nova loja</strong>
                            </h3>
                          </div>
                          <div class="modal-body">
                            <store-form in-modal="true" on-create="ctrl.loadClients"></store-form>
                          </div>
                        </div>
                      </div>
                    </div>
                  </span>
                  <span ng-if="user.workplace.type === 'Factory' || user.workplace.type === 'Store'">
                    <a href="javascript:;" data-toggle="modal" data-target="#customer_modal">
                      um novo cliente
                    </a>
                    <div id="customer_modal" class="modal fade in bs-modal-lg" tabindex="-1" role="basic" aria-hidden="true">
                      <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                            <h3 class="modal-title">
                              <strong>Novo cliente</strong>
                            </h3>
                          </div>
                          <div class="modal-body">
                            <customer-form in-modal="true" on-create="ctrl.loadClients"></customer-form>
                          </div>
                        </div>
                      </div>
                    </div>
                  </span>
                </span>
              </div>
            </div>
          </div>

          <div class="form-actions noborder" ng-if="!ctrl.readonly() && ctrl.id === undefined">
            <button type="submit" class="btn blue">Criar</button>
          </div>
        </div>
      </form>
    </div>

    <span ng-if="ctrl.id !== undefined">
      <div class="portlet-title">
        <div class="caption font-green">
          <span class="caption-subject bold uppercase">Ambientes</span>
        </div>
        <div class="actions">
        </div>
      </div>

      <div class="portlet-body form">
        <form role="form" name="ctrl.environmentForm" ng-if="!ctrl.readonly()" ng-submit="ctrl.addEnvironment()">
          <div class="form-body">
            <div class="row">
              <div class="col-sm-3">
                <div class="form-group form-md-line-input">
                  <ui-select ng-model="ctrl.environment_model.category" theme="selectize" class="form-control" ng-required="true">
                    <ui-select-match placeholder="Selecione o ambiente">{{$select.selected.name}}</ui-select-match>
                    <ui-select-choices repeat="environment.id as environment in ctrl.environmentEnum.enums | orderBy:'name' | filter: $select.search">
                      <div ng-bind-html="environment.name | highlight: $select.search"></div>
                    </ui-select-choices>
                  </ui-select>
                </div>
              </div>

              <div class="col-sm-6">
                <div class="form-group form-md-line-input form-md-floating-label">
                  <input type="text" class="form-control" ng-class="{'edited': ctrl.environment_model.name != null}" ng-model="ctrl.environment_model.name" id="environment_name">
                  <label for="environment_name">Descrição</label>
                  <span class="help-block"></span>
                </div>
              </div>

              <div class="col-sm-1">
                <button type="submit" class="btn green margin-top-20">
                  <i class="fa fa-plus"></i>
                </button>
              </div>
            </div>
          </div>
        </form>

        <hr ng-if="!ctrl.readonly()" />

        <div class="floating-button">
          <button type="button" class="btn green margin-top-20" ng-click="ctrl.openOptionModal()" ng-disabled="ctrl.selected_locations.length === 0">
            <i class="fa fa-cog"></i> Configurar selecionados
          </button>
        </div>

        <div class="row" ng-if="!ctrl.readonly()">
          <div class="col-sm-3">
            <button type="button" class="btn green margin-top-20" ng-click="ctrl.openOptionModal()" ng-disabled="ctrl.selected_locations.length === 0">
              <i class="fa fa-cog"></i> Configurar selecionados
            </button>
          </div>
        </div>

        <div class="panel-group accordion margin-top-20" id="environments">
          <option-modal selected-location="ctrl.modalLocations" ng-if="!ctrl.readonly()" express="true" callback="ctrl.optionCreatedCallback()"></option-modal>

          <div class="panel panel-default" ng-repeat="environment in ctrl.environments">
            <express-environment-detail environment="environment" index="$index" has-order="ctrl.readonly()" hide-description="ctrl.can_generate_order === false"></express-environment-detail>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="accordion-toggle accordion-toggle-styled collapsed" data-toggle="collapse" data-parent="#environments" href="javascript:;" data-target="#estimate_items">
                  Produtos e Serviços
                  <span class="pull-right margin-right-10">
                    {{ctrl.estimate_model.items_total | currency :"":2}}
                  </span>
                </a>
              </h4>
            </div>

            <div id="estimate_items" class="panel-collapse collapse">
              <div class="panel-body">
                <div class="row" ng-if="ctrl.estimate_model.order_id === null">
                  <div class="col-sm-3">
                    <div class="form-group form-md-line-input">
                      <ui-select ng-model="ctrl.item" theme="selectize" class="form-control">
                        <ui-select-match placeholder="Selecione o produto/serviço">
                          {{$select.selected.type_name.toUpperCase()}} {{$select.selected.code === null ? '' : $select.selected.code + ' - '}}{{$select.selected.description}}
                        </ui-select-match>
                        <ui-select-choices repeat="item in ctrl.items | filter: $select.search">
                          <div ng-bind-html="(item.code === null ? '' : (item.code + ' - ')) + item.description | highlight: $select.search"></div>
                          <label class="label {{item.type_color}} margin-bottom-10">{{item.type_name}}</label>
                        </ui-select-choices>
                      </ui-select>
                    </div>
                  </div>

                  <div class="col-sm-5">
                    <div class="form-group form-md-line-input form-md-floating-label">
                      <div class="input-group">
                        <input type="text" class="form-control" ng-model="ctrl.item_quantity" data-plugin="masked-input-decimal" ng-init="ctrl.initMaskedInput()">
                        <label for="location_name">Quantidade</label>
                        <span class="input-group-addon">
                          {{ctrl.unitEnum.findById(ctrl.item.unit).unit}}
                        </span>
                      </div>
                    </div>
                  </div>

                  <div class="col-sm-1">
                    <button type="button" class="btn green margin-top-20" ng-click="ctrl.addItem()">
                      <i class="fa fa-plus"></i>
                    </button>
                  </div>
                </div>

                <div class="row" ng-hide="ctrl.estimate_model.items.length == 0">
                  <div class="col-md-11 options-container">
                    <ul class="list-unstyled">
                      <li ng-repeat="item in ctrl.estimate_model.items" ng-mouseenter="options=true" ng-mouseleave="options=false">
                        <div class="row">
                          <div class="col-md-7">
                            <label class="label margin-right-10 {{ctrl.itemTypeEnum.findById(item.type).color}}">
                              {{ctrl.itemTypeEnum.findById(item.type).name}}
                            </label>{{item.item_code === null ? '' : item.item_code + ' - '}}{{item.item_description}}
                          </div>

                          <div class="col-md-3">
                            {{item.quantity | currency :"":2}} {{ctrl.unitEnum.findById(item.unit).unit}} x {{item.value | currency :"":2}}
                          </div>

                          <div class="col-md-2 text-right va-middle">
                            <label class="label label-success margin-right-10" ng-if="item.discount !== 0">
                              {{item.discount | currency :"":2}}%
                            </label>
                            <div class="popover-wrapper">
                              <a href="#" editable-discount="item.discount" onbeforesave="ctrl.updateItemDiscount($data, $type, item)" edit-disabled="{{ctrl.readonly()}}" ng-class="{'editable-disabled': ctrl.readonly()}" blur="submit" e-total="item.total">
                                {{item.total_with_discount | currency :"":2}}
                              </a>
                            </div>

                            <span ng-if="ctrl.estimate_model.order_id === null">
                              <a href="javascript:;" ng-click="ctrl.deleteItem(item)">
                                <i class="fa fa-times-circle font-red" ng-show="options"></i>
                              </a>
                            </span>
                          </div>
                        </div>
                      </li>
                    </ul>

                    <div class="col-md-10">
                      <h4 class="bold text-uppercase">Subtotal</h4>
                    </div>

                    <div class="col-md-2 text-right bold">
                      <h4>
                        {{ctrl.estimate_model.items_total | currency :"":2}}
                      </h4>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="note note-info">
          <h4 class="block text-uppercase">Subtotal Geral<span class="pull-right">{{ctrl.estimate_model.partial_total | currency :"":2}}</span></h4>
        </div>

        <div class="note note-info">
          <h4 class="block text-uppercase">Desconto Geral
            <span class="pull-right">
              <label class="label label-success margin-right-10" ng-if="ctrl.estimate_model.discount !== 0">
                {{ctrl.estimate_model.discount | currency :"":2}}%
              </label>
              <a href="#" editable-discount="ctrl.estimate_model.discount" onbeforesave="ctrl.updateEstimateDiscount($data, $type)" edit-disabled="{{ctrl.readonly() || ctrl.estimate_model.partial_total === 0}}" ng-class="{'editable-disabled': ctrl.readonly()}" blur="submit" e-total="ctrl.estimate_model.partial_total">
                {{ctrl.discountValue() | currency :"":2}}
              </a>
            </span>
          </h4>
        </div>

        <div class="note note-info">
          <h4 class="block text-uppercase">Total dos descontos<span class="pull-right">{{ctrl.estimate_model.total_discount | currency :"":2}}</span></h4>
        </div>

        <div class="note note-info">
          <h4 class="block text-uppercase">Total<span class="pull-right">{{ctrl.estimate_model.total_with_discount | currency :"":2}}</span></h4>
        </div>

        <form role="form" name="environmentDetailForm" ng-submit="ctrl.saveEstimate()">
          <div class="form-body">
            <div class="row">
              <div class="col-sm-4">
                <div class="form-group form-md-checkboxes">
                  <div class="md-checkbox-list">
                    <div class="md-checkbox">
                      <input type="checkbox" ng-model="ctrl.estimate_model.optimize" id="checkbox_optimize" name="checkbox_optimize" class="md-check" ng-true-value="true" ng-false-value="false" ng-click="ctrl.lockEstimate()" ng-disabled="ctrl.estimate_model.order_id !== null || ctrl.estimate_model.options_count <= 1">
                      <label for="checkbox_optimize">
                      <span></span>
                      <span class="check"></span>
                      <span class="box"></span>Otimizar preço</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-4">
                <div class="form-group form-md-line-input form-md-floating-label">
                  <textarea rows="3" class="form-control" ng-class="{'edited': ctrl.estimate_model.observation != null && ctrl.estimate_model.observation != ''}" ng-model="ctrl.estimate_model.observation" id="estimate_observation" ng-disabled="ctrl.estimate_model.order_id !== null" ng-change="ctrl.saveEstimate()" ng-model-options="{updateOn: 'blur'}">
                  </textarea>
                  <label for="estimate_observation">Observações</label>
                </div>
              </div>
            </div>
          </div>

          <div class="form-actions noborder" ng-if="ctrl.estimate_model.order_id === null">
            <button type="button" class="btn blue" ng-click="ctrl.calculateEstimate()" ng-disabled="ctrl.id === undefined">
              Calcular e salvar
            </button>
            <button type="button" class="btn blue" ng-click="ctrl.generateOrder()" ng-disabled="ctrl.id === undefined || ctrl.estimate_model.total === 0 || ctrl.can_generate_order === false">
              Gerar pedido
            </button>
            <button type="button" class="btn green" ng-click="ctrl.duplicateEstimate()" ng-disabled="ctrl.id === undefined">Duplicar</button>
            <a href="/estimates" class="btn default">Voltar</a> 
          </div>
        </form>
      </div>
    </span>
  </div>
</div>