<div class="invoice-content-2" ng-controller="DocIndexCtrl as ctrl">
  <div class="row invoice-head">
    <div class="col-xs-4">
      <div class="invoice-logo">
        <img src="images/logo.png" class="img-responsive" alt="" />
        <h1 class="uppercase">Documento</h1>
      </div>
    </div>
  </div>

  <div ng-bind-html="ctrl.model.text"></div>
</div>